CREATE OR ALTER PROCEDURE [dbo].[proc_Orgn_Dir_Electronica_Observacion_Update]
	@Id_Direccion_Electronica int
	,@Observacion nvarchar(100) = NULL
AS
BEGIN
	DECLARE @ID_Secuencia_Dir_Electronica_Bitacora INT = 52, @Id_Bitacora INT = 0
	EXEC proc_Orgn_Numero_Secuencia_Extrae @ID_Secuencia_Dir_Electronica_Bitacora,'S',1,@Num_Secuencia = @Id_Bitacora OUTPUT

	Insert into [dbo].[DR_Dir_Electronicas_Bitacora]
	Select [Id_Direccion_Electronica]
		  ,[Cod_Dir_Electronica]
		  ,[ID_Persona]
		  ,[Prefijo_Nacional]
		  ,[Codigo_Area]
		  ,[Txt_Direccion]
		  ,[Extension]
		  ,[Observacion]
		  ,[Fecha_Inicio]
		  ,[Fecha_Final]
		  ,[Cod_Ecv_Direccion]
		  ,[Fecha_Ult_Accion]
		  ,[Cod_Ult_Accion]
		  ,[Fecha_Registro]
		  ,[Valido_Desde]
		  ,[Valido_Hasta]
		  ,[Fecha_Ult_Cambio]
		  ,[Version]
		  ,[Prioridad]
		  ,getdate() AS Fecha_Registro_Cambio
		  ,@Id_Bitacora AS Id_Bitacora
		  ,NULL AS Id_Referencia
		  ,NULL AS Cod_Ind_Congelado
	From [dbo].[DR_Dir_Electronicas]
	WHERE [Id_Direccion_Electronica] = @Id_Direccion_Electronica

	UPDATE [dbo].[DR_Dir_Electronicas]
	   SET [Observacion] = @Observacion
	 WHERE [Id_Direccion_Electronica] = @Id_Direccion_Electronica

	SELECT @Id_Direccion_Electronica AS Id_Direccion_Electronica
END
