ALTER Proc [dbo].[proc_Orgn_Solicitud_Domicilio_Add_Update]
	@Id_Direccion int
	,@Ind_Catalogado bit
	,@Id_Colonia int
	,@Id_Delegacion int
	,@Id_Municipio int
	,@Id_Edo_Region smallint
	,@Cod_Pais_ISO smallint
	,@Cod_Tipo_Domicilio char(2)
	,@Cod_Situacion_Domicilio char(2) = NULL
	,@Calle nvarchar(50)
	,@Numero_Ext nvarchar(10)
	,@Numero_Int nvarchar(10)
	,@Unidad_Habitacional nvarchar(30)
	,@Edificio nvarchar(20) = NULL
	,@Piso nvarchar(10) = NULL
	,@Departamento nvarchar(10) = NULL
	,@Casa nvarchar(10) = NULL
	,@Lote nvarchar(10) = NULL
	,@Manzana nvarchar(10) = NULL
	,@Codigo_Postal varchar(5)
	,@Colonia nvarchar(30)
	,@Localidad nvarchar(30) = NULL
	,@Delegacion nvarchar(30)
	,@Municipio nvarchar(30)
	,@Edo_Region nvarchar(30)
	,@Pais nvarchar(4)
	,@EntreCalles nvarchar(50) = NULL
	,@Cod_Ecv_Direccion char(1)
	,@Fecha_Ult_Accion date
	,@Cod_Ult_Accion char(2)
	,@Id_Persona int
	,@Fecha_Inicio_Residencia date = null
	,@Fecha_Fin_Residencia date = null
	,@Fecha_Registro datetime
	,@Fecha_Valido_Desde date = null
	,@Fecha_Valido_Hasta date = null
	,@Fecha_Ult_Cambio datetime
	,@Version smallint = 1
	,@Prioridad char(1) = "1"
	,@Latitud varchar(20) = ''
	,@Longitud varchar(20) = ''
	,@RegresaDatos bit = 1
	,@Observaciones nvarchar(500) = NULL
as
Begin

	if @Id_Direccion = 0 -- Alta de nuevo domicilio
	begin
		Declare @ID_Secuencia Int = 7  --Secuencia Domicilio
		Exec proc_Orgn_Numero_Secuencia_Extrae @ID_Secuencia,'S',1,@Num_Secuencia = @Id_Direccion Output

		-- Quitar la prioridad a todas las direcciones anteriores
		update DR_Domicilios set prioridad = 2 where Id_Persona = @Id_Persona

		INSERT INTO [dbo].[DR_Domicilios]
				   ([Id_Direccion]
				   ,[Ind_Catalogado]
				   ,[Id_Colonia]
				   ,[Id_Delegacion]
				   ,[Id_Municipio]
				   ,[Id_Edo_Region]
				   ,[Cod_Pais_ISO]
				   ,[Cod_Tipo_Domicilio]
				   ,[Cod_Situacion_Domicilio]
				   ,[Calle]
				   ,[Numero_Ext]
				   ,[Numero_Int]
				   ,[Unidad_Habitacional]
				   ,[Edificio]
				   ,[Piso]
				   ,[Departamento]
				   ,[Casa]
				   ,[Lote]
				   ,[Manzana]
				   ,[Codigo_Postal]
				   ,[Colonia]
				   ,[Localidad]
				   ,[Delegacion]
				   ,[Municipio]
				   ,[Edo_Region]
				   ,[Pais]
				   ,[EntreCalles]
				   ,[Cod_Ecv_Direccion]
				   ,[Fecha_Ult_Accion]
				   ,[Cod_Ult_Accion]
				   ,[Id_Persona]
				   ,[Fecha_Inicio_Residencia]
				   ,[Fecha_Fin_Residencia]
				   ,[Fecha_Registro]
				   ,[Fecha_Valido_Desde]
				   ,[Fecha_Valido_Hasta]
				   ,[Fecha_Ult_Cambio]
				   ,[Version]
				   ,[Prioridad]
				   ,[Latitud]
				   ,[Longitud]
				   ,[Observaciones]
				   )
			 VALUES
				(
				 @Id_Direccion
				,@Ind_Catalogado
				,@Id_Colonia
				,@Id_Delegacion
				,@Id_Municipio
				,@Id_Edo_Region
				,@Cod_Pais_ISO
				,@Cod_Tipo_Domicilio
				,@Cod_Situacion_Domicilio
				,@Calle
				,@Numero_Ext
				,@Numero_Int
				,@Unidad_Habitacional
				,@Edificio
				,@Piso
				,@Departamento
				,@Casa
				,@Lote
				,@Manzana
				,@Codigo_Postal
				,@Colonia
				,@Localidad
				,@Delegacion
				,@Municipio
				,@Edo_Region
				,@Pais
				,@EntreCalles
				,@Cod_Ecv_Direccion
				,@Fecha_Ult_Accion
				,@Cod_Ult_Accion
				,@Id_Persona
				,@Fecha_Inicio_Residencia
				,@Fecha_Fin_Residencia
				,@Fecha_Registro
				,@Fecha_Valido_Desde
				,@Fecha_Valido_Hasta
				,@Fecha_Ult_Cambio
				,@Version
				,@Prioridad
				,@Latitud
				,@Longitud
				,@Observaciones
				)
	end else
	begin
		DECLARE @ID_Secuencia_Domicilios_Bitacora INT = 51 ,@Id_Bitacora INT = 0
		EXEC proc_Orgn_Numero_Secuencia_Extrae @ID_Secuencia_Domicilios_Bitacora,'S',1,@Num_Secuencia = @Id_Bitacora OUTPUT

		-- Se realiza la creaciÃ³n del registro en [dbo].[DR_Domicilios_Bitacora]
		Insert into DR_Domicilios_Bitacora
		Select [Id_Direccion]
				   ,[Ind_Catalogado]
				   ,[Id_Colonia]
				   ,[Id_Delegacion]
				   ,[Id_Municipio]
				   ,[Id_Edo_Region]
				   ,[Cod_Pais_ISO]
				   ,[Cod_Tipo_Domicilio]
				   ,[Cod_Situacion_Domicilio]
				   ,[Calle]
				   ,[Numero_Ext]
				   ,[Numero_Int]
				   ,[Unidad_Habitacional]
				   ,[Edificio]
				   ,[Piso]
				   ,[Departamento]
				   ,[Casa]
				   ,[Lote]
				   ,[Manzana]
				   ,[Codigo_Postal]
				   ,[Colonia]
				   ,[Localidad]
				   ,[Delegacion]
				   ,[Municipio]
				   ,[Edo_Region]
				   ,[Pais]
				   ,[EntreCalles]
				   ,[Cod_Ecv_Direccion]
				   ,[Fecha_Ult_Accion]
				   ,[Cod_Ult_Accion]
				   ,[Id_Persona]
				   ,[Fecha_Inicio_Residencia]
				   ,[Fecha_Fin_Residencia]
				   ,[Fecha_Registro]
				   ,[Fecha_Valido_Desde]
				   ,[Fecha_Valido_Hasta]
				   ,[Fecha_Ult_Cambio]
				   ,[Version]
				   ,[Prioridad]
				   ,getdate() AS Fecha_Registro_Cambio
				   ,[Latitud]
				   ,[Longitud]
				   ,@Id_Bitacora AS Id_Bitacora
				   ,NULL AS Id_Referencia
				   ,NULL AS Cod_Ind_Congelado
				   ,[Observaciones]
				from [DR_Domicilios]
				WHERE [Id_Direccion] = @Id_Direccion

		UPDATE [dbo].[DR_Domicilios]
		   SET
			  [Ind_Catalogado] = @Ind_Catalogado
			  ,[Id_Colonia] = @Id_Colonia
			  ,[Id_Delegacion] = @Id_Delegacion
			  ,[Id_Municipio] = @Id_Municipio
			  ,[Id_Edo_Region] = @Id_Edo_Region
			  ,[Cod_Pais_ISO] = @Cod_Pais_ISO
			  ,[Cod_Tipo_Domicilio] = @Cod_Tipo_Domicilio
			  ,[Cod_Situacion_Domicilio] = @Cod_Situacion_Domicilio
			  ,[Calle] = @Calle
			  ,[Numero_Ext] = @Numero_Ext
			  ,[Numero_Int] = @Numero_Int
			  ,[Unidad_Habitacional] = @Unidad_Habitacional
			  ,[Edificio] = @Edificio
			  ,[Piso] = @Piso
			  ,[Departamento] = @Departamento
			  ,[Casa] = @Casa
			  ,[Lote] = @Lote
			  ,[Manzana] = @Manzana
			  ,[Codigo_Postal] = @Codigo_Postal
			  ,[Colonia] = @Colonia
			  ,[Localidad] = @Localidad
			  ,[Delegacion] = @Delegacion
			  ,[Municipio] = @Municipio
			  ,[Edo_Region] = @Edo_Region
			  ,[Pais] = @Pais
			  ,[EntreCalles] = @EntreCalles
			  ,[Cod_Ecv_Direccion] = @Cod_Ecv_Direccion
			  ,[Fecha_Ult_Accion] = @Fecha_Ult_Accion
			  ,[Cod_Ult_Accion] = @Cod_Ult_Accion
			  ,[Id_Persona] = @Id_Persona
			  ,[Fecha_Inicio_Residencia] = @Fecha_Inicio_Residencia
			  ,[Fecha_Fin_Residencia] = @Fecha_Fin_Residencia
			  ,[Fecha_Registro] = @Fecha_Registro
			  ,[Fecha_Valido_Desde] = @Fecha_Valido_Desde
			  ,[Fecha_Valido_Hasta] = @Fecha_Valido_Hasta
			  ,[Fecha_Ult_Cambio] = @Fecha_Ult_Cambio
			  ,[Version] = @Version
			  ,[Prioridad] = @Prioridad
			  ,[Latitud] = @Latitud
			  ,[Longitud] = @Longitud
			  ,[Observaciones] = @Observaciones
		 WHERE [Id_Direccion] = @Id_Direccion
	end

	if @RegresaDatos = 1
	begin
		select @Id_Direccion Id_Direccion
	end
end
