ALTER PROCEDURE [dbo].[Proc_orgn_DR_Domicilios_Extrae_x_Id]
	@Id_Direccion INT
	,@Id_Credito INT = 0
AS
DECLARE
	@Id_Persona INT = 0
BEGIN
	SELECT @Id_Persona=Id_Persona
	FROM DR_Domicilios
	WHERE Prioridad=1 AND Id_Direccion=@Id_Direccion

	PRINT('Check CrÃ©dito Cerrado')
	IF EXISTS(
				SELECT cc.Id_Entidad
				FROM CR_Credito_Cerrado AS cc
				INNER JOIN DR_Domicilios_Bitacora AS dirBit ON cc.ID_Persona=dirBit.Id_Persona
						AND cc.ID_Credito=dirBit.Id_Referencia
						AND dirBit.Cod_Ind_Congelado='S'
				WHERE cc.Id_Tipo_Entidad=2 AND cc.ID_Credito=@Id_Credito AND cc.ID_Persona=@Id_Persona)
	BEGIN
		PRINT('<Datos Domicilios Imagenes Congelado>')
		SELECT
			   ISNULL(domi.Id_Direccion,0) AS Id_Direccion
			  ,ISNULL(domi.Ind_Catalogado,0) AS Ind_Catalogado
			  ,ISNULL(domi.Id_Colonia,0) AS Id_Colonia
			  ,ISNULL(domi.Id_Delegacion,0) AS Id_Delegacion
			  ,ISNULL(domi.Id_Municipio,0) AS Id_Municipio
			  ,ISNULL(domi.Id_Edo_Region,0) AS Id_Edo_Region
			  ,ISNULL(domi.Cod_Pais_ISO,0) AS Cod_Pais_ISO
			  ,ISNULL(domi.Cod_Tipo_Domicilio,'') AS Cod_Tipo_Domicilio
			  ,ISNULL(domi.Cod_Situacion_Domicilio,'') AS Cod_Situacion_Domicilio
			  ,ISNULL(domi.Calle,'') AS Calle
			  ,ISNULL(domi.Numero_Ext,'') AS Numero_Ext
			  ,ISNULL(domi.Numero_Int,'') AS Numero_Int
			  ,ISNULL(domi.Unidad_Habitacional,'') AS Unidad_Habitacional
			  ,ISNULL(domi.Edificio,'') AS Edificio
			  ,ISNULL(domi.Piso,'') AS Piso
			  ,ISNULL(domi.Departamento,'') AS Departamento
			  ,ISNULL(domi.Casa,'') AS Casa
			  ,ISNULL(domi.Lote,'') AS Lote
			  ,ISNULL(domi.Manzana,'') AS Manzana
			  ,ISNULL(domi.Codigo_Postal,'') AS Codigo_Postal
			  ,ISNULL(IIF(domi.Ind_Catalogado = 1, col.Nombre, domi.Colonia),'') AS Colonia
			  ,ISNULL(domi.Localidad,'') AS Localidad
			  ,ISNULL(domi.Delegacion, '') AS Delegacion
			  ,ISNULL(IIF(domi.Ind_Catalogado = 1, mun.Nombre, domi.Municipio),'') AS Municipio
			  ,ISNULL(IIF(domi.Ind_Catalogado = 1, edos.Nombre, domi.Edo_Region),'') AS Edo_Region
			  ,ISNULL(domi.Pais,'') AS Pais
			  ,ISNULL(domi.EntreCalles,'') AS EntreCalles
			  ,ISNULL(domi.Cod_Ecv_Direccion,'') AS Cod_Ecv_Direccion
			  ,domi.Fecha_Ult_Accion
			  ,ISNULL(domi.Cod_Ult_Accion,'') AS Cod_Ult_Accion
			  ,ISNULL(tdomi.Nombre,'') AS Tipo_Domicilio
			  ,ISNULL(sdomi.Nombre,'') AS Situacion_Domicilio
			  ,ISNULL(domi.Id_Persona,0) AS Id_Persona
			  ,[Fecha_Inicio_Residencia]
			  ,[Fecha_Fin_Residencia]
			  ,[Fecha_Registro]
			  ,[Fecha_Valido_Desde]
			  ,[Fecha_Valido_Hasta]
			  ,[Fecha_Ult_Cambio]
			  ,ISNULL([Version],0) AS Version
			  ,ISNULL([Prioridad],0) AS Prioridad
			  ,ISNULL([Longitud],'') AS Longitud
			  ,ISNULL([Latitud],'') AS Latitud
			  ,ISNULL([Id_Referencia],0) AS Id_Referencia
			  ,ISNULL([Cod_Ind_Congelado],'') AS Cod_Ind_Congelado
			  ,ISNULL(domi.Observaciones,'') AS Observaciones
		  FROM DR_Domicilios_Bitacora domi
		  LEFT JOIN TR_Colonia col ON domi.Id_Colonia = col.ID_Colonia
			AND domi.Id_Municipio = col.ID_Municipio
		  LEFT JOIN TR_Municipio mun ON domi.Id_Municipio = mun.ID_Municipio
			AND domi.Id_Edo_Region = mun.Cod_Edo_Region
		  LEFT JOIN TR_Edo_Region edos ON domi.Id_Edo_Region = edos.Cod_Edo_Region
		  LEFT JOIN TR_Tipo_Domicilio tdomi ON domi.Cod_Tipo_Domicilio = tdomi.Cod_Tipo_Domicilio
		  LEFT JOIN TR_SDomicilio sdomi ON domi.Cod_Situacion_Domicilio = sdomi.Cod_Situacion_Domicilio
		  WHERE domi.Prioridad=1
			AND domi.Id_Referencia=@Id_Credito
			AND domi.Id_Direccion=@Id_Direccion

	END
	ELSE
	BEGIN
		PRINT('<Datos Domicilios Imagenes VIVO>')
		SELECT
			   ISNULL(domi.Id_Direccion,0) AS Id_Direccion
			  ,ISNULL(domi.Ind_Catalogado,0) AS Ind_Catalogado
			  ,ISNULL(domi.Id_Colonia,0) AS Id_Colonia
			  ,ISNULL(domi.Id_Delegacion,0) AS Id_Delegacion
			  ,ISNULL(domi.Id_Municipio,0) AS Id_Municipio
			  ,ISNULL(domi.Id_Edo_Region,0) AS Id_Edo_Region
			  ,ISNULL(domi.Cod_Pais_ISO,0) AS Cod_Pais_ISO
			  ,ISNULL(domi.Cod_Tipo_Domicilio,'') AS Cod_Tipo_Domicilio
			  ,ISNULL(domi.Cod_Situacion_Domicilio,'') AS Cod_Situacion_Domicilio
			  ,ISNULL(domi.Calle,'') AS Calle
			  ,ISNULL(domi.Numero_Ext,'') AS Numero_Ext
			  ,ISNULL(domi.Numero_Int,'') AS Numero_Int
			  ,ISNULL(domi.Unidad_Habitacional,'') AS Unidad_Habitacional
			  ,ISNULL(domi.Edificio,'') AS Edificio
			  ,ISNULL(domi.Piso,'') AS Piso
			  ,ISNULL(domi.Departamento,'') AS Departamento
			  ,ISNULL(domi.Casa,'') AS Casa
			  ,ISNULL(domi.Lote,'') AS Lote
			  ,ISNULL(domi.Manzana,'') AS Manzana
			  ,ISNULL(domi.Codigo_Postal,'') AS Codigo_Postal
			  ,ISNULL(IIF(domi.Ind_Catalogado = 1, col.Nombre, domi.Colonia),'') AS Colonia
			  ,ISNULL(domi.Localidad,'') AS Localidad
			  ,ISNULL(domi.Delegacion, '') AS Delegacion
			  ,ISNULL(IIF(domi.Ind_Catalogado = 1, mun.Nombre, domi.Municipio),'') AS Municipio
			  ,ISNULL(IIF(domi.Ind_Catalogado = 1, edos.Nombre, domi.Edo_Region),'') AS Edo_Region
			  ,ISNULL(domi.Pais,'') AS Pais
			  ,ISNULL(domi.EntreCalles,'') AS EntreCalles
			  ,ISNULL(domi.Cod_Ecv_Direccion,'') AS Cod_Ecv_Direccion
			  ,domi.Fecha_Ult_Accion
			  ,ISNULL(domi.Cod_Ult_Accion,'') AS Cod_Ult_Accion
			  ,ISNULL(tdomi.Nombre,'') AS Tipo_Domicilio
			  ,ISNULL(sdomi.Nombre,'') AS Situacion_Domicilio
			  ,ISNULL(domi.Id_Persona,0) AS Id_Persona
			  ,[Fecha_Inicio_Residencia]
			  ,[Fecha_Fin_Residencia]
			  ,[Fecha_Registro]
			  ,[Fecha_Valido_Desde]
			  ,[Fecha_Valido_Hasta]
			  ,[Fecha_Ult_Cambio]
			  ,ISNULL([Version],0) AS Version
			  ,ISNULL([Prioridad],0) AS Prioridad
			  ,ISNULL([Longitud],'') AS Longitud
			  ,ISNULL([Latitud],'') AS Latitud
			  ,0 AS Id_Referencia
			  ,'' AS Cod_Ind_Congelado
			  ,ISNULL(domi.Observaciones,'') AS Observaciones
		  FROM DR_Domicilios domi
		  LEFT JOIN TR_Colonia col ON domi.Id_Colonia = col.ID_Colonia
			AND domi.Id_Municipio = col.ID_Municipio
		  LEFT JOIN TR_Municipio mun ON domi.Id_Municipio = mun.ID_Municipio
			AND domi.Id_Edo_Region = mun.Cod_Edo_Region
		  LEFT JOIN TR_Edo_Region edos ON domi.Id_Edo_Region = edos.Cod_Edo_Region
		  LEFT JOIN TR_Tipo_Domicilio tdomi ON domi.Cod_Tipo_Domicilio = tdomi.Cod_Tipo_Domicilio
		  LEFT JOIN TR_SDomicilio sdomi ON domi.Cod_Situacion_Domicilio = sdomi.Cod_Situacion_Domicilio
		  WHERE domi.Prioridad=1
			AND domi.Id_Direccion=@Id_Direccion
	END
END
