USE [Originacion]
GO
/****** Object:  StoredProcedure [dbo].[proc_Orgn_Solicitud_Analisis_Datos_Credito]    Script Date: 22/04/2026 13:19:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[proc_Orgn_Solicitud_Analisis_Datos_Credito]
	-- Add the parameters for the stored procedure here
	@idcredito int
AS
BEGIN
		-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		---- Tabla Amortiza
	DECLARE @IdCotizacion int;
	DECLARE @IdOferta int;
	DECLARE @CodProducto char(4);
	DECLARE @IdConvenio int;
	DECLARE @CodTarifa char(3);
	DECLARE @CodTipoEmp char(2);
	DECLARE @Importe decimal(10, 2);
	DECLARE @NumCuotas int;
	DECLARE @CodUdm char(1);
	DECLARE @TasaIntOrd decimal(10, 2);
	DECLARE @FactorIva decimal(10, 6);
	DECLARE @FechaInicio date;
	DECLARE @FechaPrimLiq date;
	DECLARE @CodBaseIntOrd char(2);
	--DECLARE @IdCredito int;
	DECLARE @Cod_Financiamiento_Gracia char(2) = '01'
	DECLARE @Metodo_Cobro_Interes_Gracia char(2) = '03'
	DECLARE @Cod_Metodo_Ajuste_Liquidacion char(2)  = '01'	
	----
	DECLARE @ingresos_Nominales decimal(18,2);
	DECLARE @Egresos_Nominales decimal(18,2);
	--DECLARE @Importe_Abono_Renueva decimal(18,2);
	--DECLARE @Importe_Abono_Pago_Interno decimal(18,2);
	declare @Cuota_Mensual_Cap_Liberada decimal(18,2)
	DECLARE @Cuota_Asociada decimal(18,2);
	DECLARE @Importe_Liquida_Credito_Anterior decimal(18,2);
	DECLARE @Deudas_Aprecia decimal(18,2);
	DECLARE @Importe_Amortizacion decimal(18,2);
	DECLARE @Porc_Max_Descuento decimal(10,2);
	DECLARE @Metodo_Calculo char(2);


	DECLARE @UDM_Factor_Mensual decimal(8,4)


	DECLARE @TmpTA table
	(
--	ID_Credito int
--	, 
	Num_Amort int
	, Fecha_Inicio date
	, Fecha_Final date
	, Fecha_Liq date
	, Saldo_Inicial decimal(10,2)
	, Imp_Amortizacion decimal(18,2)
	, Int_Ordinario decimal(18,2)
	, Iva_Int_Ordinario decimal(18,2)
	, Imp_Comision decimal(18,2)
	, Iva_Comision decimal(18,2)
	, Imp_Seguro decimal(18,2)
	, Iva_Seguro decimal(18,2)
	, Saldo_Final decimal(10,2)
	, Total_Cuota decimal(18,2)
	);

	SELECT
	 @IdCotizacion = CTZ.ID_Cotizacion
	, @IdOferta = OFR.ID_Oferta
	, @CodProducto = CR.Cod_Producto
	, @IdConvenio = CR.Id_Convenio
	, @CodTarifa = CR.Cod_Tarifa
	, @CodTipoEmp = CR.Cod_Tipo_Empleado
	, @Importe = CR.Importe
	, @NumCuotas = CR.Plazo
	, @CodUdm = CR.Cod_UDM_Plazo
	, @TasaIntOrd = CR.Tasa_Int_Ord
	, @FactorIva = CR.Porc_Iva
	, @FechaInicio = CR.Fecha_Inicio --CR.Fecha_Operacion
	, @FechaPrimLiq = CR.Fecha_Prim_Liq
	, @CodBaseIntOrd = CR.Cod_Base_Int_Ord
	--, @Id_Credito = CR.ID_Credito
	FROM dbo.Cr_CRedito CR
	INNER JOIN dbo.Ctz_Cotizacion CTZ ON CR.Id_Cotizacion = CTZ.ID_Cotizacion
	INNER JOIN dbo.Ctz_Ofertas OFR ON CTZ.ID_Cotizacion = OFR.ID_Cotizacion
	WHERE CR.ID_Credito = @IdCredito
	AND OFR.Ind_Seleccion = 1
	AND OFR.Importe = CR.Importe;

	select @UDM_Factor_Mensual = Factor_Mensual from TR_Unidad_Medida 
	where Cod_UDM = @CodUdm

	INSERT INTO @TmpTA
	EXEC dbo.proc_Orgn_Plan_De_Amortizacion_Cuota_Constante_Genera @IdCotizacion, @IdOferta, @CodProducto, @IdConvenio, @CodTarifa, @CodTipoEmp, @Importe, @NumCuotas, @CodUdm, @TasaIntOrd, @FactorIva, @FechaInicio, @FechaPrimLiq, @CodBaseIntOrd, @Cod_Financiamiento_Gracia,@Metodo_Cobro_Interes_Gracia,@Cod_Metodo_Ajuste_Liquidacion;

	---Declaración Calculo Maximo de descuento
	DECLARE @TmpCalcMaxDesc table
	(
	 Importe_Max_Desc decimal(18,2)
	,Capacidad_Desc_Utilizada decimal(18,2)
	, Porc_Desc_Utilizado decimal(10,2)
	,Importe_Descuentos_Actuales decimal(18,2)
	);

	SELECT
	@ingresos_Nominales =CR.Ingresos_Nomina -- as nominalesI
	,@Egresos_Nominales = CR.Egresos_Nomina --as nominalesE
	,@Cuota_Mensual_Cap_Liberada = Cr_OFR.Cuota_Mensual_Cap_Liberada
	--,@Importe_Abono_Renueva = Cr_OFR.Importe_Renovacion
	--,@Importe_Abono_Pago_Interno = Cr_OFR.Importe_Movto_Interno
	,@Cuota_Asociada = Cr_OFR.Cuota_Asociada
	,@Importe_Liquida_Credito_Anterior = Cr_OFR.Cuota_Mensual_Cap_Liberada_Ant
	,@Deudas_Aprecia = Cr_OFR.Cuota_Total_Mensual_Credito
	,@Importe_Amortizacion = 
	Case 
		When @UDM_Factor_Mensual < 0 then CR_Ofr.Cuota_Total * abs(@UDM_Factor_Mensual)
		When @UDM_Factor_Mensual > 0 then CR_Ofr.Cuota_Total / abs(@UDM_Factor_Mensual)
		Else CR_Ofr.Cuota_Total 
	End
	--Case 
	--	When CR.Cod_UDM_Plazo = 'M' THEN CR_Ofr.Cuota_Total --Ofer.Cuota_Total
	--	WHEN CR.Cod_UDM_Plazo = 'S' THEN CR_Ofr.Cuota_Total * 4
	--	WHEN CR.Cod_UDM_Plazo = 'Q' THEN CR_Ofr.Cuota_Total * 2
	--	WHEN CR.Cod_UDM_Plazo = 'C' THEN CR_Ofr.Cuota_Total * 2
	--	WHEN CR.Cod_UDM_Plazo = 'N' THEN CR_Ofr.Cuota_Total * 3
	--	WHEN CR.Cod_UDM_Plazo = 'K' THEN CR_Ofr.Cuota_Total * 2
	--End
	,@Porc_Max_Descuento = CR.Porc_Max_Endeudamiento
	,@Metodo_Calculo = CNV.Cod_Calc_Cap_Pago
	FROM dbo.Cr_CRedito CR
	INNER JOIN dbo.Cr_Oferta Cr_OFR ON CR.ID_Credito = Cr_OFR.ID_Credito
	INNER JOIN dbo.Cnv_Convenio CNV on CR.ID_Convenio = CNV.Id_Convenio
	WHERE CR.ID_Credito = @IdCredito
	AND Cr_OFR.Ind_Seleccion = 1
	AND Cr_OFR.Importe = CR.Importe;

	INSERT INTO @TmpCalcMaxDesc
	SELECT * from fn_Orgn_Calcula_Max_Desc (@ingresos_Nominales, @Egresos_Nominales, @Cuota_Mensual_Cap_Liberada, @Cuota_Asociada,@Importe_Liquida_Credito_Anterior
	,@Deudas_Aprecia, @Importe_Amortizacion,@Porc_Max_Descuento,@Metodo_Calculo
	,(select isnull(sum(isnull(importe_pago_mensual,0)),0) from CR_Compra_Deuda 
		where Cod_ECV_Compra_Deuda = '01' and id_Credito = @IdCredito
	))
	
	    -- Insert statements for procedure here
	DECLARE @NumConsulta varchar(50);
	----SET @NumConsulta = '2134154403';

	Select @NumConsulta = CR_Credito.Buro_Credito_Control_Consulta From CR_Credito where ID_Credito = @idcredito
	--Mops NEgativos
	Declare @CadenaMopsNegativos varchar(50)
	--Select Distinct(FormaPagoActual) as Mops from BC_Cuenta where NumeroControlConsulta = @NumConsulta AND FormaPagoActual not in ('00','01','02')

	SELECT
	@CadenaMopsNegativos =  STUFF((
				 SELECT DISTINCT ','+FormaPagoActual
				 FROM BC_Cuenta
				 WHERE NumeroControlConsulta = @NumConsulta
				 AND FormaPagoActual not in ('00','01','02')
				 FOR XML PATH('')
		   ),1,1,'') 
	Print @CadenaMopsNegativos
	--Claves de Observación
	Declare @Cadena varchar(50)
	SELECT
	@Cadena =  STUFF((
				 SELECT DISTINCT ','+ClaveObservacion
				 FROM BC_Cuenta
				 WHERE NumeroControlConsulta = @NumConsulta
				 AND ClaveObservacion <> ''
				 FOR XML PATH('')
		   ),1,1,'') 

Print @Cadena

			Select 
			--Datos Crédito
			CR.Importe as Monto
			,CR.Fecha_Inicio as fechaInicio
			,CR.Fecha_Vento as fechaFin
			,	
			Case 
				When CR.Cod_UDM_Plazo = 'M' THEN CR.Plazo 
				WHEN CR.Cod_UDM_Plazo = 'S' THEN CR.Plazo/4
				WHEN CR.Cod_UDM_Plazo = 'Q' THEN CR.Plazo/2
				WHEN CR.Cod_UDM_Plazo = 'C' THEN CR.Plazo/2
				WHEN CR.Cod_UDM_Plazo = 'N' THEN CR.Plazo/3
				WHEN CR.Cod_UDM_Plazo = 'K' THEN CR.Plazo/2

			End as plazoMeses
			,CR.Plazo as numPagos
			,Ofer.Cuota_Total as pagoPeriodico--,Ofer.Cuota_Periodo as Pago_Periodico -- Oferta seleccionada, 
			,CONVERT(varchar(50), CAST(ISNULL(TA1.Total_Cuota, 0) as money), 1) AS amortizacion
			,Case 
				When @UDM_Factor_Mensual < 0 then TA1.Total_Cuota * abs(@UDM_Factor_Mensual)
				When @UDM_Factor_Mensual > 0 then TA1.Total_Cuota / abs(@UDM_Factor_Mensual)
				Else TA1.Total_Cuota
			End as pagoMensual
			
			--Case 
			--	When CR.Cod_UDM_Plazo = 'M' THEN TA1.Total_Cuota --Ofer.Cuota_Total
			--	WHEN CR.Cod_UDM_Plazo = 'S' THEN TA1.Total_Cuota * 4
			--	WHEN CR.Cod_UDM_Plazo = 'Q' THEN TA1.Total_Cuota*2
			--	WHEN CR.Cod_UDM_Plazo = 'C' THEN TA1.Total_Cuota*2
			--	WHEN CR.Cod_UDM_Plazo = 'N' THEN TA1.Total_Cuota*3
			--	WHEN CR.Cod_UDM_Plazo = 'K' THEN TA1.Total_Cuota*2
			--End as pagoMensual
			----Análisis de Crédito
			--Ingresos
			,CR.Total_Ingresos  as ingresos 
			,CR.Ingresos_Nomina as nominalesI
			,isnull(cr.Otros_Ingresos,0) as otrosingresos
			--Egresos
			,TMP.Importe_Descuentos_Actuales+ isnull(CR.Otros_Egresos,0) as egresos--CR.Total_Egresos  as egresos 
			,TMP.Importe_Descuentos_Actuales as nominalesE --CR.Egresos_Nomina as nominalesE--Total_Ingresos - CR.Total_Neto as nominalesE
			,CR.Total_Monto_Disponible as nominalesConvenio
			,isnull(CR.Otros_Egresos,0) as otrosEgresos
			--Buró
			,CR.Buro_Credito_Total_Cuentas as saldoSIc
			,Convert(Money,Replace(BCRR.TotalSaldosActualesPagosFijos, '+','')) + Convert(Money,Replace(BCRR.TotalSaldosActualesRevolventes,'+','')) as SaldoCuentasVigente
			,Convert(Money,Replace(BCRR.TotalSaldosVencidosPagosFijos,'+','')) + CONVERT(Money,REPLACE(BCRR.TotalSaldosVencidosRevolventes,'+','')) as SaldoCuentasVencidas
			,@CadenaMopsNegativos  as MOPsNegativos 
			,@Cadena  as clavesdeObservacion 
		
		
		
		--Capacidad de Retención

					,CONVERT(varchar(50), CAST(ISNULL(CR.Ingresos_Nomina, 0) as money), 1) AS Capacidad_Ingresos         --CR.Ingresos_Nomina as Capacidad_Ingresos  ---IngNom.IngresosNom as Capacidad_Ingresos
			,
		     Case 
				When cnv.Cod_Calc_Cap_Pago = '01' then -- Nominal
				--case 
				--		WHEN CR.Cod_Producto = 'V003' then 
				--			CONVERT(varchar(50), CAST(ISNULL(CR.Total_Ingresos, 0) - ISNULL(CR.Total_Egresos, 0) - ISNULL(CR.Buro_Credito_Total_Cuentas, 0) as money), 1)
				--		ELSE
							CONVERT(varchar(50), CAST(ISNULL(CR.Ingresos_Nomina, 0) * Round(CTEL.Porc_Max_Descuento / 100,2) as money), 1)
						--END  
				when cnv.Cod_Calc_Cap_Pago = '02' then -- Neto
				--case 
				--	WHEN CR.Cod_Producto = 'V003' then 
				--		CONVERT(varchar(50), CAST(ISNULL(CR.Total_Ingresos, 0) - ISNULL(CR.Total_Egresos, 0) - ISNULL(CR.Buro_Credito_Total_Cuentas, 0) as money), 1)
				--	ELSE
						--CONVERT(varchar(50), CAST(ISNULL(CR.Ingresos_Nomina, 0) - ISNULL(CR.Egresos_Nomina, 0) as money), 1)
						CONVERT(varchar(50), CAST(ISNULL(CR.Ingresos_Nomina, 0) - ISNULL(TMP.Importe_Descuentos_Actuales, 0) as money), 1)
					--END  			
			  end 
			as Capacidad_capcidadDescuentos

			,CTEL.Porc_Max_Descuento as Capacidad_desc
			,TMP.Importe_Descuentos_Actuales as Capacidad_EgresosNominales--CR.Egresos_Nomina as Capacidad_EgresosNominales--EgrNom.EgresosNom as Capacidad_EgresosNominales
			,--(IngNom.IngresosNom * (CTEL.Porc_Max_Descuento/100)) - CR.Egresos_Nomina 
			
				--Case 
				--When cnv.Cod_Calc_Cap_Pago = '01' then -- Nominal
				--	--CASE
				--	--	WHEN CR.Cod_Producto = 'V003' THEN 
				--	--		CONVERT(varchar(50), CAST((ISNULL(CR.Total_Ingresos, 0) - ISNULL(CR.Total_Egresos, 0) - ISNULL(CR.Buro_Credito_Total_Cuentas, 0)) * GblLF.Porc_Capacidad_Pago / 100 as money), 1) 
				--	--	ELSE
				--			CONVERT(varchar(50), CAST((ISNULL(CR.Ingresos_Nomina, 0) * Round(CTEL.Porc_Max_Descuento / 100,2) - ISNULL(CR.Egresos_Nomina, 0)) as money), 1)
				--	--end			
				--When cnv.Cod_Calc_Cap_Pago = '02' then -- Neto
				--	--CASE
				--	--	WHEN CR.Cod_Producto = 'V003' THEN 
				--	--		CONVERT(varchar(50), CAST((ISNULL(CR.Total_Ingresos, 0) - ISNULL(CR.Total_Egresos, 0) - ISNULL(CR.Buro_Credito_Total_Cuentas, 0)) * GblLF.Porc_Capacidad_Pago / 100 as money), 1) 
				--	--	ELSE
				--			CONVERT(varchar(50), CAST(((ISNULL(CR.Ingresos_Nomina, 0) - ISNULL(CR.Egresos_Nomina, 0)) * CTEL.Porc_Max_Descuento / 100) as money), 1)
				--	--end		
			 --END 
			 Tmp.Importe_Max_Desc as Capacidad_DescuentoDisponible

			------, CONVERT(varchar(50), CAST(ISNULL(CR.Ingresos_Nomina, 0) as money), 1) AS Capacidad_Ingresos         --CR.Ingresos_Nomina as Capacidad_Ingresos  ---IngNom.IngresosNom as Capacidad_Ingresos
			------,--IngNom.IngresosNom * (CTEL.Porc_Max_Descuento/100) 
		 ------    Case 
			------	When cnv.Cod_Calc_Cap_Pago = '01' then -- Nominal
			------	case 
			------			WHEN CR.Cod_Producto = 'V003' then 
			------				CONVERT(varchar(50), CAST(ISNULL(CR.Total_Ingresos, 0) - ISNULL(CR.Total_Egresos, 0) - ISNULL(CR.Buro_Credito_Total_Cuentas, 0) as money), 1)
			------			ELSE
			------				CONVERT(varchar(50), CAST(ISNULL(CR.Ingresos_Nomina, 0) * Round(CTEL.Porc_Max_Descuento / 100,2) as money), 1)
			------			END  
			------	when cnv.Cod_Calc_Cap_Pago = '02' then -- Neto
			------	case 
			------		WHEN CR.Cod_Producto = 'V003' then 
			------			CONVERT(varchar(50), CAST(ISNULL(CR.Total_Ingresos, 0) - ISNULL(CR.Total_Egresos, 0) - ISNULL(CR.Buro_Credito_Total_Cuentas, 0) as money), 1)
			------		ELSE
			------			CONVERT(varchar(50), CAST(ISNULL(CR.Ingresos_Nomina, 0) - (ISNULL(CR.Egresos_Nomina, 0) * Round(CTEL.Porc_Max_Descuento / 100,2)) as money), 1)
			------		END  			
			------  end as Capacidad_capcidadDescuentos

			------,CTEL.Porc_Max_Descuento as Capacidad_desc
			------,CR.Egresos_Nomina as Capacidad_EgresosNominales--EgrNom.EgresosNom as Capacidad_EgresosNominales
			------,--(IngNom.IngresosNom * (CTEL.Porc_Max_Descuento/100)) - CR.Egresos_Nomina 
			
			------	Case 
			------	When cnv.Cod_Calc_Cap_Pago = '01' then -- Nominal
			------		CASE
			------			WHEN CR.Cod_Producto = 'V003' THEN 
			------				CONVERT(varchar(50), CAST((ISNULL(CR.Total_Ingresos, 0) - ISNULL(CR.Total_Egresos, 0) - ISNULL(CR.Buro_Credito_Total_Cuentas, 0)) * GblLF.Porc_Capacidad_Pago / 100 as money), 1) 
			------			ELSE
			------				CONVERT(varchar(50), CAST((ISNULL(CR.Ingresos_Nomina, 0) * Round(CTEL.Porc_Max_Descuento / 100,2) - ISNULL(CR.Egresos_Nomina, 0)) as money), 1)
			------		end			
			------When cnv.Cod_Calc_Cap_Pago = '02' then -- Nominal
			------	CASE
			------		WHEN CR.Cod_Producto = 'V003' THEN 
			------			CONVERT(varchar(50), CAST((ISNULL(CR.Total_Ingresos, 0) - ISNULL(CR.Total_Egresos, 0) - ISNULL(CR.Buro_Credito_Total_Cuentas, 0)) * GblLF.Porc_Capacidad_Pago / 100 as money), 1) 
			------		ELSE
			------			CONVERT(varchar(50), CAST((ISNULL(CR.Ingresos_Nomina, 0) * CTEL.Porc_Max_Descuento / 100) as money), 1)
			------	end		
			------ END as Capacidad_DescuentoDisponible
						
			,
			Case 
				When @UDM_Factor_Mensual < 0 then TA1.Total_Cuota * abs(@UDM_Factor_Mensual)
				When @UDM_Factor_Mensual > 0 then TA1.Total_Cuota / abs(@UDM_Factor_Mensual)
				Else TA1.Total_Cuota
			End as Capacidad_pagomensual
			
			--Case 
			--	When CR.Cod_UDM_Plazo = 'M' THEN TA1.Total_Cuota --Ofer.Cuota_Total
			--	WHEN CR.Cod_UDM_Plazo = 'S' THEN TA1.Total_Cuota * 4
			--	WHEN CR.Cod_UDM_Plazo = 'Q' THEN TA1.Total_Cuota*2
			--	WHEN CR.Cod_UDM_Plazo = 'C' THEN TA1.Total_Cuota*2
			--	WHEN CR.Cod_UDM_Plazo = 'N' THEN TA1.Total_Cuota*3
			--	WHEN CR.Cod_UDM_Plazo = 'K' THEN TA1.Total_Cuota*2
			--End as Capacidad_pagomensual
			,--((IngNom.IngresosNom * (CTEL.Porc_Max_Descuento/100)) - CR.Nomi_Total_Egresos) / Ofer.Cuota_Total as Capacidad_nivelcoverturaretencion
			Case 
				When CR.Cod_UDM_Plazo = 'M' THEN ((IngNom.IngresosNom * (CTEL.Porc_Max_Descuento/100)) - CR.Nomi_Total_Egresos) /TA1.Total_Cuota
				WHEN CR.Cod_UDM_Plazo = 'S' THEN ((IngNom.IngresosNom * (CTEL.Porc_Max_Descuento/100)) - CR.Nomi_Total_Egresos) /(TA1.Total_Cuota * 4)
				WHEN CR.Cod_UDM_Plazo = 'Q' THEN ((IngNom.IngresosNom * (CTEL.Porc_Max_Descuento/100)) - CR.Nomi_Total_Egresos) /(TA1.Total_Cuota*2)
				WHEN CR.Cod_UDM_Plazo = 'C' THEN ((IngNom.IngresosNom * (CTEL.Porc_Max_Descuento/100)) - CR.Nomi_Total_Egresos) /(TA1.Total_Cuota*2)
				WHEN CR.Cod_UDM_Plazo = 'N' THEN ((IngNom.IngresosNom * (CTEL.Porc_Max_Descuento/100)) - CR.Nomi_Total_Egresos) /(TA1.Total_Cuota*3)
				WHEN CR.Cod_UDM_Plazo = 'K' THEN ((IngNom.IngresosNom * (CTEL.Porc_Max_Descuento/100)) - CR.Nomi_Total_Egresos) /(TA1.Total_Cuota*2)
			End as Capacidad_nivelcoverturaretencion
		
		
		
		
		--Capacidad de Pago
			--,CR.Nomi_Total_Ingresos + 0 as capacidadpago_Ingresostotales  --Ubicar el campo de otros ingresos
			--,CR.Nomi_Total_Egresos + 0 as capacidadpago_egresostotales --Ubicar el campo de otros Egresos
			--,CR.Buro_Credito_Total_Cuentas as capacidadpago_deudaBC
			--,0   as capacidadpago_ingresoDisponible
			--,0   as capacidadpago_capacidadpago --, A_IngresosTotales - (B_EgresosTotales - C_DeudasBC) as D_IngresoDisponible
			--,0 as capacidaddePago --Buscar donde esta esté dato del porcentaje
			--,0 as capacidadpago_pagomensual
			--,0 as capacidadpago_nivelcobertura
			,isnull(CR.Ingresos_Nomina,0) + isnull(cr.Otros_Ingresos,0) as capacidadpago_Ingresostotales  --Ubicar el campo de otros ingresos
			--,isnull(CR.Egresos_Nomina,0) + isnull(CR.Otros_Egresos,0) 
			,--Ofer.Cuota_Total_Mensual_Credito + isnull(CR.Otros_Egresos,0) as capacidadpago_egresostotales --Ubicar el campo de otros Egresos
			--	Ofer.Cuota_Total_Mensual_Credito + isnull(CR.Egresos_Nomina,0) + isnull(CR.Otros_Egresos,0) as capacidadpago_egresostotales
					isnull(CR.Egresos_Nomina,0) 
					+ isnull(CR.Otros_Egresos,0) - isnull(Ofer.Cuota_Mensual_Cap_Liberada_aNT,0)+ isnull(Ofer.Cuota_Asociada,0) as capacidadpago_egresostotales
			,CR.Buro_Credito_Total_Cuentas as capacidadpago_deudaBC
			--,(IngNom.IngresosNom + isnull(OtrosIng.OtrosIngresos,0)) - (isnull(EgrNom.EgresosNom,0) + isnull(OtrosEgr.OtrosEgresos,0))-(CR.Buro_Credito_Total_Cuentas)  as capacidadpago_ingresoDisponible
			--,CR.Total_Monto_Disponible 
			,(isnull(CR.Ingresos_Nomina,0) + isnull(cr.Otros_Ingresos,0)) 
			
			- ((isnull(CR.Egresos_Nomina,0) + isnull(CR.Otros_Egresos,0) - isnull(Ofer.Cuota_Mensual_Cap_Liberada_aNT,0)) +  isnull(Ofer.Cuota_Asociada,0)) 
			
			- (CR.Buro_Credito_Total_Cuentas) as capacidadpago_ingresoDisponible
			
			--,CR.Total_Monto_Disponible * (GblLF.Porc_Capacidad_Pago/100)   as capacidadpago_capacidadpago --, A_IngresosTotales - (B_EgresosTotales - C_DeudasBC) as D_IngresoDisponible
			,(
					(isnull(CR.Ingresos_Nomina,0) + isnull(cr.Otros_Ingresos,0)) 
			
					- ((isnull(CR.Egresos_Nomina,0) + isnull(CR.Otros_Egresos,0) - isnull(Ofer.Cuota_Mensual_Cap_Liberada_aNT,0)) 
					+  isnull(Ofer.Cuota_Asociada,0)) 
					- (CR.Buro_Credito_Total_Cuentas))* (GblLF.Porc_Capacidad_Pago/100) as capacidadpago_capacidadpago
			
			,GblLF.Porc_Capacidad_Pago as capacidaddePago --Buscar donde esta esté dato del porcentaje
			,
			Case 
				When @UDM_Factor_Mensual < 0 then TA1.Total_Cuota * abs(@UDM_Factor_Mensual)
				When @UDM_Factor_Mensual > 0 then TA1.Total_Cuota / abs(@UDM_Factor_Mensual)
				Else TA1.Total_Cuota
			End as capacidadpago_pagomensual
			--Case 
			--	When CR.Cod_UDM_Plazo = 'M' THEN TA1.Total_Cuota
			--	WHEN CR.Cod_UDM_Plazo = 'S' THEN TA1.Total_Cuota * 4
			--	WHEN CR.Cod_UDM_Plazo = 'Q' THEN TA1.Total_Cuota*2
			--	WHEN CR.Cod_UDM_Plazo = 'C' THEN TA1.Total_Cuota*2
			--	WHEN CR.Cod_UDM_Plazo = 'N' THEN TA1.Total_Cuota*3
			--	WHEN CR.Cod_UDM_Plazo = 'K' THEN TA1.Total_Cuota*2
			--End as capacidadpago_pagomensual
			--,((IngNom.IngresosNom + isnull(OtrosIng.OtrosIngresos,0)) - (isnull(EgrNom.EgresosNom,0) + isnull(OtrosEgr.OtrosEgresos,0))-(CR.Buro_Credito_Total_Cuentas))*(0.6) / Ofer.Cuota_Total as capacidadpago_nivelcobertura
			,((
					(CR.Ingresos_Nomina + isnull(cr.Otros_Ingresos,0)) 
					- (isnull(CR.Egresos_Nomina,0) + isnull(CR.Otros_Egresos,0) - isnull(Ofer.Cuota_Mensual_Cap_Liberada_aNT,0)) 
					- (CR.Buro_Credito_Total_Cuentas))  *(0.6)) / Ofer.Cuota_Total as capacidadpago_nivelcobertura
			,CR.Importe_Asociado	 	
			,CR.Cuota_Asociada		
			,CR.Importe_Dispersion	
			,CR.Importe_Renovacion	
			,CR.Importe_Compra_Deuda	
			,CR.Importe_Movto_Interno
			---Datos Adicionales para la pantalla de analisis de crédito
			,Tmp.Importe_Max_Desc
	
			,Tmp.Capacidad_Desc_Utilizada
			,Tmp.Porc_Desc_Utilizado
			,Ofer.Cuota_Mensual_Cap_Liberada as Deudas_Aprecia --
			,CR.Ingresos_Nomina - (CR.Egresos_Nomina - Ofer.Cuota_Total_Mensual_Credito) as Ingresos_Sin_Desc
	
			,Ofer.Cuota_Mensual_Cap_Liberada as Descuentos_Actuales
			,Cnv.Cod_Calc_Cap_Pago
			from CR_Credito CR		--inner join Ctz_Cotizacion CTZ on cr.Id_Cotizacion = CTZ.ID_Cotizacion 

			inner join Cr_Oferta Ofer on Cr.ID_Credito = Ofer.ID_Credito AND ofer.Importe=cr.Importe
			left join (select ID_Credito,SUM(Importe) as IngresosNom from CR_Ingresos_Egresos where ID_Credito = @idcredito AND Cod_Tipo_IngEgr = 'I' and Cod_Origen = 'N' Group by ID_Credito) IngNom on CR.ID_Credito = IngNom.ID_Credito
			left join (select ID_Credito,SUM(Importe) as EgresosNom from CR_Ingresos_Egresos where ID_Credito = @idcredito AND Cod_Tipo_IngEgr = 'E' and Cod_Origen = 'N' Group by ID_Credito) EgrNom on CR.ID_Credito = EgrNom.ID_Credito
			left join (Select ID_Credito, SUM(Importe) as OtrosIngresos from CR_Ingresos_Egresos where Cod_Tipo_IngEgr = 'I' And Cod_Origen = 'O' AND ID_CREDITO = @idcredito Group by ID_Credito ) OtrosIng on CR.ID_Credito = OtrosIng.ID_Credito
			left join (Select ID_Credito, SUM(Importe) as OtrosEgresos from CR_Ingresos_Egresos where Cod_Tipo_IngEgr = 'E' And Cod_Origen = 'O' AND ID_CREDITO = @idcredito Group by ID_Credito ) OtrosEgr on CR.ID_Credito = OtrosIng.ID_Credito
			left join [dbo].[BC_ResumenReporte] BCRR on BCRR.NumeroControlConsulta = CR.Buro_Credito_Control_Consulta
			inner join Cnv_Tipo_Empleado_Limites CTEL on CTEL.ID_Convenio = CR.ID_Convenio and CTEL.Cod_Tipo_Empleado = CR.Cod_Tipo_Empleado
			left join gbl_Variables_Sistema GblVS on CR.Cod_Producto = GblVS.Cod_Prod_Com_Preferente
			left join gbl_linea_Fondeo GblLF on GblVS.ID_Linea_Fondeo_Preferente = GblLF.ID_Linea_Fondeo
			LEFT JOIN dbo.Cnv_Convenio CNV ON CR.Id_Convenio = CNV.Id_Convenio
			LEFT JOIN
			(
				SELECT
				@IdCredito AS Id_Credito
				, SUM(Imp_Amortizacion) AS Capital
				, SUM(Int_Ordinario) AS Interes
				, SUM(Iva_Int_Ordinario) AS Iva
				, SUM(Imp_Seguro) AS Seguro
				, SUM(Imp_Comision) AS Comision
				, SUM(Iva_Comision) AS IvaComision
				, SUM(Total_Cuota) AS MontoPagare
				, COUNT(Num_Amort) AS NumAmortizaciones
				, MAX(Fecha_Final) AS FechaVencimiento
				FROM @TmpTA
			) TA ON CR.ID_Credito = TA.ID_Credito
			LEFT JOIN dbo.TR_Valores_Dominio PRD ON CR.Cod_Frecuencia_Pago = PRD.Cod_Valor_Dominio AND PRD.Cod_Dominio = '02'
			LEFT JOIN @TmpTA TA1 ON TA1.Num_Amort = 1
			, @TmpCalcMaxDesc Tmp
			Where CR.ID_Credito = @idcredito

	
END
