USE [Originacion]
GO
/****** Object:  StoredProcedure [dbo].[proc_Orgn_Expediente_Solicitud_listRequisitos]    Script Date: 28/04/2026 13:36:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_Orgn_Expediente_Bitacora_Solicitud_listRequisitos] 
	@Cod_Tipo_Persona CHAR(1) 
	,@Cod_Tipo_Tramite CHAR(2) 
	,@Id_Solicitud INT
	,@Cod_Producto_Comercial CHAR(4)
AS
BEGIN

	SELECT TP.Cod_Tipo_Persona
		,TT.Cod_Tipo_Tramite
		,TT.Tipo_SubExpediente 
		,TR.Cod_Requisito
		,TR.Nombre
		,expediente.[Id_Expediente]
		,expediente.[Cod_Tipo_Tramite]
		,expediente.[ID_Referencia]
		,expediente.[Cod_Requisito]
		,expediente.[Cod_Tipo_Comprobante]
		,expediente.[Fecha_Emision]
		,expediente.[Fecha_Valido_Hasta]
		,expediente.[Cod_ECV_Requisito]
		,expediente.[URL]
		,expediente.[Fecha_Registro]
		,expediente.Id_Documento
		,tiempo.Tiempo_validez
		,tiempo.Unidad_Medida
		,tipoArch.Tipo_Extension_Archivo
	FROM [TR_Requisito_Tipo_Tramite] AS RTT
	INNER JOIN  TR_Tipo_Persona AS TP ON TP.Cod_Tipo_Persona = RTT.Cod_Tipo_Persona AND TP.Cod_Tipo_Persona = @Cod_Tipo_Persona
	INNER JOIN [TR_Tipo_Tramite]  AS TT ON TT.Cod_Tipo_Tramite = RTT.Cod_Tipo_Tramite 
	INNER JOIN TR_Requisito AS TR ON RTT.Cod_Requisito = TR.Cod_Requisito
	INNER JOIN [dbo].[Exp_Expediente_Bitacora] AS expediente ON  RTT.Cod_Requisito=expediente.Cod_Requisito AND expediente.ID_Referencia=@Id_Solicitud AND expediente.Cod_Tipo_Tramite= @Cod_Tipo_Tramite 

	LEFT JOIN TR_Tiempo_Validez_Requisito AS tiempo ON RTT.Id_TiempoValidez=tiempo.Id_Tiempo_Validez
	LEFT JOIN TR_Tipo_Archivo AS tipoArch ON RTT.Cod_Tipo_Archivo=tipoArch.Cod_Archivo

	WHERE 
		TP.Cod_Tipo_Persona = @Cod_Tipo_Persona
		AND TT.Cod_Tipo_Tramite = @Cod_Tipo_Tramite---'01'
		AND RTT.Cod_Producto_Comercial =@Cod_Producto_Comercial-- 'V001'
	ORDER BY expediente.Fecha_Registro_Bitacora DESC 
END