USE [Originacion]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Orgn_TR_Motivos_Cancelacion_Rechazo_Extrae]    Script Date: 09/05/2026 16:12:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[Proc_Orgn_TR_Motivos_Cancelacion_Rechazo_Extrae]
	@Cod_Motivo_Cancelacion_Rechazo char(2) = ''
	,@Id_Tipo_Operacion int = 0
AS
BEGIN
	SET NOCOUNT ON;

	if ltrim(rtrim(@Cod_Motivo_Cancelacion_Rechazo)) <> ''
	begin
		SELECT 
			[Cod_Motivo_Cancelacion_Rechazo],
			[Motivo_Cancelacion_Rechazo] 
		  FROM [dbo].[TR_Motivos_Cancelacion_Rechazo]
		  where [Cod_Motivo_Cancelacion_Rechazo] = @Cod_Motivo_Cancelacion_Rechazo
			and  (@Id_Tipo_Operacion=0 OR Id_Tipo_Operacion=@Id_Tipo_Operacion)
		  order by [Motivo_Cancelacion_Rechazo] 
	end
	else
	begin
		  Select
			[Cod_Motivo_Cancelacion_Rechazo],
			[Motivo_Cancelacion_Rechazo] 
		  FROM [dbo].[TR_Motivos_Cancelacion_Rechazo]
		  WHERE  (@Id_Tipo_Operacion=0 OR Id_Tipo_Operacion=@Id_Tipo_Operacion)
		  order by [Motivo_Cancelacion_Rechazo] 
	end
END



