USE [Originacion]
GO
/****** Object:  StoredProcedure [dbo].[proc_Orgn_Cotizacion_Copia]    Script Date: 13/05/2026 10:49:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[proc_Orgn_Cotizacion_Copia]
    @ID_Usuario int
	,@Id_Cotizacion int 
as
begin
	begin try
		declare @_id as smallint = 0 
		declare @_msg as varchar(2048) = '' 
		--declare @id_cotizacion int
		--declare @id_usuario int

		--set @id_cotizacion = 1001132
		--set @id_usuario = 1342

		declare @Id_Cotizacion_Nueva int =0


		-- Copia el registro de la tabla de cotizaciones
		declare @Id_Persona int
		declare @Id_Credito_Ant int
		declare @Id_Convenio int
		declare @Cod_Producto_Comercial Char(4)
		declare @Cod_Forma_Pago char(2)
		declare @Cod_Frecuencia_Pago char(1)
		declare @Plazo int
		declare @Cod_UDM_Plazo char(2)
		declare @Cod_Tarifa char(3)
		declare @Dias_Gracia int
		declare @Ind_Amorz_Prim_Liq char(1)
		declare @Cod_Tipo_Cuota char(2)
		declare @Cod_Base_Calculo char(2)
		declare @Cod_Comp_Dias char(2)
		declare @Cod_Forma_Liquidacion char(2)
		declare @Cod_Frec_Liquidacion char(2)
		declare @Cod_Mod_Liquidacion char(2)
		declare @Tasa_Int_Ord decimal(6,2)
		declare @Cod_Base_Int_Ord char(2)
		declare @Tasa_Int_Mora decimal(6,2)
		declare @Porc_Iva decimal(6,2)
		declare @Cod_ECV_Cotizacion char(2)
		declare @Importe decimal(10,2)
		declare @Primer_Nombre varchar(30)
		declare @Segundo_Nombre varchar(30)
		declare @Primer_APellido varchar(30)
		declare @Segundo_Apellido varchar(30)
		declare @Correo nvarchar(50)
		declare @Telefono nvarchar(20)
		declare @RFC nvarchar(20)
		declare @Cat decimal(10,2)
		declare @Fecha_Operacion date
		declare @Fecha_Registro datetime
		declare @Cod_Tipo_Empleado char(2)
		declare @Fecha_Nacimiento date
		declare @Cod_Finalidad_Credito char(2)
		declare @Ingresos decimal(10,2)
		declare @Egresos decimal(10,2)
		declare @Porc_Max_Endeudamiento decimal(5, 2) 
		declare @Porc_Max_Descuento decimal(5, 2) 
		declare @Nomi_Neto decimal(18, 2) 
		declare @Nomi_Total_Ingresos decimal(18, 2) 
		declare @Nomi_Total_Egresos decimal(18, 2) 
		declare @Nomi_Monto_Disponible decimal(18, 2) 
		declare @Nomi_Porc_Descuento decimal(5, 2) 
		declare @Total_Neto decimal(18, 2) 
		declare @Total_Ingresos decimal(18, 2) 
		declare @Total_Egresos decimal(18, 2) 
		declare @Total_Monto_Disponible decimal(18, 2) 
		declare @Total_Porc_Descuento decimal(5, 2) 	
		declare @Fecha_Inicio date 
		declare @Fecha_Prim_Liq date 
		declare @Fecha_Ingreso date = null
		declare @Cod_Etapa char(2)
		declare @Buro_Credito_Total_Cuentas decimal(18, 2) 
		declare @Buro_Credito_Control_Consulta varchar(20) = ''
		declare @ID_Tarifa_Convenio int
		declare @Enganche decimal(18,2) = null
		declare @Aportacion_Adicional decimal(18,2) = null
		declare @Importe_Inmueble_Hipotecario decimal(18,2) = null
		declare @Porcentaje_Enganche_Hipotecario decimal(5,2) = null
		declare @Descripcion_Lote_Hipotecario varchar(1000) = null
		declare @Ingresos_Nomina decimal(18,2)
		declare @Egresos_Nomina decimal(18,2)
		declare @Otros_Ingresos decimal(18,2)
		declare @Otros_Egresos  decimal(18,2)
		declare @ID_Ejecutivo_Ventas  int = 0
		declare @Id_Excepcion int = 0
		declare @Cod_Proceso_Firma_Activacon char(1) = ''
		declare @Id_Campana smallint = 0
		declare @Cod_Calc_Cap_Pago char(2) = ''
		declare @Id_Registro_peticion_OCR int = 0
		declare @Id_Prospecto_OCR int = 0
		declare @OCR_Ok char(1)
		declare @Codigo_Origen_Cotizacion char(2) = ''
		declare @Id_Promocion int = 0  
		declare @RequiereConsultaBuro bit = 0
		declare @RequiereAutorizacionCB bit = 0

		print 'Obtiene la información de la cotización'

		-- Obtiene el registro de la cotización
		SELECT @Id_Persona = [Id_Persona]
			  ,@Id_Credito_Ant = [Id_Credito_Ant]
			  ,@Id_Convenio = [Id_Convenio]
			  ,@Cod_Producto_Comercial = [Cod_Producto_Comercial]
			  ,@Cod_Forma_Pago = [Cod_Forma_Pago]
			  ,@Cod_Frecuencia_Pago = [Cod_Frecuencia_Pago]
			  ,@Plazo = [Plazo]
			  ,@Cod_UDM_Plazo = [Cod_UDM_Plazo]
			  ,@Cod_Tarifa = [Cod_Tarifa]
			  ,@Dias_Gracia = [Dias_Gracia]
			  ,@Ind_Amorz_Prim_Liq = [Ind_Amorz_Prim_Liq]
			  ,@Cod_Tipo_Cuota = [Cod_Tipo_Cuota]
			  ,@Cod_Base_Calculo = [Cod_Base_Calculo]
			  ,@Cod_Comp_Dias= [Cod_Comp_Dias]
			  ,@Cod_Forma_Liquidacion = [Cod_Forma_Liquidacion]
			  ,@Cod_Frec_Liquidacion = [Cod_Frec_Liquidacion]
			  ,@Cod_Mod_Liquidacion = [Cod_Mod_Liquidacion]
			  ,@Tasa_Int_Ord = [Tasa_Int_Ord]
			  ,@Cod_Base_Int_Ord = [Cod_Base_Int_Ord]
			  ,@Tasa_Int_Mora = [Tasa_Int_Mora]
			  ,@Porc_Iva = [Porc_Iva]
			  ,@Cod_ECV_Cotizacion = [Cod_ECV_Cotizacion]
			  ,@Importe = [Importe]
			  ,@Primer_Nombre = [Primer_Nombre]
			  ,@Segundo_Nombre = [Segundo_Nombre]
			  ,@Primer_APellido = [Primer_Apellido]
			  ,@Segundo_Apellido = [Segundo_Apellido]
			  ,@Correo = [Correo]
			  ,@Telefono = [Telefono]
			  ,@RFC = [RFC]
			  ,@Cat = [Cat]
			  ,@Fecha_Operacion = [Fecha_Operacion]
			  ,@Fecha_Registro = [Fecha_Registro]
			  ,@Cod_Etapa = [Cod_Etapa]
			  ,@Cod_Tipo_Empleado = [Cod_Tipo_Empleado]
			  ,@Fecha_Nacimiento = [Fecha_Nacimiento]
			  ,@Cod_Finalidad_Credito = [Cod_Finalidad_Credito]
			  ,@Ingresos = [Ingresos]
			  ,@Egresos = [Egresos]
			  ,@Porc_Max_Endeudamiento = [Porc_Max_Endeudamiento]
			  ,@Porc_Max_Descuento = [Porc_Max_Descuento]
			  ,@Nomi_Neto = [Nomi_Neto]
			  ,@Nomi_Total_Ingresos = [Nomi_Total_Ingresos]
			  ,@Nomi_Total_Egresos = [Nomi_Total_Egresos]
			  ,@Nomi_Monto_Disponible = [Nomi_Monto_Disponible]
			  ,@Nomi_Porc_Descuento = [Nomi_Porc_Descuento]
			  ,@Total_Neto = [Total_Neto]
			  ,@Total_Ingresos = [Total_Ingresos]
			  ,@Total_Egresos = [Total_Egresos]
			  ,@Total_Monto_Disponible = [Total_Monto_Disponible]
			  ,@Total_Porc_Descuento = [Total_Porc_Descuento]
			  ,@Fecha_Inicio = [Fecha_Inicio]
			  ,@Fecha_Prim_Liq = [Fecha_Prim_Liq]
			  ,@Fecha_Ingreso = [Fecha_Ingreso]
			  ,@Buro_Credito_Total_Cuentas = [Buro_Credito_Total_Cuentas]
			  ,@Buro_Credito_Control_Consulta = [Buro_Credito_Control_Consulta]
			  ,@ID_Tarifa_Convenio = [ID_Tarifa_Convenio]
			  ,@Enganche = [Enganche]
			  ,@Aportacion_Adicional = [Aportacion_Adicional]
			  ,@Importe_Inmueble_Hipotecario = [Importe_Inmueble_Hipotecario]
			  ,@Porcentaje_Enganche_Hipotecario = [Porcentaje_Enganche_Hipotecario]
			  ,@Descripcion_Lote_Hipotecario = [Descripcion_Lote_Hipotecario]
			  ,@Ingresos_Nomina = [Ingresos_Nomina]
			  ,@Egresos_Nomina = [Egresos_Nomina]
			  ,@Otros_Ingresos= [Otros_Ingresos]
			  ,@Otros_Egresos = [Otros_Egresos]
			  ,@Id_Excepcion = [Id_Excepcion]
			  ,@Cod_Proceso_Firma_Activacon = [Cod_Proceso_Firma_Activacon]
			  ,@ID_Ejecutivo_Ventas = [ID_Ejecutivo_Ventas]
			  ,@Id_Campana = isnull(Id_Campana,0)
			  ,@Cod_Calc_Cap_Pago = isnull(Cod_Calc_Cap_Pago,'')
			  ,@Id_Registro_peticion_OCR = isnull(Id_Registro_Peticion_OCR,0) 
			  ,@Id_Prospecto_OCR = isnull(Id_Prospecto_OCR,0)
			  ,@OCR_Ok = isnull(OCR_Ok,'') 
			  ,@Codigo_Origen_Cotizacion = isnull(Codigo_Origen_Cotizacion,'') 
			  ,@Id_Promocion = id_promocion
			  ,@RequiereConsultaBuro = RequiereConsultaBuro
			  ,@RequiereAutorizacionCB = RequiereAutorizacionCB
		  FROM [dbo].[Ctz_Cotizacion] where ID_Cotizacion =  @Id_Cotizacion

		  print 'Inicia la actualización de la cotización'

		  EXECUTE [dbo].[proc_Orgn_Cotizacion_Add_Upate] 
			   @Id_Persona = @Id_Persona
			  ,@Id_Credito_Ant = @Id_Credito_Ant
			  ,@Id_Convenio = @Id_Convenio
			  ,@Cod_Producto_Comercial = @Cod_Producto_Comercial
			  ,@Cod_Forma_Pago = @Cod_Forma_Pago
			  ,@Cod_Frecuencia_Pago = @Cod_Frecuencia_Pago
			  ,@Plazo = @Plazo
			  ,@Cod_UDM_Plazo = @Cod_UDM_Plazo
			  ,@Cod_Tarifa = @Cod_Tarifa
			  ,@Dias_Gracia = @Dias_Gracia
			  ,@Ind_Amorz_Prim_Liq = @Ind_Amorz_Prim_Liq
			  ,@Cod_Tipo_Cuota = @Cod_Tipo_Cuota
			  ,@Cod_Base_Calculo = @Cod_Base_Calculo
			  ,@Cod_Comp_Dias = @Cod_Comp_Dias
			  ,@Cod_Forma_Liquidacion = @Cod_Forma_Liquidacion
			  ,@Cod_Frec_Liquidacion = @Cod_Frec_Liquidacion
			  ,@Cod_Mod_Liquidacion = @Cod_Mod_Liquidacion
			  ,@Tasa_Int_Ord = @Tasa_Int_Ord
			  ,@Cod_Base_Int_Ord = @Cod_Base_Int_Ord
			  ,@Tasa_Int_Mora = @Tasa_Int_Mora
			  ,@Porc_Iva = @Porc_Iva
			  ,@Cod_ECV_Cotizacion = '01'
			  ,@Importe = @Importe
			  ,@Primer_Nombre = @Primer_Nombre
			  ,@Segundo_Nombre = @Segundo_Nombre
			  ,@Primer_APellido = @Primer_APellido
			  ,@Segundo_Apellido = @Segundo_Apellido
			  ,@Correo = @Correo
			  ,@Telefono = @Telefono
			  ,@RFC = @RFC
			  ,@Cat = @Cat
			  ,@Fecha_Operacion = @Fecha_Operacion
			  ,@Fecha_Registro = @Fecha_Registro
			  ,@ID_Usuario = @ID_Usuario
			  ,@Cod_Tipo_Empleado = @Cod_Tipo_Empleado
			  ,@Fecha_Nacimiento = @Fecha_Nacimiento
			  ,@Cod_Finalidad_Credito = @Cod_Finalidad_Credito
			  ,@Ingresos = @Ingresos
			  ,@Egresos = @Egresos
			  ,@ID_Cotizacion = @Id_Cotizacion_Nueva Output
			  ,@Porc_Max_Endeudamiento = @Porc_Max_Endeudamiento
			  ,@Porc_Max_Descuento = @Porc_Max_Descuento
			  ,@Nomi_Neto = @Nomi_Neto
			  ,@Nomi_Total_Ingresos = @Nomi_Total_Ingresos
			  ,@Nomi_Total_Egresos = @Nomi_Total_Egresos
			  ,@Nomi_Monto_Disponible = @Nomi_Monto_Disponible
			  ,@Nomi_Porc_Descuento = @Nomi_Porc_Descuento
			  ,@Total_Neto = @Total_Neto
			  ,@Total_Ingresos = @Total_Ingresos
			  ,@Total_Egresos = @Total_Egresos
			  ,@Total_Monto_Disponible = @Total_Monto_Disponible
			  ,@Total_Porc_Descuento = @Total_Porc_Descuento
			  ,@Fecha_Inicio = @Fecha_Inicio
			  ,@Fecha_Prim_Liq = @Fecha_Prim_Liq
			  ,@Fecha_Ingreso = @Fecha_Ingreso
			  ,@Cod_Etapa = @Cod_Etapa
			  ,@Buro_Credito_Total_Cuentas = @Buro_Credito_Total_Cuentas
			  ,@Buro_Credito_Control_Consulta= @Buro_Credito_Control_Consulta
			  ,@ID_Tarifa_Convenio = @ID_Tarifa_Convenio
			  ,@Enganche = @Enganche
			  ,@Aportacion_Adicional = @Aportacion_Adicional
			  ,@Importe_Inmueble_Hipotecario = @Importe_Inmueble_Hipotecario
			  ,@Porcentaje_Enganche_Hipotecario = @Porcentaje_Enganche_Hipotecario
			  ,@Descripcion_Lote_Hipotecario = @Descripcion_Lote_Hipotecario
			  ,@Ingresos_Nomina = @Ingresos_Nomina
			  ,@Egresos_Nomina = @Egresos_Nomina
			  ,@Otros_Ingresos = @Otros_Ingresos
			  ,@Otros_Egresos = @Otros_Egresos
			  ,@ID_Ejecutivo_Ventas = @ID_Ejecutivo_Ventas
			  ,@Id_Campana = @Id_Campana
			  ,@Cod_Calc_Cap_Pago = @Cod_Calc_Cap_Pago
			  ,@Id_Registro_peticion_OCR = @Id_Registro_peticion_OCR
			  ,@Id_Prospecto_OCR = @Id_Prospecto_OCR
			  ,@OCR_Ok = @OCR_Ok
			  ,@Codigo_Origen_Cotizacion = @Codigo_Origen_Cotizacion
			  ,@Regresa_Select = 0
			  ,@Id_Promocion = @Id_Promocion  
			  ,@RequiereConsultaBuro = @RequiereConsultaBuro
			  ,@RequiereAutorizacionCB = @RequiereAutorizacionCB


		print '--- Nueva cotización ---'
		print @Id_Cotizacion_Nueva
		print 'Concluyó la actualización de la cotización'

		print 'Inicia con la copia de los registros de compra de deuda.'

		--declare @Id_Cotizacion int 
		--declare @Id_Cotizacion_Nueva int
		--declare @id_usuario int

		--set @Id_Cotizacion = 1001132
		--set @Id_Cotizacion_Nueva = 1001134
		--set @id_usuario = 1342

		declare @tmp_Ctz_Compra_Deuda TABLE(
			[id_compra_deuda] [int] NOT NULL,
			[Id_Cotizacion] [int] NULL,
			[nombre_Acreedor] [varchar](100) NULL,
			[clabe_Acreedor] [varchar](100) NULL,
			[id_banco] [int] NULL,
			[sucursal_Bancaria] [varchar](100) NULL,
			[Referencia_Deuda] [varchar](100) NULL,
			[Cod_Tipo_Compra] [char](2) NULL,
			[Importe_Deuda] [decimal](10, 2) NULL,
			[fecha_Emision_Saldo] [datetime] NULL,
			[fecha_Vigencia_Saldo] [datetime] NULL,
			[importe_pago_mensual] [decimal](18, 2) NULL,
			[concepto_compra] [varchar](100) NULL,
			[Id_Concepto] [int] NULL,
			[Cod_Origen_Deuda] [char](2) NULL,
			[Cod_Forma_Dispersion] [varchar](4) NULL,
			[titular_cuenta] [varchar](100) NULL,
			[Cod_ECV_Compra_Deuda] [char](2) NULL,
			[fecha_Registro] [datetime] NULL,
			[Id_Usuario] [int] NULL
		) 

		declare @cD_id_compra_deuda [int]
		declare @cD_Id_Cotizacion [int] 
		declare @cD_nombre_Acreedor [varchar](100)
		declare @cD_clabe_Acreedor [varchar](100)
		declare @cD_id_banco [int]
		declare @cD_sucursal_Bancaria [varchar](100)
		declare @cD_Referencia_Deuda [varchar](100)
		declare @cD_Cod_Tipo_Compra [char](2)
		declare @cD_Importe_Deuda [decimal](10, 2)
		declare @cD_fecha_Emision_Saldo [datetime]
		declare @cD_fecha_Vigencia_Saldo [datetime]
		declare @cD_importe_pago_mensual [decimal](18, 2)
		declare @cD_concepto_compra [varchar](100)
		declare @cD_Id_Concepto [int]
		declare @cD_Cod_Origen_Deuda [char](2)
		declare @cD_Cod_Forma_Dispersion [varchar](4)
		declare @cD_titular_cuenta [varchar](100)
		declare @cD_Cod_ECV_Compra_Deuda [char](2)
		declare @cD_fecha_Registro [datetime]
		declare @cD_Id_Usuario [int]

		insert into @tmp_Ctz_Compra_Deuda
		SELECT [id_compra_deuda]
		  ,[Id_Cotizacion]
		  ,[nombre_Acreedor]
		  ,[clabe_Acreedor]
		  ,[id_banco]
		  ,[sucursal_Bancaria]
		  ,[Referencia_Deuda]
		  ,[Cod_Tipo_Compra]
		  ,[Importe_Deuda]
		  ,[fecha_Emision_Saldo]
		  ,[fecha_Vigencia_Saldo]
		  ,[importe_pago_mensual]
		  ,[concepto_compra]
		  ,[Id_Concepto]
		  ,[Cod_Origen_Deuda]
		  ,[Cod_Forma_Dispersion]
		  ,[titular_cuenta]
		  ,[Cod_ECV_Compra_Deuda]
		  ,[fecha_Registro]
		  ,[Id_Usuario]
		FROM [dbo].[Ctz_Compra_Deuda] 
		Where Id_Cotizacion = @Id_Cotizacion

		declare @countCompraDeuda int = (select count(*) from @tmp_Ctz_Compra_Deuda)

		while @countCompraDeuda > 0
		begin
			Select top 1 @cD_id_compra_deuda= [id_compra_deuda]
				 ,@cD_Id_Cotizacion 		= [Id_Cotizacion]
				 ,@cD_nombre_Acreedor 		= [nombre_Acreedor]
				 ,@cD_clabe_Acreedor 		= [clabe_Acreedor]
				 ,@cD_id_banco 				= [id_banco]
				 ,@cD_sucursal_Bancaria 	= [sucursal_Bancaria]
				 ,@cD_Referencia_Deuda 		= [Referencia_Deuda]
				 ,@cD_Cod_Tipo_Compra 		= [Cod_Tipo_Compra]
				 ,@cD_Importe_Deuda 		= [Importe_Deuda]
				 ,@cD_fecha_Emision_Saldo 	= [fecha_Emision_Saldo]
				 ,@cD_fecha_Vigencia_Saldo	= [fecha_Vigencia_Saldo]
				 ,@cD_importe_pago_mensual 	= [importe_pago_mensual]
				 ,@cD_concepto_compra		= [concepto_compra]
				 ,@cD_Id_Concepto 			= [Id_Concepto]
				 ,@cD_Cod_Origen_Deuda 		= [Cod_Origen_Deuda]
				 ,@cD_Cod_Forma_Dispersion 	= [Cod_Forma_Dispersion]
				 ,@cD_titular_cuenta 		= [titular_cuenta]
				 ,@cD_Cod_ECV_Compra_Deuda	= [Cod_ECV_Compra_Deuda]
				 ,@cD_fecha_Registro 		= [fecha_Registro]
				 ,@cD_Id_Usuario 			= [Id_Usuario]
			From @tmp_Ctz_Compra_Deuda

			EXECUTE [dbo].[proc_Orgn_CompraDeuda_Add_Update] 
			   @id_compra_deuda			=		0
			  ,@Id_Credito				   =	0
			  ,@Id_Cotizacion			   =	@Id_Cotizacion_Nueva
			  ,@nombre_Acreedor			   =	@cD_nombre_Acreedor
			  ,@clabe_Acreedor			   =	@cD_clabe_Acreedor
			  ,@id_banco				   =	@cD_id_banco
			  ,@sucursal_Bancaria		   =	@cD_sucursal_Bancaria
			  ,@Referencia_Deuda		   =	@cD_Referencia_Deuda
			  ,@Cod_Tipo_Compra			   =	@cD_Cod_Tipo_Compra
			  ,@Importe_Deuda			   =	@cD_Importe_Deuda
			  ,@fecha_Emision_Saldo		   =	@cD_fecha_Emision_Saldo
			  ,@fecha_Vigencia_Saldo	   =	@cD_fecha_Vigencia_Saldo
			  ,@importe_pago_mensual	   =	@cD_importe_pago_mensual
			  ,@concepto_compra			   =	@cD_concepto_compra
			  ,@Id_Concepto				   =	@cD_Id_Concepto
			  ,@Cod_Origen_Deuda		   =	@cD_Cod_Origen_Deuda
			  ,@Cod_Forma_Dispersion	   =	@cD_Cod_Forma_Dispersion
			  ,@titular_cuenta			   =	@cD_titular_cuenta
			  ,@Cod_ECV_Compra_Deuda	   =	@cD_Cod_ECV_Compra_Deuda
			  ,@Id_Usuario				   =	@cD_Id_Usuario

			delete from @tmp_Ctz_Compra_Deuda where [id_compra_deuda] = @cD_id_compra_deuda
			Set @countCompraDeuda = (select count(*) from @tmp_Ctz_Compra_Deuda)
		end

		---- Realiza la copia de los registros Ctz_Compra_Deuda
		--INSERT INTO [dbo].[Ctz_Compra_Deuda]
		--			([id_Cotizacion],[id_Persona]
		--			,[id_TipoPago],[nombre]
		--			,[clabe],[sucursal]
		--			,[descripcion],[pagare]
		--			,[estatus_Solicitud_CD],[fecha_Saldo]
		--			,[fecha_Registro],[titular],[monto_Dispersar]
		--			,[Cod_Producto_Comercial],[id_banco]
		--			,[estatus],[IdSolicitud],[id_ControlArchivoSolictud]
		--			,[importe_pago_mensual],[id_Credito],[concepto_compra])
		--	Select 
		--	  @Id_Cotizacion_Nueva
		--	  ,[id_Persona],[id_TipoPago],[nombre]
		--	  ,[clabe],[sucursal],[descripcion],[pagare]
		--	  ,[estatus_Solicitud_CD],[fecha_Saldo],[fecha_Registro]
		--	  ,[titular],[monto_Dispersar],[Cod_Producto_Comercial]
		--	  ,[id_banco],[estatus],[IdSolicitud],[id_ControlArchivoSolictud]
		--	  ,[importe_pago_mensual],[id_Credito],[concepto_compra]
		--  FROM [dbo].[Ctz_Compra_Deuda] where id_Cotizacion = @Id_Cotizacion

		print 'Inicia proceso de copia de datos de domicilios.'
	
		--declare @Id_Cotizacion int 
		--declare @Id_Cotizacion_Nueva int
		--declare @id_usuario int

		--set @Id_Cotizacion = 1001132
		--set @Id_Cotizacion_Nueva = 1001134
		--set @id_usuario = 1342

		  -- Realiza la copia de los docimicilio de la cotización
		  declare @tmp_Ctz_Domicilios TABLE(
			[Id_Cotizacion] [int] NOT NULL,
			[Id_Direccion] [int] NOT NULL,
			[Ind_Catalogado] [bit] NULL,
			[Id_Colonia] [int] NULL,
			[Id_Delegacion] [int] NULL,
			[Id_Municipio] [int] NULL,
			[Id_Edo_Region] [smallint] NULL,
			[Cod_Pais_ISO] [smallint] NULL,
			[Cod_Tipo_Domicilio] [char](2) NULL,
			[Cod_Situacion_Domicilio] [char](2) NULL,
			[Calle] [nvarchar](50) NULL,
			[Numero_Ext] [nvarchar](10) NULL,
			[Numero_Int] [nvarchar](10) NULL,
			[Unidad_Habitacional] [nvarchar](30) NULL,
			[Edificio] [nvarchar](20) NULL,
			[Piso] [nvarchar](10) NULL,
			[Departamento] [nvarchar](10) NULL,
			[Casa] [nvarchar](10) NULL,
			[Lote] [nvarchar](10) NULL,
			[Manzana] [nvarchar](10) NULL,
			[Codigo_Postal] [int] NULL,
			[Colonia] [nvarchar](30) NULL,
			[Localidad] [nvarchar](30) NULL,
			[Delegacion] [nvarchar](30) NULL,
			[Municipio] [nvarchar](30) NULL,
			[Edo_Region] [nvarchar](30) NULL,
			[Pais] [nvarchar](4) NULL,
			[EntreCalles] [nvarchar](50) NULL,
			[Cod_Ecv_Direccion] [char](1) NULL,
			[Fecha_Ult_Accion] [date] NULL,
			[Cod_Ult_Accion] [char](2) NULL,
			[Id_Persona] [int] NOT NULL,
			[Fecha_Inicio_Residencia] [date] NULL,
			[Fecha_Fin_Residencia] [date] NULL,
			[Fecha_Registro] [datetime] NULL,
			[Fecha_Valido_Desde] [date] NULL,
			[Fecha_Valido_Hasta] [date] NULL,
			[Fecha_Ult_Cambio] [datetime] NULL,
			[Version] [smallint] NULL,
			[Prioridad] [char](1) NULL,
			[Latitud] [varchar](20) NULL,
			[Longitud] [varchar](20) NULL,
			[Id_Cotizacion_Persona] [int] NULL,
			[Cod_Rol_Pers_Credito] [char](2) NULL,
			[Id_Direccion_en_Domicilios] [int] NULL
			)

			insert into @tmp_Ctz_Domicilios
			select * from Ctz_Domicilios
			where Id_Cotizacion = @Id_Cotizacion

			declare @Domi_Id_Direccion int 
			declare @Domi_Ind_Catalogado bit 
			declare @Domi_Id_Colonia int 
			declare @Domi_Id_Delegacion int 
			declare @Domi_Id_Municipio int 
			declare @Domi_Id_Edo_Region smallint 
			declare @Domi_Cod_Pais_ISO smallint 
			declare @Domi_Cod_Tipo_Domicilio char(2) 
			declare @Domi_Cod_Situacion_Domicilio char(2) 
			declare @Domi_Calle nvarchar(50) 
			declare @Domi_Numero_Ext nvarchar(10) 
			declare @Domi_Numero_Int nvarchar(10) 
			declare @Domi_Unidad_Habitacional nvarchar(30) 
			declare @Domi_Edificio nvarchar(20) 
			declare @Domi_Piso nvarchar(10) 
			declare @Domi_Departamento nvarchar(10) 
			declare @Domi_Casa nvarchar(10) 
			declare @Domi_Lote nvarchar(10) 
			declare @Domi_Manzana nvarchar(10) 
			declare @Domi_Codigo_Postal int 
			declare @Domi_Colonia nvarchar(30) 
			declare @Domi_Localidad nvarchar(30) 
			declare @Domi_Delegacion nvarchar(30) 
			declare @Domi_Municipio nvarchar(30) 
			declare @Domi_Edo_Region nvarchar(30) 
			declare @Domi_Pais nvarchar(4) 
			declare @Domi_EntreCalles nvarchar(50) 
			declare @Domi_Cod_Ecv_Direccion char(1) 
			declare @Domi_Fecha_Ult_Accion date 
			declare @Domi_Cod_Ult_Accion char(2) 
			declare @Domi_Id_Persona int  
			declare @Domi_Fecha_Inicio_Residencia date 
			declare @Domi_Fecha_Fin_Residencia date 
			declare @Domi_Fecha_Registro datetime 
			declare @Domi_Fecha_Valido_Desde date 
			declare @Domi_Fecha_Valido_Hasta date 
			declare @Domi_Fecha_Ult_Cambio datetime 
			declare @Domi_Version smallint 
			declare @Domi_Prioridad char(1) 
			declare @Domi_Latitud varchar(20) 
			declare @Domi_Longitud varchar(20) 
			declare @Domi_Id_Cotizacion_Persona int 
			declare @Domi_Id_Direccion_en_Domicilios int 
			declare @Domi_Cod_Rol_Pers_Credito char(2) 

			declare @countDomi int = (select count(*) from @tmp_Ctz_Domicilios)

			while @countDomi > 0
			begin

				-- Almacena el domicilio de la persona
				SELECT top 1 
						@Domi_Id_Direccion				   = Id_Direccion
						,@Domi_Ind_Catalogado                = [Ind_Catalogado]
						,@Domi_Id_Colonia                    = [Id_Colonia]
						,@Domi_Id_Delegacion                 = [Id_Delegacion]
						,@Domi_Id_Municipio                  = [Id_Municipio]
						,@Domi_Id_Edo_Region                 = [Id_Edo_Region]
						,@Domi_Cod_Pais_ISO                  = [Cod_Pais_ISO]
						,@Domi_Cod_Tipo_Domicilio            = [Cod_Tipo_Domicilio]
						,@Domi_Cod_Situacion_Domicilio       = [Cod_Situacion_Domicilio]
						,@Domi_Calle                         = [Calle]
						,@Domi_Numero_Ext                    = [Numero_Ext]
						,@Domi_Numero_Int                    = [Numero_Int]
						,@Domi_Unidad_Habitacional           = [Unidad_Habitacional]
						,@Domi_Edificio                      = [Edificio]
						,@Domi_Piso                          = [Piso]
						,@Domi_Departamento                  = [Departamento]
						,@Domi_Casa                          = [Casa]
						,@Domi_Lote                          = [Lote]
						,@Domi_Manzana                       = [Manzana]
						,@Domi_Codigo_Postal                 = [Codigo_Postal]
						,@Domi_Colonia                       = [Colonia]
						,@Domi_Localidad                     = [Localidad]
						,@Domi_Delegacion                    = [Delegacion]
						,@Domi_Municipio                     = [Municipio]
						,@Domi_Edo_Region                    = [Edo_Region]
						,@Domi_Pais                          = [Pais]
						,@Domi_EntreCalles                   = [EntreCalles]
						,@Domi_Cod_Ecv_Direccion             = [Cod_Ecv_Direccion]
						,@Domi_Fecha_Ult_Accion              = [Fecha_Ult_Accion]
						,@Domi_Cod_Ult_Accion                = [Cod_Ult_Accion]
						,@Domi_Id_Persona                    = [Id_Persona]
						,@Domi_Fecha_Inicio_Residencia       = [Fecha_Inicio_Residencia]
						,@Domi_Fecha_Fin_Residencia          = [Fecha_Fin_Residencia]
						,@Domi_Fecha_Registro                = [Fecha_Registro]
						,@Domi_Fecha_Valido_Desde            = [Fecha_Valido_Desde]
						,@Domi_Fecha_Valido_Hasta            = [Fecha_Valido_Hasta]
						,@Domi_Fecha_Ult_Cambio              = [Fecha_Ult_Cambio]
						,@Domi_Version                       = [Version]
						,@Domi_Prioridad                     = [Prioridad]
						,@Domi_Latitud                       = [Latitud]
						,@Domi_Longitud                      = [Longitud]
						,@Domi_Id_Cotizacion_Persona         = [Id_Cotizacion_Persona]
						,@Domi_Id_Direccion_en_Domicilios    = [Id_Direccion_en_Domicilios]
						,@Domi_Cod_Rol_Pers_Credito = Cod_Rol_Pers_Credito
				FROM @tmp_Ctz_Domicilios

				Exec proc_Orgn_Cotizacion_Domicilio_Add_Update
					 @Id_Cotizacion              = @Id_Cotizacion_Nueva             
					,@Id_Direccion               = 0              
					,@Ind_Catalogado             = @Domi_Ind_Catalogado            
					,@Id_Colonia                 = @Domi_Id_Colonia                
					,@Id_Delegacion              = @Domi_Id_Delegacion             
					,@Id_Municipio               = @Domi_Id_Municipio              
					,@Id_Edo_Region              = @Domi_Id_Edo_Region             
					,@Cod_Pais_ISO               = @Domi_Cod_Pais_ISO              
					,@Cod_Tipo_Domicilio         = @Domi_Cod_Tipo_Domicilio        
					,@Cod_Situacion_Domicilio    = @Domi_Cod_Situacion_Domicilio   
					,@Calle                      = @Domi_Calle                     
					,@Numero_Ext                 = @Domi_Numero_Ext                
					,@Numero_Int                 = @Domi_Numero_Int                
					,@Unidad_Habitacional        = @Domi_Unidad_Habitacional       
					,@Edificio                   = @Domi_Edificio                  
					,@Piso                       = @Domi_Piso                      
					,@Departamento               = @Domi_Departamento              
					,@Casa                       = @Domi_Casa                      
					,@Lote                       = @Domi_Lote                      
					,@Manzana                    = @Domi_Manzana                   
					,@Codigo_Postal              = @Domi_Codigo_Postal             
					,@Colonia                    = @Domi_Colonia                   
					,@Localidad                  = @Domi_Localidad                 
					,@Delegacion                 = @Domi_Delegacion                
					,@Municipio                  = @Domi_Municipio                 
					,@Edo_Region                 = @Domi_Edo_Region                
					,@Pais                       = @Domi_Pais                      
					,@EntreCalles                = @Domi_EntreCalles               
					,@Cod_Ecv_Direccion          = @Domi_Cod_Ecv_Direccion         
					,@Fecha_Ult_Accion           = @Domi_Fecha_Ult_Accion          
					,@Cod_Ult_Accion             = @Domi_Cod_Ult_Accion            
					,@Id_Persona                 = @Domi_Id_Persona                
					,@Fecha_Inicio_Residencia    = @Domi_Fecha_Inicio_Residencia   
					,@Fecha_Fin_Residencia       = @Domi_Fecha_Fin_Residencia      
					,@Fecha_Registro             = @Domi_Fecha_Registro            
					,@Fecha_Valido_Desde         = @Domi_Fecha_Valido_Desde        
					,@Fecha_Valido_Hasta         = @Domi_Fecha_Valido_Hasta        
					,@Fecha_Ult_Cambio           = @Domi_Fecha_Ult_Cambio          
					,@Version                    = @Domi_Version                   
					,@Prioridad                  = @Domi_Prioridad                 
					,@Latitud                    = @Domi_Latitud                   
					,@Longitud                   = @Domi_Longitud                  
					,@Cod_Rol_Pers_Credito       = @Domi_Cod_Rol_Pers_Credito      
					,@Id_Direccion_en_Domicilios = @Domi_Id_Direccion_en_Domicilios
					,@Regresa_Select = 0

				delete from @tmp_Ctz_Domicilios where Id_Direccion = @Domi_Id_Direccion
				set @countDomi = (select count(*) from @tmp_Ctz_Domicilios)
			end

			print 'Concluye proceso de carga de domicilios.'

			print 'Inicia copia de datos de ingresos y egresos.'
			--declare @Id_Cotizacion int 
			--declare @Id_Cotizacion_Nueva int
			--declare @id_usuario int

			--set @Id_Cotizacion = 1001132
			--set @Id_Cotizacion_Nueva = 1001134
			--set @id_usuario = 1342


			-- inicia la compia de ingresos y egresos
			declare @migra_IngresosEgresos table (
					[ID_CotizacionIngresoEgreso] [int] NOT NULL,
					[ID_Cotizacion] [int] NOT NULL,
					[Cod_Tipo_IngEgr] [char](1) NOT NULL,
					[Cod_Origen] [char](1) NOT NULL,
					[Id_Concepto] [int] NOT NULL,
					[Ind_Incluye_PDD] [char](1) NOT NULL,
					[Ind_Incluye_CDP] [char](1) NOT NULL,
					[Importe] [decimal](8, 2) NULL,
					[Fecha_Ingreso] [smalldatetime] NULL,
					[Observaciones] [varchar](50) NULL,
					[Id_Cotizacion_Persona] int null,
					[Importe_Capturado] decimal(8,2)  null
			);



			Declare @IngEgr_ID_CotizacionIngresoEgreso [int] 
			Declare @IngEgr_ID_Cotizacion [int] 
			Declare @IngEgr_Cod_Tipo_IngEgr [char](1) 
			Declare @IngEgr_Cod_Origen [char](1) 
			Declare @IngEgr_Id_Concepto [int] 
			Declare @IngEgr_Ind_Incluye_PDD [char](1) 
			Declare @IngEgr_Ind_Incluye_CDP [char](1) 
			Declare @IngEgr_Importe [decimal](8, 2) 
			Declare @IngEgr_Fecha_Ingreso [smalldatetime] 
			Declare @IngEgr_Observaciones [varchar](50) 
			Declare @IngEgr_Id_Cotizacion_Persona int 
			Declare @IngEgr_Importe_Capturado decimal(8,2)  
			declare @countIngresosEgresos int



			print 'Inicia proceso de copia de datos de personas de la cotización.'
			--declare @Id_Cotizacion int 
			--declare @Id_Cotizacion_Nueva int
			--declare @id_usuario int

			--set @Id_Cotizacion = 1001132
			--set @Id_Cotizacion_Nueva = 1001134
			--set @id_usuario = 1342

			declare @pers_Id_Cotizacion_Persona_Original [int]  

			declare @pers_Id_Cotizacion_Persona [int]  
			declare @pers_ID_Cotizacion [int]  
			declare @pers_Id_Persona [int] 
			declare @pers_Primer_Nombre [varchar](30) 
			declare @pers_Segundo_Nombre [varchar](30) 
			declare @pers_Primer_Apellido [varchar](30) 
			declare @pers_Segundo_Apellido [varchar](30) 
			declare @pers_Correo [nvarchar](50) 
			declare @pers_Telefono [nvarchar](20) 
			declare @pers_RFC [nvarchar](20) 
			declare @pers_Fecha_Nacimiento [date] 
			declare @pers_Ingresos [decimal](10, 2) 
			declare @pers_Egresos [decimal](10, 2) 
			declare @pers_Porc_Max_Endeudamiento [decimal](5, 2) 
			declare @pers_Porc_Max_Descuento [decimal](5, 2) 
			declare @pers_Nomi_Neto [decimal](18, 2) 
			declare @pers_Nomi_Total_Ingresos [decimal](18, 2) 
			declare @pers_Nomi_Total_Egresos [decimal](18, 2) 
			declare @pers_Nomi_Monto_Disponible [decimal](18, 2) 
			declare @pers_Nomi_Porc_Descuento [decimal](5, 2) 
			declare @pers_Total_Neto [decimal](18, 2) 
			declare @pers_Total_Ingresos [decimal](18, 2) 
			declare @pers_Total_Egresos [decimal](18, 2) 
			declare @pers_Total_Monto_Disponible [decimal](18, 2) 
			declare @pers_Total_Porc_Descuento [decimal](5, 2) 
			declare @pers_Buro_Credito_Total_Cuentas [decimal](18, 2) 
			declare @pers_Buro_Credito_Control_Consulta [varchar](20) 
			declare @pers_Cod_Rol_Pers_Credito [char](2) 
			declare @pers_Ingresos_Nomina [decimal](18,2)
			declare @pers_Egresos_Nomina [decimal](18,2)
			declare @pers_Otros_Ingresos [decimal](18,2)
			declare @pers_Otros_Egresos [decimal](18,2)
			declare @pers_Id_Externo int
			declare @Id_Registro_Consulta_Lista_Nominal int 
			declare @Lista_Nominal_estatus  varchar(20)
			declare @Lista_Nominal_Resultado_Servicio bit


			-- Inicia con la carga de personas de la cotización
			declare @migra_Personas table (
				[Id_Cotizacion_Persona] [int] NOT NULL,
				[ID_Cotizacion] [int] NOT NULL,
				[Id_Persona] [int] NULL,
				[Primer_Nombre] [varchar](30) NULL,
				[Segundo_Nombre] [varchar](30) NULL,
				[Primer_Apellido] [varchar](30) NULL,
				[Segundo_Apellido] [varchar](30) NULL,
				[Correo] [nvarchar](50) NULL,
				[Telefono] [nvarchar](20) NULL,
				[RFC] [nvarchar](20) NULL,
				[Fecha_Nacimiento] [date] NULL,
				[Ingresos] [decimal](10, 2) NULL,
				[Egresos] [decimal](10, 2) NULL,
				[Porc_Max_Endeudamiento] [decimal](5, 2) NULL,
				[Porc_Max_Descuento] [decimal](5, 2) NULL,
				[Nomi_Neto] [decimal](18, 2) NULL,
				[Nomi_Total_Ingresos] [decimal](18, 2) NULL,
				[Nomi_Total_Egresos] [decimal](18, 2) NULL,
				[Nomi_Monto_Disponible] [decimal](18, 2) NULL,
				[Nomi_Porc_Descuento] [decimal](5, 2) NULL,
				[Total_Neto] [decimal](18, 2) NULL,
				[Total_Ingresos] [decimal](18, 2) NULL,
				[Total_Egresos] [decimal](18, 2) NULL,
				[Total_Monto_Disponible] [decimal](18, 2) NULL,
				[Total_Porc_Descuento] [decimal](5, 2) NULL,
				[Buro_Credito_Total_Cuentas] [decimal](18, 2) NULL,
				[Buro_Credito_Control_Consulta] [varchar](20) NULL,
				[Cod_Rol_Pers_Credito] [char](2) NULL,
				[Ingresos_Nomina] [decimal](18,2),
				[Egresos_Nomina] [decimal](18,2),
				[Otros_Ingresos] [decimal](18,2),
				[Otros_Egresos] [decimal](18,2),
				[Id_Externo] int,
				[Id_Registro_Consulta_Lista_Nominal] int, 
				[Lista_Nominal_estatus] varchar(20),
				[Lista_Nominal_Resultado_Servicio] bit,
				[CURP] varchar(18),
				Id_Registro_Valida_CURP	int,
				Valida_CURP_estatus	varchar(20),
				Valida_CURP_Resultado_Servicio	bit,
				Cod_Genero	char(1)
			)

			Insert into @migra_Personas
			select * from ctz_Personas where ID_Cotizacion = @Id_Cotizacion

			declare @countPersonas int

			Set @countPersonas = (select count(*) from @migra_Personas)

			while @countPersonas > 0
			begin
			
				select top 1
				@pers_Id_Cotizacion_Persona_Original = [Id_Cotizacion_Persona]
				,@pers_ID_Cotizacion				   =  ID_Cotizacion
				,@pers_Id_Persona					   =  Id_Persona
				,@pers_Primer_Nombre 				   =  Primer_Nombre 
				,@pers_Segundo_Nombre 				   =  Segundo_Nombre 
				,@pers_Primer_Apellido				   =  Primer_Apellido
				,@pers_Segundo_Apellido 			   =  Segundo_Apellido 
				,@pers_Correo						   =  Correo
				,@pers_Telefono						   =  Telefono
				,@pers_RFC							   =  RFC
				,@pers_Fecha_Nacimiento				   =  Fecha_Nacimiento
				,@pers_Ingresos 					   =  Ingresos 
				,@pers_Egresos						   =  Egresos
				,@pers_Porc_Max_Endeudamiento		   =  Porc_Max_Endeudamiento
				,@pers_Porc_Max_Descuento			   =  Porc_Max_Descuento
				,@pers_Nomi_Neto					   =  Nomi_Neto
				,@pers_Nomi_Total_Ingresos			   =  Nomi_Total_Ingresos
				,@pers_Nomi_Total_Egresos			   =  Nomi_Total_Egresos
				,@pers_Nomi_Monto_Disponible		   =  Nomi_Monto_Disponible
				,@pers_Nomi_Porc_Descuento			   =  Nomi_Porc_Descuento
				,@pers_Total_Neto 					   =  Total_Neto 
				,@pers_Total_Ingresos				   =  Total_Ingresos
				,@pers_Total_Egresos 				   =  Total_Egresos 
				,@pers_Total_Monto_Disponible 		   =  Total_Monto_Disponible 
				,@pers_Total_Porc_Descuento 		   =  Total_Porc_Descuento 
				,@pers_Buro_Credito_Total_Cuentas 	   =  Buro_Credito_Total_Cuentas 
				,@pers_Buro_Credito_Control_Consulta   =  Buro_Credito_Control_Consulta
				,@pers_Cod_Rol_Pers_Credito			   =  Cod_Rol_Pers_Credito
				,@pers_Ingresos_Nomina				   =  Ingresos_Nomina
				,@pers_Egresos_Nomina				   =  Egresos_Nomina
				,@pers_Otros_Ingresos				   =  Otros_Ingresos
				,@pers_Otros_Egresos				   =  Otros_Egresos
				,@pers_Id_Externo						= Id_Externo
				,@Id_Registro_Consulta_Lista_Nominal   = isnull(Id_Registro_Consulta_Lista_Nominal,0) 
				,@Lista_Nominal_estatus					= isnull(Lista_Nominal_estatus,'' )
				,@Lista_Nominal_Resultado_Servicio		= isnull(Lista_Nominal_Resultado_Servicio,0) 
				from @migra_Personas

				 set @pers_Id_Cotizacion_Persona = 0


				exec proc_Orgn_Cotizacion_Personas_Add_Upate  
				 @Id_Cotizacion_Persona				= @pers_Id_Cotizacion_Persona output
				,@ID_Cotizacion						= @Id_Cotizacion_Nueva				
				,@Id_Persona 						= @pers_Id_Persona					
				,@Primer_Nombre 					= @pers_Primer_Nombre 				
				,@Segundo_Nombre 					= @pers_Segundo_Nombre 				
				,@Primer_Apellido 					= @pers_Primer_Apellido				
				,@Segundo_Apellido 					= @pers_Segundo_Apellido 			
				,@Correo 							= @pers_Correo						
				,@Telefono 							= @pers_Telefono						
				,@RFC 								= @pers_RFC							
				,@Fecha_Nacimiento 					= @pers_Fecha_Nacimiento				
				,@Ingresos 							= @pers_Ingresos 					
				,@Egresos 							= @pers_Egresos						
				,@Porc_Max_Endeudamiento 			= @pers_Porc_Max_Endeudamiento		
				,@Porc_Max_Descuento 				= @pers_Porc_Max_Descuento			
				,@Nomi_Neto 						= @pers_Nomi_Neto					
				,@Nomi_Total_Ingresos 				= @pers_Nomi_Total_Ingresos			
				,@Nomi_Total_Egresos 				= @pers_Nomi_Total_Egresos			
				,@Nomi_Monto_Disponible 			= @pers_Nomi_Monto_Disponible		
				,@Nomi_Porc_Descuento 				= @pers_Nomi_Porc_Descuento			
				,@Total_Neto 						= @pers_Total_Neto 					
				,@Total_Ingresos 					= @pers_Total_Ingresos				
				,@Total_Egresos 					= @pers_Total_Egresos 				
				,@Total_Monto_Disponible 			= @pers_Total_Monto_Disponible 		
				,@Total_Porc_Descuento 				= @pers_Total_Porc_Descuento 		
				,@Buro_Credito_Total_Cuentas 		= @pers_Buro_Credito_Total_Cuentas 	
				,@Buro_Credito_Control_Consulta 	= @pers_Buro_Credito_Control_Consulta
				,@Cod_Rol_Pers_Credito 				= @pers_Cod_Rol_Pers_Credito			
				,@Ingresos_Nomina 					= @pers_Ingresos_Nomina				
				,@Egresos_Nomina 					= @pers_Egresos_Nomina				
				,@Otros_Ingresos 					= @pers_Otros_Ingresos				
				,@Otros_Egresos  					= @pers_Otros_Egresos		
				,@Id_Externo  						= @pers_Id_Externo		
				,@Id_Registro_Consulta_Lista_Nominal   = @Id_Registro_Consulta_Lista_Nominal 
				,@Lista_Nominal_estatus					= @Lista_Nominal_estatus
				,@Lista_Nominal_Resultado_Servicio		= @Lista_Nominal_Resultado_Servicio
				,@Regresa_Select = 0


				delete from @migra_IngresosEgresos

				-- Inicia proceso de carga de ingresos y egresos de la persona
				insert into @migra_IngresosEgresos
				SELECT [ID_CotizacionIngresoEgreso]
						,[ID_Cotizacion]
						,[Cod_Tipo_IngEgr]
						,[Cod_Origen]
						,[Id_Concepto]
						,[Ind_Incluye_PDD]
						,[Ind_Incluye_CDP]
						,[Importe]
						,[Fecha_Ingreso]
						,[Observaciones]
						,[Id_Cotizacion_Persona]
						,[Importe_Capturado]
					FROM [dbo].[Ctz_Ingresos_Egresos]
					Where [Id_Cotizacion] = @Id_Cotizacion 


				set @countIngresosEgresos = (select count(*) from @migra_IngresosEgresos)

				while @countIngresosEgresos > 0
				begin
			
					Select top 1 
						@IngEgr_ID_CotizacionIngresoEgreso= [ID_CotizacionIngresoEgreso]
						,@IngEgr_ID_Cotizacion = [ID_Cotizacion]
						,@IngEgr_Cod_Tipo_IngEgr = [Cod_Tipo_IngEgr]
						,@IngEgr_Cod_Origen = [Cod_Origen]
						,@IngEgr_Id_Concepto = [Id_Concepto]
						,@IngEgr_Ind_Incluye_PDD = [Ind_Incluye_PDD]
						,@IngEgr_Ind_Incluye_CDP = [Ind_Incluye_CDP]
						,@IngEgr_Importe = [Importe]
						,@IngEgr_Fecha_Ingreso = [Fecha_Ingreso]
						,@IngEgr_Observaciones = [Observaciones]
						,@IngEgr_Id_Cotizacion_Persona = [Id_Cotizacion_Persona]
						,@IngEgr_Importe_Capturado = [Importe_Capturado]
					from @migra_IngresosEgresos

					print '@IngEgr_ID_CotizacionIngresoEgreso'
					print @IngEgr_ID_CotizacionIngresoEgreso

					EXEC [proc_Orgn_Cotizacion_IngresosEgresos_Add_Upate]
						@ID_CotizacionIngresoEgreso = 0 
						,@ID_Cotizacion = @Id_Cotizacion_Nueva
						,@Cod_Tipo_IngEgr = @IngEgr_Cod_Tipo_IngEgr
						,@Cod_Origen = @IngEgr_Cod_Origen
						,@Id_Concepto = @IngEgr_Id_Concepto
						,@Ind_Incluye_PDD = @IngEgr_Ind_Incluye_PDD
						,@Ind_Incluye_CDP = @IngEgr_Ind_Incluye_CDP
						,@Importe = @IngEgr_Importe
						,@Fecha_Ingreso = @IngEgr_Fecha_Ingreso
						,@Observaciones = @IngEgr_Observaciones
						,@Id_Cotizacion_Persona = @pers_Id_Cotizacion_Persona
						,@Importe_Capturado = @IngEgr_Importe_Capturado
						,@Regresa_Select = 0

					delete @migra_IngresosEgresos where ID_CotizacionIngresoEgreso=@IngEgr_ID_CotizacionIngresoEgreso
 
					set @countIngresosEgresos = (select count(*) from @migra_IngresosEgresos)
				end


				delete from @migra_Personas where Id_Cotizacion_Persona = @pers_Id_Cotizacion_Persona_Original
			
				Set @countPersonas = (select count(*) from @migra_Personas)
			end

			print 'Inicia proceso de copia de saldos a renovar.'


			-- Iniciar la carga de información de saldos 
			declare @SRenov_Id_Cotizacion_Renovacion [int]
			declare @SRenov_Id_Cotizacion [int]
			declare @SRenov_Id_Persona [int]
			declare @SRenov_Id_Disposicion [int]
			declare @SRenov_Clave_Disposicion [varchar](20)
			declare @SRenov_Importe [decimal](10, 2)
			declare @SRenov_Saldo_Insoluto [decimal](10, 2)
			declare @SRenov_Monto_Dispersar [decimal](10, 2) 
			declare @SRenov_Fecha_Alta [date]
			declare @SRenov_Fecha_Vencimiento [date]
			declare @SRenov_Pagare [varchar](50)
			declare @SRenov_Prospecto [int] 

			declare @copia_Saldos_Renovar table(
				[Id_Cotizacion_Renovacion] [int] NOT NULL,
				[Id_Cotizacion] [int] NOT NULL,
				[Id_Persona] [int] NOT NULL,
				[Id_Disposicion] [int] NOT NULL,
				[Clave_Disposicion] [varchar](20) NOT NULL,
				[Importe] [decimal](10, 2) NULL,
				[Saldo_Insoluto] [decimal](10, 2) NULL,
				[Monto_Dispersar] [decimal](10, 2) NULL,
				[Fecha_Alta] [date] NULL,
				[Fecha_Vencimiento] [date] NULL,
				[Pagare] [varchar](50) NULL,
				[Prospecto] [int] NULL
			) 

			Insert into @copia_Saldos_Renovar
			select * from [dbo].[Ctz_Saldos_Renovar] where ID_Cotizacion = @Id_Cotizacion

			declare @countSaldoRenovar int

			set @countSaldoRenovar = (select count(*) from @copia_Saldos_Renovar)

			while @countSaldoRenovar > 0
			begin
				print 'copiando saldo a renovar '
				select top 1
					 @SRenov_Id_Cotizacion_Renovacion = Id_Cotizacion_Renovacion 
					,@SRenov_Id_Cotizacion 			  = Id_Cotizacion 
					,@SRenov_Id_Persona 			  = Id_Persona 
					,@SRenov_Id_Disposicion 		  = Id_Disposicion 
					,@SRenov_Clave_Disposicion 		  = Clave_Disposicion 
					,@SRenov_Importe 				  = Importe 
					,@SRenov_Saldo_Insoluto 		  = Saldo_Insoluto 
					,@SRenov_Monto_Dispersar 		  = Monto_Dispersar 
					,@SRenov_Fecha_Alta 			  = Fecha_Alta 
					,@SRenov_Fecha_Vencimiento 		  = Fecha_Vencimiento 
					,@SRenov_Pagare 				  = Pagare 
					,@SRenov_Prospecto 				  = Prospecto 
				from @copia_Saldos_Renovar

				exec [proc_Orgn_Cotizacion_Saldos_Renovar_Add_Update]
				 @Id_Cotizacion_Renovacion  = 0
				,@Id_Cotizacion  			= @Id_Cotizacion_Nueva 			 
				,@Id_Persona  				= @SRenov_Id_Persona 			 
				,@Id_Disposicion  			= @SRenov_Id_Disposicion 		 
				,@Clave_Disposicion  		= @SRenov_Clave_Disposicion 		 
				,@Importe 					= @SRenov_Importe 				 
				,@Saldo_Insoluto  			= @SRenov_Saldo_Insoluto 		 
				,@Monto_Dispersar 			= @SRenov_Monto_Dispersar 		 
				,@Fecha_Alta  				= @SRenov_Fecha_Alta 			 
				,@Fecha_Vencimiento  		= @SRenov_Fecha_Vencimiento 		 
				,@Pagare  					= @SRenov_Pagare 				 
				,@Prospecto  				= @SRenov_Prospecto 				 

				delete from @copia_Saldos_Renovar 
				where Id_Cotizacion_Renovacion = @SRenov_Id_Cotizacion_Renovacion

				set @countSaldoRenovar = (select count(*) from @copia_Saldos_Renovar)

			end

			print 'concluyó copia de saldos a renovar'


			Declare @fechaHoy datetime

			set @fechaHoy = getdate()


			print 'Crear el registro de cotización'

			-- Crear el registro de cotización
			insert into Ctz_Recotizacion values (
				@Id_Cotizacion 
				,@Id_Cotizacion_Nueva 
				,@ID_Usuario 
				,@fechaHoy 
			)

			print 'Comienza la copia de la autorización de buró de crédito'

			declare @Id_Cotizacion_Solicitud_Autorizacion [int]
			declare @Id_Solicitud_Autorizacion [int]
			declare @Cod_Metodo_Autorizacion [char](1)
			declare @Codigo [int] 
			declare @Mensaje [varchar](50)
			set @Fecha_Registro = null
			declare @Fecha_Ultima_Consulta datetime = null
			declare @Codigo_ECV_Solicitud_Autorizacion [varchar](2) 
			declare @Fecha_Autorizacion [datetime] 
			set @Id_Usuario = 0 
			declare @Id_Medio [int] 

			select top 1 @Id_Solicitud_Autorizacion = Id_Solicitud_Autorizacion  
				 ,@Cod_Metodo_Autorizacion 			=  isnull(Cod_Metodo_Autorizacion,'') 			
				 ,@Codigo 							=  isnull(Codigo,0)						
				 ,@Mensaje 							=  isnull(Mensaje,'')
				 ,@Fecha_Registro 					=  isnull(Fecha_Registro,null)
				 ,@Fecha_Ultima_Consulta 			=  isnull(Fecha_Ultima_Consulta,null)		
				 ,@Codigo_ECV_Solicitud_Autorizacion =  isnull(Codigo_ECV_Solicitud_Autorizacion,'')
				 ,@Fecha_Autorizacion 				=  isnull(Fecha_Autorizacion,null)
				 ,@Id_Usuario 						=  isnull(Id_Usuario,0)						
				 ,@Id_Medio 						=  isnull(Id_Medio ,0)
			from CTZ_Solicitud_Autorizacion_Buro
			where id_cotizacion = @Id_Cotizacion  and [Codigo_ECV_Solicitud_Autorizacion] = '03'

			exec [proc_Orgn_CTZ_Solicitud_Autorizacion_Buro_Add_Update]
			@Id_Cotizacion_Solicitud_Autorizacion = 0
			,@Id_Cotizacion = @Id_Cotizacion_Nueva
			,@Id_Solicitud_Autorizacion  = 0
			,@Cod_Metodo_Autorizacion = @Cod_Metodo_Autorizacion
			,@Id_Medio = @Id_Medio
			,@Codigo = @Codigo
			,@Mensaje = @Mensaje
			,@Fecha_Registro  = @Fecha_Registro
			,@Fecha_Ultima_Consulta = @Fecha_Ultima_Consulta
			,@Codigo_ECV_Solicitud_Autorizacion = @Codigo_ECV_Solicitud_Autorizacion
			,@Fecha_Autorizacion = @Fecha_Autorizacion
			,@Id_Usuario =@Id_Usuario
			,@_id = 0
			,@_msg = ''
			,@regresaresultado =0

			print 'Crear el registro de Ctz_Recotizacion_Creditos'


			insert into Ctz_Recotizacion_Creditos 
			Select @Id_Cotizacion, Id_Credito, @ID_Usuario, @fechaHoy
			From cr_credito 
			Where id_cotizacion = @Id_Cotizacion

			-- Genera cifras de control
			declare @logDatos nvarchar(max) 

			declare @count_antes_Ctz_Compra_Deuda		int	
			declare @count_antes_Ctz_Cotizacion			int
			declare @count_antes_Ctz_Domicilios			int
			declare @count_antes_Ctz_Ingresos_Egresos	int
			declare @count_antes_ctz_Personas			int
			declare @count_antes_Ctz_Saldos_Renovar		int
			declare @count_antes_Ctz_Recotizacion		int
			declare @count_antes_Ctz_Recotizacion_Creditos int
			declare @count_antes_ExpExpediente int

			select @count_antes_Ctz_Compra_Deuda	 = count(*) from Ctz_Compra_Deuda		where id_Cotizacion = @id_cotizacion
			select @count_antes_Ctz_Cotizacion		 = count(*) from Ctz_Cotizacion			where id_Cotizacion = @id_cotizacion
			select @count_antes_Ctz_Domicilios		 = count(*) from Ctz_Domicilios			where id_Cotizacion = @id_cotizacion
			select @count_antes_Ctz_Ingresos_Egresos = count(*) from Ctz_Ingresos_Egresos	where id_Cotizacion = @id_cotizacion
			select @count_antes_ctz_Personas		 = count(*) from ctz_Personas			where id_Cotizacion = @id_cotizacion
			select @count_antes_Ctz_Saldos_Renovar	 = count(*) from Ctz_Saldos_Renovar		where id_Cotizacion = @id_cotizacion
			select @count_antes_Ctz_Recotizacion	 = count(*) from Ctz_Recotizacion		where Id_Cotizacion_Original = @id_cotizacion	
			select @count_antes_Ctz_Recotizacion_Creditos = count(*) from Ctz_Recotizacion_Creditos where Id_Cotizacion_Original = @id_cotizacion	
			select @count_antes_ExpExpediente = count(*) from Exp_Expediente where ID_Referencia = @id_cotizacion	and Cod_Tipo_Tramite ='02'


			print 'Llena log datos'


			set @logDatos = N'--- Cotización ---' + char(13)
			set @logDatos = @logDatos + cast(@id_cotizacion as varchar(20)) + char(13)
			set @logDatos = @logDatos + N'@count_antes_Ctz_Compra_Deuda	' + cast(@count_antes_Ctz_Compra_Deuda		as varchar(20)) + char(13)
			set @logDatos = @logDatos + N'@count_antes_Ctz_Cotizacion		' + cast(@count_antes_Ctz_Cotizacion		as varchar(20)) + char(13)
			set @logDatos = @logDatos + N'@count_antes_Ctz_Domicilios		' + cast(@count_antes_Ctz_Domicilios		as varchar(20)) + char(13)
			set @logDatos = @logDatos + N'@count_antes_Ctz_Ingresos_Egresos' + cast(@count_antes_Ctz_Ingresos_Egresos	as varchar(20)) + char(13)
			set @logDatos = @logDatos + N'@count_antes_ctz_Personas		' + cast(@count_antes_ctz_Personas			as varchar(20)) + char(13)
			set @logDatos = @logDatos + N'@count_antes_Ctz_Saldos_Renovar	' + cast(@count_antes_Ctz_Saldos_Renovar	as varchar(20)) + char(13)
			set @logDatos = @logDatos + N'@count_antes_Ctz_Recotizacion	' + cast(@count_antes_Ctz_Recotizacion	as varchar(20)) + char(13)
			set @logDatos = @logDatos + N'@count_antes_Ctz_Recotizacion_Creditos	' + cast(@count_antes_Ctz_Recotizacion_Creditos	as varchar(20)) + char(13)
			set @logDatos = @logDatos + N'@count_antes_ExpExpediente	' + cast(@count_antes_ExpExpediente	as varchar(20)) + char(13)

			--set @id_cotizacion = 1001132
			--set @id_usuario = 1342

			--set @id_cotizacion_nueva =1001136 

			set @logDatos = @logDatos +  N'--- Nueva Cotización ---' + char(13)
			set @logDatos = @logDatos +  cast(@id_cotizacion_nueva as varchar(20)) + char(13)

			declare @count_despues_Ctz_Compra_Deuda		int	
			declare @count_despues_Ctz_Cotizacion		int
			declare @count_despues_Ctz_Domicilios		int
			declare @count_despues_Ctz_Ingresos_Egresos	int
			declare @count_despues_ctz_Personas			int
			declare @count_despues_Ctz_Saldos_Renovar	int
			declare @count_despues_Ctz_Recotizacion		int
			declare @count_despues_Ctz_Recotizacion_Creditos int
			declare @count_despues_ExpExpediente int

			print 'Valida la cuentas de registros copiados'


			select @count_despues_Ctz_Compra_Deuda	 = count(*) from Ctz_Compra_Deuda		where id_Cotizacion = @id_cotizacion_nueva
			select @count_despues_Ctz_Cotizacion		 = count(*) from Ctz_Cotizacion			where id_Cotizacion = @id_cotizacion_nueva
			select @count_despues_Ctz_Domicilios		 = count(*) from Ctz_Domicilios			where id_Cotizacion = @id_cotizacion_nueva
			select @count_despues_Ctz_Ingresos_Egresos = count(*) from Ctz_Ingresos_Egresos	where id_Cotizacion = @id_cotizacion_nueva
			select @count_despues_ctz_Personas		 = count(*) from ctz_Personas			where id_Cotizacion = @id_cotizacion_nueva
			select @count_despues_Ctz_Saldos_Renovar	 = count(*) from Ctz_Saldos_Renovar		where id_Cotizacion = @id_cotizacion_nueva
			select @count_despues_Ctz_Recotizacion	 = count(*) from Ctz_Recotizacion		where Id_Cotizacion_Original = @id_cotizacion
			select @count_despues_Ctz_Recotizacion_Creditos = count(*) from Ctz_Recotizacion_Creditos where Id_Cotizacion_Original = @id_cotizacion

			set @logDatos = @logDatos + '@count_despues_Ctz_Compra_Deuda	'		+ cast(@count_despues_Ctz_Compra_Deuda		as varchar(20)) + char(13)
			set @logDatos = @logDatos + '@count_despues_Ctz_Cotizacion		'	+ cast(@count_despues_Ctz_Cotizacion		as varchar(20)) + char(13)
			set @logDatos = @logDatos + '@count_despues_Ctz_Domicilios		'	+ cast(@count_despues_Ctz_Domicilios		as varchar(20)) + char(13)
			set @logDatos = @logDatos + '@count_despues_Ctz_Ingresos_Egresos'		+ cast(@count_despues_Ctz_Ingresos_Egresos	as varchar(20)) + char(13)
			set @logDatos = @logDatos + '@count_despues_ctz_Personas		'		+ cast(@count_despues_ctz_Personas			as varchar(20)) + char(13)
			set @logDatos = @logDatos + '@count_despues_Ctz_Saldos_Renovar	'	+ cast(@count_despues_Ctz_Saldos_Renovar	as varchar(20)) + char(13)
			set @logDatos = @logDatos + '@count_despues_Ctz_Recotizacion	' + cast(@count_despues_Ctz_Recotizacion	as varchar(20)) + char(13)
			set @logDatos = @logDatos + '@count_despues_Ctz_Recotizacion_Creditos	' + cast(@count_despues_Ctz_Recotizacion_Creditos as varchar(20)) + char(13)

			print 'Se inicia la cancelación de la solicitud'


			----------- SE QUITA ACTUALIZACIÓN 19-03-2025 ------------------
			-- Se cancela la(s) solicitud(es) de la cotización original
			--update cr_credito set cod_etapa = '02', cod_estatus = '04'
			--where id_cotizacion = @Id_Cotizacion

		

			--Exec [dbo].[proc_Orgn_Solicitud_Cancela_Rechaza]
			--	@ID_Credito [int] NULL,
			--	@Cod_Tipo_Resultado [char](1) NULL,
			--	@Fecha [date] = null,
			--	@Comentarios [varchar](500) NULL,
			--	@ID_Usuario [int] NULL,
			--	@Cod_Motivo_Cancelacion_Rechazo char(2),
			--	@Requiere_Cambio_WorkFlow bit = 1


			print 'Se canceló la solicitud'

			select @Id_Cotizacion_Nueva as id_cotizacion, @logDatos as logDatos

			print 'Fin del proceso de copia de cotización'

			set @_id = 1 -- ejecución correcta
	end try
	begin catch
		insert into	dbo.ErrorLog (suser_sname, error_number, error_state, error_severity, error_line, error_procedure, error_message, usuario_id)
		values (suser_sname(), error_number(), error_state(), error_severity(), error_line(), error_procedure(), error_message(), @ID_Usuario);
		if (xact_state()) = -1
			rollback transaction
		if (xact_state()) = 1
			commit transaction
		declare @severity int = error_severity(), @state int = error_state()
		set @_id = 0 
		set @_msg = N'Se a presentado un error: ' + (select convert(nvarchar(1024), error_number()) + ' - ' + error_message())
		raiserror(@_msg, @severity, @state)
	end catch;
	set nocount off
end 

