USE [Originacion]
GO
/****** Object:  StoredProcedure [dbo].[proc_Orgn_Cotizacion_Personas_Extrae]    Script Date: 10/04/2026 13:49:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--declare @nombreSP varchar(500) = 'proc_Orgn_Cotizacion_Personas_Extrae'


--IF EXISTS ( SELECT * 
--            FROM   sysobjects 
--            WHERE  id = object_id(N'[dbo].[' + @nombreSP + ']') 
--                   and OBJECTPROPERTY(id, N'IsProcedure') = 1 )
--BEGIN
--	declare @fecha date = getdate()
--	declare @fechaCadena varchar(8)
--	declare @nombreSPRespaldo varchar(500) 

--	set @fechaCadena = cast(year(@fecha) as varchar(4)) + 
--	right('0' + cast(month(@fecha) as varchar(2)),2) + 
--	right('0' + cast(day(@fecha) as varchar(2)),2)  

--	set @nombreSPRespaldo = @nombreSP + '_' + @fechaCadena

--	print @nombreSP
--	print @nombreSPRespaldo; 
 
--    EXEC sp_rename @nombreSP, @nombreSPRespaldo; 

--END
--Go

ALTER PROCEDURE [dbo].[proc_Orgn_Cotizacion_Personas_Extrae]
	-- Add the parameters for the stored procedure here
		   @ID_Cotizacion int
		   ,@Id_Cotizacion_Persona int = 0
		   ,@Cod_Rol_Pers_Credito char(2) 
AS
BEGIN

	--declare @ID_Cotizacion int = 1001452
	--declare @Id_Cotizacion_Persona int = 0
	--declare @Cod_Rol_Pers_Credito char(2) = '01'

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	/****** Object:  Table [dbo].[ctz_Personas]    Script Date: 11/10/2023 08:08:44 p. m. ******/
	SET ANSI_NULLS ON

	SET QUOTED_IDENTIFIER ON

	declare @lista_Personas table (
		[Id_Cotizacion_Persona] [int] NOT NULL,
		[ID_Cotizacion] [int] NOT NULL,
		[Id_Persona] [int] NULL,
		[Primer_Nombre] [varchar](30) NULL,
		[Segundo_Nombre] [varchar](30) NULL,
		[Primer_Apellido] [varchar](30) NULL,
		[Segundo_Apellido] [varchar](30) NULL,
		[Correo] [nvarchar](50) NULL,
		[Telefono] [nvarchar](20) NULL,
		[CURP] [nvarchar](18) NULL,
		[RFC] [nvarchar](20) NULL,
		[Cod_Genero] [char](1) NULL,
		[Fecha_Nacimiento] [date] NULL,
		[Ingresos] [decimal](10, 2) NULL,
		[Egresos] [decimal](10, 2) NULL,
		[Porc_Max_Endeudamiento] [decimal](5, 2) NULL,
		[Porc_Max_Descuento] [decimal](5, 2) NULL,
		[Nomi_Neto] [decimal](18, 2) NULL,
		[Nomi_Total_Ingresos] [decimal](18, 2) NULL,
		[Nomi_Total_Egresos] [decimal](18, 2) NULL,
		[Nomi_Monto_Disponible] [decimal](18, 2) NULL,
		[Nomi_Porc_Descuento] [decimal](5, 2) NULL,
		[Total_Neto] [decimal](18, 2) NULL,
		[Total_Ingresos] [decimal](18, 2) NULL,
		[Total_Egresos] [decimal](18, 2) NULL,
		[Total_Monto_Disponible] [decimal](18, 2) NULL,
		[Total_Porc_Descuento] [decimal](5, 2) NULL,
		[Buro_Credito_Total_Cuentas] [decimal](18, 2) NULL,
		[Buro_Credito_Control_Consulta] [varchar](20) NULL,
		[Cod_Rol_Pers_Credito] [char](2) NULL,
		[Ingresos_Nomina] [decimal](18, 2) NULL,
		[Egresos_Nomina] [decimal](18, 2) NULL,
		[Otros_Ingresos] [decimal](18, 2) NULL,
		[Otros_Egresos] [decimal](18, 2) NULL,
		[Id_Externo] [int] NULL,
		[Sdo_Insoluto] Decimal(18,2),
		[Cuota_Amortizacion] Decimal(18,2),
		[Cuota_Mensual_Amortizacion] Decimal(18,2),
		[Saldos_Consultados] bit,
		[Id_Registro_Consulta_Lista_Nominal] int,
		[Lista_Nominal_estatus] varchar(20),
		[Lista_Nominal_Resultado_Servicio] bit
	) 

	if @Id_Cotizacion_Persona <> 0 
	begin 
		insert into @lista_Personas 
		SELECT [Id_Cotizacion_Persona]
				,[ID_Cotizacion]
				,[Id_Persona]
				,[Primer_Nombre]
				,[Segundo_Nombre]
				,[Primer_Apellido]
				,[Segundo_Apellido]
				,[Correo]
				,[Telefono]
				,[CURP]
				,[RFC]
				,[Cod_Genero]
				,[Fecha_Nacimiento]
				,[Ingresos]
				,[Egresos]
				,[Porc_Max_Endeudamiento]
				,[Porc_Max_Descuento]
				,[Nomi_Neto]
				,[Nomi_Total_Ingresos]
				,[Nomi_Total_Egresos]
				,[Nomi_Monto_Disponible]
				,[Nomi_Porc_Descuento]
				,[Total_Neto]
				,[Total_Ingresos]
				,[Total_Egresos]
				,[Total_Monto_Disponible]
				,[Total_Porc_Descuento]
				,[Buro_Credito_Total_Cuentas]
				,[Buro_Credito_Control_Consulta]
				,[Cod_Rol_Pers_Credito]
				,[Ingresos_Nomina] 
				,[Egresos_Nomina]
				,[Otros_Ingresos]
				,[Otros_Egresos]
				,isnull([Id_Externo],0) Id_Externo
				,0,0,0,0
				,[Id_Registro_Consulta_Lista_Nominal] 
				,[Lista_Nominal_estatus] 
				,[Lista_Nominal_Resultado_Servicio] 
		  FROM [dbo].[ctz_Personas]	
		  where id_cotizacion = @ID_Cotizacion
			and Id_cotizacion_persona =  @Id_Cotizacion_Persona
			and Cod_Rol_Pers_Credito = @Cod_Rol_Pers_Credito
	end
	else 
	begin
		insert into @lista_Personas 
		SELECT [Id_Cotizacion_Persona]
				,[ID_Cotizacion]
				,[Id_Persona]
				,[Primer_Nombre]
				,[Segundo_Nombre]
				,[Primer_Apellido]
				,[Segundo_Apellido]
				,[Correo]
				,[Telefono]
				,[CURP]
				,[RFC]
				,[Cod_Genero]
				,[Fecha_Nacimiento]
				,[Ingresos]
				,[Egresos]
				,[Porc_Max_Endeudamiento]
				,[Porc_Max_Descuento]
				,[Nomi_Neto]
				,[Nomi_Total_Ingresos]
				,[Nomi_Total_Egresos]
				,[Nomi_Monto_Disponible]
				,[Nomi_Porc_Descuento]
				,[Total_Neto]
				,[Total_Ingresos]
				,[Total_Egresos]
				,[Total_Monto_Disponible]
				,[Total_Porc_Descuento]
				,[Buro_Credito_Total_Cuentas]
				,[Buro_Credito_Control_Consulta]
				,[Cod_Rol_Pers_Credito]
				,[Ingresos_Nomina] 
				,[Egresos_Nomina]
				,[Otros_Ingresos]
				,[Otros_Egresos]
				,isnull([Id_Externo],0) Id_Externo
				,0,0,0,0
				,[Id_Registro_Consulta_Lista_Nominal] 
				,[Lista_Nominal_estatus] 
				,[Lista_Nominal_Resultado_Servicio] 
		  FROM [dbo].[ctz_Personas]	
		  where id_cotizacion = @ID_Cotizacion
			and Cod_Rol_Pers_Credito = @Cod_Rol_Pers_Credito
	end

	declare @countPersonas int = 0
	declare @Id_Cot_Persona int = 0
	declare @Id_Persona int = 0

	declare @resSdo_Insoluto Decimal(18,2)
	declare @resCuota_Amortizacion Decimal(18,2) 
	declare @resCuota_Mensual_Amortizacion Decimal(18,2) 

	select @countPersonas= count(*) from @lista_Personas Where [Saldos_Consultados] = 0 

	while @countPersonas > 0
	begin
		set @resSdo_Insoluto				= 0 
		set @resCuota_Amortizacion 			= 0 
		set @resCuota_Mensual_Amortizacion 	= 0 

		set @Id_Cot_Persona = 0
		set @Id_Persona = 0



		select top 1 
			@Id_Cot_Persona = Id_Cotizacion_Persona
			,@Id_Persona = Id_Persona 
			from @lista_Personas 
			Where [Saldos_Consultados] = 0 

		print '@Id_Cot_Persona '
		print @Id_Cot_Persona 
		print '@Id_Persona '
		print @Id_Persona 

		exec [proc_Orgn_Saldo_Total_Credito_Extrae]
				@Id_Cotizacion = 0
				,@Id_Persona = @Id_Persona
			, @Sdo_Insoluto = @resSdo_Insoluto output
			, @Cuota_Amortizacion = @resCuota_Amortizacion OUTPUT
			, @Cuota_Mensual_Amortizacion = @resCuota_Mensual_Amortizacion OUTPUT								 

				

		update @lista_Personas set [Saldos_Consultados] = 1 
			,[Sdo_Insoluto] = @resSdo_Insoluto
			,[Cuota_Amortizacion] = @resCuota_Amortizacion 
			,[Cuota_Mensual_Amortizacion] = @resCuota_Mensual_Amortizacion
		where Id_Persona = @Id_Persona
			and Id_Cotizacion_Persona = @Id_Cot_Persona

		select @countPersonas= count(*) from @lista_Personas Where [Saldos_Consultados] = 0 
	end

	select * from @lista_Personas
END


