USE [Originacion]
GO
/****** Object:  StoredProcedure [dbo].[proc_Orgn_Solicitudes_Extrae]    Script Date: 08/05/2026 06:06:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Proc [dbo].[proc_Orgn_Solicitudes_Extrae]
	@Id_Credito int = 0
	,@Id_Usuario int
as
Begin
	-- Valida
	declare @cod_etapa char(2)
	declare @cod_estatus char(2)
	declare @fecha datetime = getdate()


   -- Si el usuario tiene el perfil de Coordinador de Operaciones Comerciales (Originación)
	-- podrá ver todas las solicitudes
	declare @idPerfil int
	declare @idperfilcoordinadoroperaciones int

	-- Obtiene el perfil de usuario
	select @idPerfil = idperfil from websec.dbo.[SegUsuariosPerfiles] 
	where idusuario = @Id_Usuario and Estatus = 'A'

	-- Obtiene la etapa de la solicitud
	select @cod_etapa = cod_etapa, @cod_estatus = cod_estatus
	from CR_Credito where ID_Credito = @Id_Credito

	-- Si es analista de call center y es análisis
	if (((@cod_etapa = '03' and @cod_estatus = '07') OR
	 --(@cod_etapa = '04' and @cod_estatus = '08')) 
	 (@cod_etapa = '03' and @cod_estatus = '48'))  
	and (@idPerfil = 17 or @idPerfil = 18)) 
	begin
		print 'entro a Si es analista de call center y es análisis'
		-- Verifica si existen registros [dbo].[CR_Credito_Checklist]
		if (select count(*) from [dbo].[CR_Credito_Checklist] 
			where ID_Credito = @Id_Credito) = 0
		begin
			print 'GENERA REGISTROS DE CHECKLIST'
			exec proc_Orgn_CheckList_Genera_Registros
			@Id_Credito  
			,@cod_etapa  
			,@cod_estatus 
		end

		-- Verifica si existe registro en la solicitud para CR_Credito_CheckList_Resumen
		if (select count(*) from [dbo].[CR_Credito_CheckList_Resumen] 
			where Id_Credito = @Id_Credito) = 0
		begin
			print 'no hay registros en [CR_Credito_CheckList_Resumen]'

			insert into CR_Credito_CheckList_Resumen
			values (
				@Id_Credito,
				@Id_Usuario,
				@fecha,
				null,
				'',
				@fecha,
				''
			)
		end
		else 
		begin
			print 'ya hay registros en [CR_Credito_CheckList_Resumen]'
			update CR_Credito_CheckList_Resumen
			Set [Id_Usuario_Asignado] = @Id_Usuario
			Where Id_Credito = @Id_Credito
			
		end

	end


	print '@idPerfil'
	print @idPerfil

	declare @permisoverSol int = 0
	select @permisoverSol = count(*) 
		from WebSec.dbo.SegUsuarios usr
		inner join WebSec.dbo.SegUsuariosPerfiles perfilusuario on
			perfilusuario.IdUsuario = usr.IdUsuario and 
			perfilusuario.Estatus = 'A'
		inner join WebSec.dbo.SegPerfilesObjetos objetos on
			objetos.IdPerfil = perfilusuario.IdPerfil 
	Where usr.IdUsuario = @Id_Usuario and
	objetos.IdObjeto = 3710

	print '@permisoverSol'
	print @permisoverSol

	select @idperfilcoordinadoroperaciones = [ValorEntero] from  [dbo].[Tr_Parametros_Generales]
	where [Nombre] = 'PerfilCoordOperaciones'

	print '@idperfilcoordinadoroperaciones'
	print @idperfilcoordinadoroperaciones

	declare @esUsuarioInternoSistema int = 0

	-- Valida si el usuario interno es un usuario es de sistema 
	select @esUsuarioInternoSistema = count(*) From [dbo].[Tr_Parametros_Generales]
	Where SUBSTRING([Nombre], 1, 15) = 'UsuarioInterno_' and
	[ValorEntero] = @Id_Usuario 

	-- Valida si el usuario tiene acceso o no es coordinador 
	if @esUsuarioInternoSistema = 0 and @idPerfil <> @idperfilcoordinadoroperaciones and @permisoverSol = 0 and
		(select count(*) from [CR_Credito_Usuarios] where ID_Credito = @Id_Credito
			and id_usuario = @Id_Usuario and Cod_ECV_Credito_Usuario = '01') = 0 
	begin
		-- Valida si el usuario tiene acceso a la solicitud
			print 'Valida si el usuario tiene acceso a la solicitud'

		if (select count(*) From CR_Credito
			where ID_Credito = @Id_Credito and  (ID_Usuario in 
			(select id_usuario from [dbo].[fn_Orgn_Usuarios_Jerarquia](@Id_Usuario))
			or ID_Usuario in (select id_usuario from CR_Credito_Usuarios where id_usuario = @Id_Usuario)			
			)) = 0
		begin
			print 'Usuario sin permiso'

			select -1 as [ID_Credito]
			return 
		end
	end


	print '@Id_Credito'
	print @Id_Credito


	if @Id_Credito <> 0
		SELECT	 cr.[ID_Credito]
				,cr.[ID_Disposicion]
				,cr.[ID_Persona]
				,cr.[ID_Credito_Ant]
				,cr.[ID_Convenio]
				,cnv.[Nom_Convenio]
				,cr.[Cod_Producto]
				,cr.[Cod_Etapa]
				,cr.[Cod_Estatus]
				,cr.[Cod_Forma_Pago]
				,cr.[Cod_Frecuencia_Pago]
				,cr.[Plazo]
				,cr.[Cod_UDM_Plazo]
				,cr.[Cod_Tarifa]
				,tarifa.Nombre Tarifa_Nombre
				,cr.[Dias_Gracia]
				,cr.[Ind_Amorz_Prim_Liq]
				,cr.[Cod_Tipo_Cuota]
				,cr.[Cod_Base_Calculo]
				,cr.[Cod_Comp_Dias]
				,cr.[Cod_Forma_Liquidacion]
				,cr.[Cod_Frec_Liquidacion]
				,cr.[Cod_Mod_Liquidacion]
				,cr.[Tasa_Int_Ord]
				,cr.[Cod_Base_Int_Ord]
				,cr.[Tasa_Int_Mora]
				,cr.[Porc_Iva]
				,cr.[Cod_ECV_Credito]
				,cr.[Importe]
				,cr.[Cat]
				,cr.[Fecha_Operacion]
				,cr.[Fecha_Registro]
				,cr.[ID_Usuario]
				,cr.[Id_Cotizacion]
				,cr.[Cod_Tipo_Empleado] 
				,cr.[Cod_Finalidad_Credito] 
				,cr.[Ingresos] 
				,cr.[Egresos] 
				,cr.[Porc_Max_Endeudamiento]
				,cr.[Porc_Max_Descuento] 
				,cr.[Nomi_Neto] 
				,cr.[Nomi_Total_Ingresos] 
				,cr.[Nomi_Total_Egresos] 
				,cr.[Nomi_Monto_Disponible] 
				,cr.[Nomi_Porc_Descuento] 
				,cr.[Total_Neto] 
				,cr.[Total_Ingresos] 
				,cr.[Total_Egresos] 
				,cr.[Total_Monto_Disponible]
				,cr.[Total_Porc_Descuento] 
				,cr.[Fecha_Inicio] 
				,cr.[Fecha_Prim_Liq] 
				,cr.[Fecha_Ingreso]
				,cr.[Buro_Credito_Total_Cuentas] 
				,cr.[Buro_Credito_Control_Consulta]
				,isnull(cr.[Id_Desarrollador],0) as Id_Desarrollador
				,pr.[Primer_Nombre]
				,pr.[Segundo_Nombre]
				,pr.[Primer_Apellido]
				,pr.[Segundo_Apellido]
				,pr.[Fecha_Nacimiento]
				,pr.[Rfc]
				,pr.[Curp]
				,domFormaPago.Descripcion Desc_Forma_Pago
				,domFrecPago.Descripcion Desc_Frecuencia_Pago
				,domTipoCuota.Descripcion Desc_Tipo_Cuota
				,domDiasBase.Descripcion Desc_Base_Calculo
				,domCompDias.Descripcion Desc_Comp_Dias
				,domFormLiq.Descripcion Desc_Forma_Liquidacion
				,domFrecLiq.Descripcion Desc_Frec_Liquidacion
				,domModLiq.Descripcion Desc_Mod_Liquidacion
				,domBaseIntNormal.Descripcion Desc_Base_Int_Ord
				,UDM.Nombre Desc_UDM_Plazo
				,finalidad.Nombre Desc_Finalidad
				,tipoEmpleado.Nom_Tipo_Empleado Desc_Tipo_Empleado
				,productoComercial.Nombre Desc_Producto_Comercial
				,etapas.Nombre_Estapa
				,estatus.Nombre_Estatus
				,isnull([Cod_Proceso_Activacion],'') Cod_Proceso_Activacion
				,cr.ID_Ejecutivo_Ventas
				 ,chkres.[Id_Usuario_Asignado] checkIdUsuario
				 ,chkres.[Fecha_Inicio] checkfechaInicio 
				 ,chkres.[Fecha_Fin] checkfechafin
				 ,chkres.[Resultado] checkResultado
				 ,chkres.[Fecha_Asignacion] checkFechaAsigna 
				 ,chkres.Notas checkNotas
				 ,cr.Importe_Asociado	 	
				 ,cr.Cuota_Asociada		
				 ,cr.Importe_Dispersion	
				 ,cr.Importe_Renovacion	
				 ,cr.Importe_Compra_Deuda	
				 ,cr.Importe_Movto_Interno
				,isnull(cr.Id_Campana,0) Id_Campana
				,isnull(campania.Nombre,'') Nombre_Campana
				,solblo.Bloqueado -- Si el registro está bloqueado
				,solblo.Bloqueado_X_Usuario  -- Si el registro está bloqueado por el usuario enviado como parámetro
				,isnull(cr.Id_Registro_Peticion_OCR,0) Id_Registro_Peticion_OCR
				,isnull(cr.Id_Prospecto_OCR,0) Id_Prospecto_OCR
				,isnull(cr.OCR_Ok,'') OCR_Ok
				,ISNULL(cr.Id_Promocion,0) Id_Promocion
				,ISNULL(tr_promociones.nombre_promocion,'') nombre_promocion
				,ctz.RequiereConsultaBuro
				,CAST(ISNULL(ctz.RequiereAutorizacionCB, 0) AS BIT) AS RequiereAutorizacionCB  
				,CONVERT(BIT,
					CASE 
					    WHEN ctz.Codigo_Origen_Cotizacion = '03' THEN 1
					    ELSE 0
					END
				 ) AS EsCelulaDigital
				,vtaeje.Nombre as EjecutivoCelulaDigital
				,ctz.Cod_Calc_Cap_Pago CodTipoCalculo  
				,CASE WHEN ctz.Cod_Calc_Cap_Pago = '01' THEN 'Cálculo Nominal'  
					WHEN ctz.Cod_Calc_Cap_Pago = '02' THEN 'Cálculo Neto'  
					END TipoCalculo,
				cc. Monto_Maximo Monto_Maximo_CC,
				cc.Fecha_Alta Fecha_Alta_CC,
				cc.Fecha_Vento Fecha_Vento_CC
		  FROM [dbo].[CR_Credito] cr
			inner join Pers_Persona pr on cr.ID_Persona = pr.Id_Persona
			inner join [Cnv_Convenio] cnv on cr.ID_Convenio = cnv.Id_Convenio
			inner join [PR_Tarifa] tarifa on cr.Cod_Tarifa = tarifa.Cod_Tarifa
			left join TR_Valores_Dominio domFormaPago on domFormaPago.Cod_Dominio = '01' 
				and domFormaPago.Cod_Valor_Dominio = cr.Cod_Forma_Pago
			left join TR_Valores_Dominio domFrecPago on domFrecPago.Cod_Dominio = '02' 
				and ltrim(rtrim(domFrecPago.Cod_Valor_Dominio)) = ltrim(rtrim(cr.Cod_Frecuencia_Pago))
			left join TR_Valores_Dominio domTipoCuota on domTipoCuota.Cod_Dominio = '04' 
				and domTipoCuota.Cod_Valor_Dominio = cr.Cod_Tipo_Cuota
			left join TR_Valores_Dominio domDiasBase on domDiasBase.Cod_Dominio = '05' 
				and domDiasBase.Cod_Valor_Dominio = cr.Cod_Base_Calculo
			left join TR_Valores_Dominio domCompDias on domCompDias.Cod_Dominio = '06' 
				and domCompDias.Cod_Valor_Dominio = cr.Cod_Comp_Dias
			left join TR_Valores_Dominio domFormLiq on domFormLiq.Cod_Dominio = '07' 
				and domFormLiq.Cod_Valor_Dominio = cr.Cod_Forma_Liquidacion
			left join TR_Valores_Dominio domFrecLiq on domFrecLiq.Cod_Dominio = '08' 
				and domFrecLiq.Cod_Valor_Dominio = cr.Cod_Frec_Liquidacion
			left join TR_Valores_Dominio domModLiq on domModLiq.Cod_Dominio = '09' 
				and domModLiq.Cod_Valor_Dominio = cr.Cod_Mod_Liquidacion
			left join TR_Valores_Dominio domBaseIntNormal on domBaseIntNormal.Cod_Dominio = '10' 
				and domBaseIntNormal.Cod_Valor_Dominio = cr.Cod_Base_Int_Ord
			left join TR_Unidad_Medida UDM on UDM.Cod_UDM = cr.Cod_UDM_Plazo
			inner join TR_Fndad_Credito finalidad on finalidad.Cod_Fndad = cr.Cod_Finalidad_Credito
			inner join [TR_Tipo_Empleado] tipoEmpleado on tipoEmpleado.Cod_Tipo_Empleado = cr.Cod_Tipo_Empleado
			inner join [PR_Producto_Comercial] productoComercial on productoComercial.Cod_Producto_Comercial = cr.Cod_Producto
			inner join TR_Cr_Etapas etapas on etapas.Cod_Etapa = cr.Cod_Etapa 
			inner join TR_Cr_Estatus estatus on estatus.Cod_Estatus= cr.Cod_Estatus
			left join [dbo].[CR_Credito_CheckList_Resumen] chkres on
				chkres.id_credito = cr.ID_Credito
			left join TR_Campanas campania on campania.Id_Campana = cr.Id_Campana
			left join fn_Orgn_Solicitud_Bloqueada(@Id_Credito,@Id_Usuario) solblo on
				solblo.id_Credito = cr.id_Credito
			left join tr_promociones on tr_promociones.id_promocion = isnull(cr.Id_Promocion, 0)
			LEFT JOIN Ctz_Cotizacion ctz ON cr.Id_Cotizacion = ctz.ID_Cotizacion
			LEFT JOIN ctz_ejecutivos ctzeje on ctzeje.Id_Cotizacion = ctz.ID_Cotizacion
			LEFT JOIN Vtas_Ejecutivos vtaeje on vtaeje.ID_Ejecutivo_Ventas = ctzeje.Id_Ejecutivo_Ventas 
			LEFT JOIN Ctz_Cotizacion_CC cc ON cr.ID_Persona = cc.ID_Persona
			Where cr.ID_Credito = @Id_Credito
	else
		SELECT	 cr.[ID_Credito]
				,cr.[ID_Disposicion]
				,cr.[ID_Persona]
				,cr.[ID_Credito_Ant]
				,cr.[ID_Convenio]
				,cnv.[Nom_Convenio]
				,cr.[Cod_Producto]
				,cr.[Cod_Etapa]
				,cr.[Cod_Estatus]
				,cr.[Cod_Forma_Pago]
				,cr.[Cod_Frecuencia_Pago]
				,cr.[Plazo]
				,cr.[Cod_UDM_Plazo]
				,cr.[Cod_Tarifa]
				,tarifa.Nombre Tarifa_Nombre
				,cr.[Dias_Gracia]
				,cr.[Ind_Amorz_Prim_Liq]
				,cr.[Cod_Tipo_Cuota]
				,cr.[Cod_Base_Calculo]
				,cr.[Cod_Comp_Dias]
				,cr.[Cod_Forma_Liquidacion]
				,cr.[Cod_Frec_Liquidacion]
				,cr.[Cod_Mod_Liquidacion]
				,cr.[Tasa_Int_Ord]
				,cr.[Cod_Base_Int_Ord]
				,cr.[Tasa_Int_Mora]
				,cr.[Porc_Iva]
				,cr.[Cod_ECV_Credito]
				,cr.[Importe]
				,cr.[Cat]
				,cr.[Fecha_Operacion]
				,cr.[Fecha_Registro]
				,cr.[ID_Usuario]
				,cr.[Id_Cotizacion]
				,cr.[Cod_Tipo_Empleado] 
				,cr.[Cod_Finalidad_Credito] 
				,cr.[Ingresos] 
				,cr.[Egresos] 
				,cr.[Porc_Max_Endeudamiento]
				,cr.[Porc_Max_Descuento] 
				,cr.[Nomi_Neto] 
				,cr.[Nomi_Total_Ingresos] 
				,cr.[Nomi_Total_Egresos] 
				,cr.[Nomi_Monto_Disponible] 
				,cr.[Nomi_Porc_Descuento] 
				,cr.[Total_Neto] 
				,cr.[Total_Ingresos] 
				,cr.[Total_Egresos] 
				,cr.[Total_Monto_Disponible]
				,cr.[Total_Porc_Descuento] 
				,cr.[Fecha_Inicio] 
				,cr.[Fecha_Prim_Liq] 
				,cr.[Fecha_Ingreso]
				,cr.[Buro_Credito_Total_Cuentas] 
				,cr.[Buro_Credito_Control_Consulta]
				,pr.[Primer_Nombre]
				,pr.[Segundo_Nombre]
				,pr.[Primer_Apellido]
				,pr.[Segundo_Apellido]
				,pr.[Fecha_Nacimiento]
				,pr.[Rfc]
				,pr.[Curp]
				,domFormaPago.Descripcion Desc_Forma_Pago
				,domFrecPago.Descripcion Desc_Frecuencia_Pago
				,domTipoCuota.Descripcion Desc_Tipo_Cuota
				,domDiasBase.Descripcion Desc_Base_Calculo
				,domCompDias.Descripcion Desc_Comp_Dias
				,domFormLiq.Descripcion Desc_Forma_Liquidacion
				,domFrecLiq.Descripcion Desc_Frec_Liquidacion
				,domModLiq.Descripcion Desc_Mod_Liquidacion
				,domBaseIntNormal.Descripcion Desc_Base_Int_Ord
				,UDM.Nombre Desc_UDM_Plazo
				,finalidad.Nombre Desc_Finalidad
				,tipoEmpleado.Nom_Tipo_Empleado Desc_Tipo_Empleado
				,productoComercial.Nombre Desc_Producto_Comercial
				,etapas.Nombre_Estapa
				,estatus.Nombre_Estatus
				,isnull([Cod_Proceso_Activacion],'') Cod_Proceso_Activacion
				,cr.ID_Ejecutivo_Ventas
				 ,chkres.[Id_Usuario_Asignado] checkIdUsuario
				 ,chkres.[Fecha_Inicio] checkfechaInicio 
				 ,chkres.[Fecha_Fin] checkfechafin
				 ,chkres.[Resultado] checkResultado
				 ,chkres.[Fecha_Asignacion] checkFechaAsigna 
				 ,chkres.Notas checkNotas
				 ,cr.Importe_Asociado	 	
				 ,cr.Cuota_Asociada		
				 ,cr.Importe_Dispersion	
				 ,cr.Importe_Renovacion	
				 ,cr.Importe_Compra_Deuda	
				 ,cr.Importe_Movto_Interno
				,isnull(cr.Id_Campana,0) Id_Campana
				,isnull(campania.Nombre,'') Nombre_Campana
				,solblo.Bloqueado -- Si el registro está bloqueado
				,solblo.Bloqueado_X_Usuario  -- Si el registro está bloqueado por el usuario enviado como parámetro
				,isnull(cr.Id_Registro_Peticion_OCR,0) Id_Registro_Peticion_OCR
				,isnull(cr.Id_Prospecto_OCR,0) Id_Prospecto_OCR
				,isnull(cr.OCR_Ok,'') OCR_Ok
				,ISNULL(cr.Id_Promocion,0) Id_Promocion
				,ISNULL(tr_promociones.nombre_promocion,'') nombre_promocion
				,ctz.RequiereConsultaBuro
				,CAST(ISNULL(ctz.RequiereAutorizacionCB, 0) AS BIT) AS RequiereAutorizacionCB  
				,ctz.Cod_Calc_Cap_Pago CodTipoCalculo  
				,CASE WHEN ctz.Cod_Calc_Cap_Pago = '01' THEN 'Cálculo Nominal'  
					WHEN ctz.Cod_Calc_Cap_Pago = '02' THEN 'Cálculo Neto'  
				END TipoCalculo  
				,CONVERT(BIT,
					CASE 
					    WHEN ctz.Codigo_Origen_Cotizacion = '03' THEN 1
					    ELSE 0
					END
				 ) AS EsCelulaDigital
				,vtaeje.Nombre as EjecutivoCelulaDigital
				,cc. Monto_Maximo Monto_Maximo_CC
				,cc.Fecha_Alta Fecha_Alta_CC
				,cc.Fecha_Vento Fecha_Vento_CC
		  FROM [dbo].[CR_Credito] cr
			inner join Pers_Persona pr on cr.ID_Persona = pr.Id_Persona
			inner join [Cnv_Convenio] cnv on cr.ID_Convenio = cnv.Id_Convenio
			inner join [PR_Tarifa] tarifa on cr.Cod_Tarifa = tarifa.Cod_Tarifa
			left join TR_Valores_Dominio domFormaPago on domFormaPago.Cod_Dominio = '01' 
				and domFormaPago.Cod_Valor_Dominio = cr.Cod_Forma_Pago
			left join TR_Valores_Dominio domFrecPago on domFrecPago.Cod_Dominio = '02' 
				and ltrim(rtrim(domFrecPago.Cod_Valor_Dominio)) = ltrim(rtrim(cr.Cod_Frecuencia_Pago))
			left join TR_Valores_Dominio domTipoCuota on domTipoCuota.Cod_Dominio = '04' 
				and domTipoCuota.Cod_Valor_Dominio = cr.Cod_Tipo_Cuota
			left join TR_Valores_Dominio domDiasBase on domDiasBase.Cod_Dominio = '05' 
				and domDiasBase.Cod_Valor_Dominio = cr.Cod_Base_Calculo
			left join TR_Valores_Dominio domCompDias on domCompDias.Cod_Dominio = '06' 
				and domCompDias.Cod_Valor_Dominio = cr.Cod_Comp_Dias
			left join TR_Valores_Dominio domFormLiq on domFormLiq.Cod_Dominio = '07' 
				and domFormLiq.Cod_Valor_Dominio = cr.Cod_Forma_Liquidacion
			left join TR_Valores_Dominio domFrecLiq on domFrecLiq.Cod_Dominio = '08' 
				and domFrecLiq.Cod_Valor_Dominio = cr.Cod_Frec_Liquidacion
			left join TR_Valores_Dominio domModLiq on domModLiq.Cod_Dominio = '09' 
				and domModLiq.Cod_Valor_Dominio = cr.Cod_Mod_Liquidacion
			left join TR_Valores_Dominio domBaseIntNormal on domBaseIntNormal.Cod_Dominio = '10' 
				and domBaseIntNormal.Cod_Valor_Dominio = cr.Cod_Base_Int_Ord
			left join TR_Unidad_Medida UDM on UDM.Cod_UDM = cr.Cod_UDM_Plazo
			inner join TR_Fndad_Credito finalidad on finalidad.Cod_Fndad = cr.Cod_Finalidad_Credito
			inner join [TR_Tipo_Empleado] tipoEmpleado on tipoEmpleado.Cod_Tipo_Empleado = cr.Cod_Tipo_Empleado
			inner join [PR_Producto_Comercial] productoComercial on productoComercial.Cod_Producto_Comercial = cr.Cod_Producto
			inner join TR_Cr_Etapas etapas on etapas.Cod_Etapa = cr.Cod_Etapa 
			inner join TR_Cr_Estatus estatus on estatus.Cod_Estatus= cr.Cod_Estatus
			left join [dbo].[CR_Credito_CheckList_Resumen] chkres on
				chkres.id_credito = cr.ID_Credito
			left join TR_Campanas campania on campania.Id_Campana = cr.Id_Campana
			left join fn_Orgn_Solicitud_Bloqueada(@Id_Credito,@Id_Usuario) solblo on
				solblo.id_Credito = cr.id_Credito
			left join tr_promociones on tr_promociones.id_promocion = isnull(cr.Id_Promocion, 0)
			LEFT JOIN Ctz_Cotizacion ctz ON cr.Id_Cotizacion = ctz.ID_Cotizacion
			LEFT JOIN ctz_ejecutivos ctzeje on ctzeje.Id_Cotizacion = ctz.ID_Cotizacion
			LEFT JOIN Vtas_Ejecutivos vtaeje on vtaeje.ID_Ejecutivo_Ventas = ctzeje.Id_Ejecutivo_Ventas 
			LEFT JOIN Ctz_Cotizacion_CC cc ON cr.ID_Persona = cc.ID_Persona
End