USE [Originacion]
GO
/****** Object:  StoredProcedure [dbo].[proc_Orgn_Cotizacion_Personas_Add_Upate]    Script Date: 10/04/2026 13:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[proc_Orgn_Cotizacion_Personas_Add_Upate]  
	 @Id_Cotizacion_Persona int output
    ,@ID_Cotizacion int
    ,@Id_Persona int
    ,@Primer_Nombre varchar(30)
    ,@Segundo_Nombre varchar(30)
    ,@Primer_Apellido varchar(30)
    ,@Segundo_Apellido varchar(30)
    ,@Correo nvarchar(50)
    ,@Telefono nvarchar(20)
    ,@RFC nvarchar(20)
    ,@Fecha_Nacimiento date
    ,@Ingresos decimal(10,2)
    ,@Egresos decimal(10,2)
    ,@Porc_Max_Endeudamiento decimal(5,2)
    ,@Porc_Max_Descuento decimal(5,2)
    ,@Nomi_Neto decimal(18,2)
    ,@Nomi_Total_Ingresos decimal(18,2)
    ,@Nomi_Total_Egresos decimal(18,2)
    ,@Nomi_Monto_Disponible decimal(18,2)
    ,@Nomi_Porc_Descuento decimal(5,2)
    ,@Total_Neto decimal(18,2)
    ,@Total_Ingresos decimal(18,2)
    ,@Total_Egresos decimal(18,2)
    ,@Total_Monto_Disponible decimal(18,2)
    ,@Total_Porc_Descuento decimal(5,2)
    ,@Buro_Credito_Total_Cuentas decimal(18,2)
    ,@Buro_Credito_Control_Consulta varchar(20)
    ,@Cod_Rol_Pers_Credito char(2)
	,@Ingresos_Nomina decimal(18,2)
	,@Egresos_Nomina decimal(18,2)
	,@Otros_Ingresos decimal(18,2)
	,@Otros_Egresos  decimal(18,2)
	,@Regresa_Select bit = 1
	,@Id_Externo int = null
	,@CURP VARCHAR(18) = ''
	,@Id_Registro_Consulta_Lista_Nominal int 
	,@Lista_Nominal_estatus varchar(20)
	,@Lista_Nominal_Resultado_Servicio bit
	,@Cod_Genero CHAR(1) = ''
as
Begin
	SET NOCOUNT ON;

	Declare @ID_Secuencia Int = 21  --Secuencia Cotización Personas

	if @Buro_Credito_Control_Consulta = '0'
	begin
		set @Buro_Credito_Control_Consulta = ''
	end

	if (select count(*) From [ctz_Personas]
		Where ID_Cotizacion = @ID_Cotizacion and 
			Id_Cotizacion_Persona  = @Id_Cotizacion_Persona) = 0
			And @Id_Cotizacion_Persona = 0 
	Begin
		Exec proc_Orgn_Numero_Secuencia_Extrae @ID_Secuencia,'S',1,@Num_Secuencia = @Id_Cotizacion_Persona Output
		INSERT INTO [dbo].[ctz_Personas]
				   ([Id_Cotizacion_Persona]
				   ,[ID_Cotizacion]
				   ,[Id_Persona]
				   ,[Primer_Nombre]
				   ,[Segundo_Nombre]
				   ,[Primer_Apellido]
				   ,[Segundo_Apellido]
				   ,[Correo]
				   ,[Telefono]
				   ,[RFC]
				   ,[Cod_Genero]
				   ,[Fecha_Nacimiento]
				   ,[Ingresos]
				   ,[Egresos]
				   ,[Porc_Max_Endeudamiento]
				   ,[Porc_Max_Descuento]
				   ,[Nomi_Neto]
				   ,[Nomi_Total_Ingresos]
				   ,[Nomi_Total_Egresos]
				   ,[Nomi_Monto_Disponible]
				   ,[Nomi_Porc_Descuento]
				   ,[Total_Neto]
				   ,[Total_Ingresos]
				   ,[Total_Egresos]
				   ,[Total_Monto_Disponible]
				   ,[Total_Porc_Descuento]
				   ,[Buro_Credito_Total_Cuentas]
				   ,[Buro_Credito_Control_Consulta]
				   ,[Cod_Rol_Pers_Credito]
				   ,[Ingresos_Nomina] 
				   ,[Egresos_Nomina] 
				   ,[Otros_Ingresos] 
				   ,[Otros_Egresos]  
				   ,[Id_Externo]
				   ,[Id_Registro_Consulta_Lista_Nominal]
				   ,[Lista_Nominal_estatus]
				   ,[Lista_Nominal_Resultado_Servicio]
				   ,[CURP]
				   )
			 VALUES
				   (
					   @Id_Cotizacion_Persona
					   ,@ID_Cotizacion
					   ,@Id_Persona
					   ,@Primer_Nombre
					   ,@Segundo_Nombre
					   ,@Primer_Apellido
					   ,@Segundo_Apellido
					   ,@Correo
					   ,@Telefono
					   ,@RFC
					   ,@Cod_Genero
					   ,@Fecha_Nacimiento
					   ,@Ingresos
					   ,@Egresos
					   ,@Porc_Max_Endeudamiento
					   ,@Porc_Max_Descuento
					   ,@Nomi_Neto
					   ,@Nomi_Total_Ingresos
					   ,@Nomi_Total_Egresos
					   ,@Nomi_Monto_Disponible
					   ,@Nomi_Porc_Descuento
					   ,@Total_Neto
					   ,@Total_Ingresos
					   ,@Total_Egresos
					   ,@Total_Monto_Disponible
					   ,@Total_Porc_Descuento
					   ,@Buro_Credito_Total_Cuentas
					   ,@Buro_Credito_Control_Consulta
					   ,@Cod_Rol_Pers_Credito
					   ,@Ingresos_Nomina
					   ,@Egresos_Nomina 
					   ,@Otros_Ingresos 
					   ,@Otros_Egresos  
					   ,@Id_Externo
					   ,@Id_Registro_Consulta_Lista_Nominal 
					   ,@Lista_Nominal_estatus 
					   ,@Lista_Nominal_Resultado_Servicio
					   ,@CURP
				   )
	End
	Else
	Begin
		UPDATE [dbo].[ctz_Personas]
		   SET 	   Id_Persona						= @Id_Persona
				   ,Primer_Nombre					= @Primer_Nombre
				   ,Segundo_Nombre					= @Segundo_Nombre
				   ,Primer_Apellido					= @Primer_Apellido
				   ,Segundo_Apellido				= @Segundo_Apellido
				   ,Correo							= @Correo
				   ,Telefono						= @Telefono
				   ,RFC								= @RFC
				   ,Cod_Genero						= @Cod_Genero
				   ,Fecha_Nacimiento				= @Fecha_Nacimiento
				   ,Ingresos						= @Ingresos
				   ,Egresos							= @Egresos
				   ,Porc_Max_Endeudamiento			= @Porc_Max_Endeudamiento
				   ,Porc_Max_Descuento				= @Porc_Max_Descuento
				   ,Nomi_Neto						= @Nomi_Neto
				   ,Nomi_Total_Ingresos				= @Nomi_Total_Ingresos
				   ,Nomi_Total_Egresos				= @Nomi_Total_Egresos
				   ,Nomi_Monto_Disponible			= @Nomi_Monto_Disponible
				   ,Nomi_Porc_Descuento				= @Nomi_Porc_Descuento
				   ,Total_Neto						= @Total_Neto
				   ,Total_Ingresos					= @Total_Ingresos
				   ,Total_Egresos					= @Total_Egresos
				   ,Total_Monto_Disponible			= @Total_Monto_Disponible
				   ,Total_Porc_Descuento			= @Total_Porc_Descuento
				   ,Buro_Credito_Total_Cuentas		= @Buro_Credito_Total_Cuentas
				   ,Buro_Credito_Control_Consulta	= @Buro_Credito_Control_Consulta
				   ,Cod_Rol_Pers_Credito			= @Cod_Rol_Pers_Credito
				   ,Ingresos_Nomina					= @Ingresos_Nomina 
				   ,Egresos_Nomina 					= @Egresos_Nomina 
				   ,Otros_Ingresos 					= @Otros_Ingresos 
				   ,Otros_Egresos  					= @Otros_Egresos  
				   ,Id_Externo						= @Id_Externo
				   ,Id_Registro_Consulta_Lista_Nominal			= @Id_Registro_Consulta_Lista_Nominal  
			 	   ,Lista_Nominal_estatus						= @Lista_Nominal_estatus 
				   ,Lista_Nominal_Resultado_Servicio	= @Lista_Nominal_Resultado_Servicio
				   ,CURP							= @CURP
		 WHERE Id_Cotizacion_Persona = @Id_Cotizacion_Persona
			and ID_Cotizacion					= @ID_Cotizacion
	End
	
	if @Regresa_Select = 1
	begin
		select @Id_Cotizacion_Persona as Id_Cotizacion_Persona
	end
	

End