USE [Originacion]
GO
/****** Object:  StoredProcedure [dbo].[proc_Orgn_Cotizacion_Extrae_x_ID]    Script Date: 30/03/2026 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[proc_Orgn_Cotizacion_Extrae_x_ID]
--DECLARE
  @ID_Cotizacion INT --= 1048252
  ,@id_usuario INT --= 1000009
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Si el usuario no corresponde a la cotización en la jerarquía
	-- se regresa un -1, mismo que deberá ser regresado por el servicio
	--if (select count([ID_Cotizacion])
	--from Ctz_Cotizacion  ctz
	--inner join fn_Orgn_Usuarios_Jerarquia(@Id_Usuario) usrs on ctz.ID_Usuario = usrs.ID_Usuario
	--where ID_Cotizacion = @ID_Cotizacion and
	--(usrs.id_usuario = @Id_Usuario or usrs.ID_Usuario_Padre = @Id_Usuario)) = 0
	--begin
	--	select -1 as [ID_Cotizacion]
	--	return 
	--end

	IF (
			SELECT COUNT([ID_Cotizacion])
			FROM Ctz_Cotizacion  ctz
			INNER JOIN fn_Orgn_Usuarios_Jerarquia(@Id_Usuario) AS usrs ON ctz.ID_Usuario = usrs.ID_Usuario
			WHERE ID_Cotizacion = @ID_Cotizacion AND
			(usrs.id_usuario = @Id_Usuario OR usrs.ID_Usuario_Padre = @Id_Usuario)) = 0 
		AND
		(	
			SELECT COUNT(pobj.IdPerfilPermiso ) 
			FROM websec.dbo.segperfilesobjetos AS pobj
			INNER JOIN websec.dbo.segusuariosperfiles AS usr ON pobj.idperfil = usr.IdPerfil
			WHERE usr.IdUsuario = @Id_Usuario AND pobj.IdObjeto  = 64100) = 0
	BEGIN
		SELECT -1 AS [ID_Cotizacion]
		RETURN 
	END


    -- Insert statements for procedure here
	SELECT [ID_Cotizacion]
			,[Id_Persona]
			,[Id_Credito_Ant]
			,[Id_Convenio]
			,[Cod_Producto_Comercial] --
			,[Cod_Forma_Pago] --
			,[Cod_Frecuencia_Pago] --
			,[Plazo]
			,[Cod_UDM_Plazo] --
			,[Cod_Tarifa] --
			,[Dias_Gracia]
			,[Ind_Amorz_Prim_Liq]
			,[Cod_Tipo_Cuota] --
			,[Cod_Base_Calculo] --
			,[Cod_Comp_Dias] --
			,[Cod_Forma_Liquidacion] --
			,[Cod_Frec_Liquidacion] --
			,[Cod_Mod_Liquidacion] --
			,[Tasa_Int_Ord]
			,[Cod_Base_Int_Ord] --
			,[Tasa_Int_Mora]
			,[Porc_Iva]
			,ctz.[Cod_ECV_Cotizacion] --
			,[Importe]
			,[Primer_Nombre]
			,[Segundo_Nombre]
			,[Primer_Apellido]
			,[Segundo_Apellido]
			,[Correo]
			,[Telefono]
			,[RFC]
			,[Cat]
			,[Fecha_Operacion]
			,[Fecha_Registro]
			,ctz.[ID_Usuario]
			,ctz.[Cod_Etapa] --
			,[Cod_Tipo_Empleado] -- 
			,[Fecha_Nacimiento]
			,[Cod_Finalidad_Credito] --
			,[Ingresos]
			,[Egresos]
			,[Porc_Max_Endeudamiento]
			,[Porc_Max_Descuento]
			,ISNULL([Nomi_Neto],0) AS [Nomi_Neto]
			,ISNULL([Nomi_Total_Ingresos],0) AS [Nomi_Total_Ingresos]
			,ISNULL([Nomi_Total_Egresos],0) AS [Nomi_Total_Egresos]
			,ISNULL([Nomi_Monto_Disponible],0) AS [Nomi_Monto_Disponible]
			,ISNULL([Nomi_Porc_Descuento],0) AS [Nomi_Porc_Descuento]
			,ISNULL([Total_Neto],0) AS [Total_Neto]
			,ISNULL([Total_Ingresos],0) AS [Total_Ingresos]
			,ISNULL([Total_Egresos],0) AS [Total_Egresos]
			,ISNULL([Total_Monto_Disponible],0) AS [Total_Monto_Disponible]
			,ISNULL([Total_Porc_Descuento],0) AS [Total_Porc_Descuento]
			,[Fecha_Inicio]
			,[Fecha_Prim_Liq]
			,Fecha_Ingreso
			,[Buro_Credito_Total_Cuentas]
			,[Buro_Credito_Control_Consulta]
			,[ID_Tarifa_Convenio]
			,TR_ECV_Ctz_Etapas.Etapa Etapa_Desc
			,Estatus AS Estatus_Desc
			,ISNULL(usrs.ID_Usuario_Padre, 0) AS ID_Usuario_Padre
			,usrs.Nombre AS Nombre_Usuario
			,ISNULL(usrs.Id_Tipo_Usuario, 0) AS Id_Tipo_Usuario
			,ISNULL(usrs.Email, '') AS Email_Usuario
			,ISNULL(usrs.Clase,'') AS Clase_Registro_Usuario
			,Enganche
			,Aportacion_Adicional
			,Importe_Inmueble_Hipotecario
			,Porcentaje_Enganche_Hipotecario
			,Descripcion_Lote_Hipotecario

			,ID_Ejecutivo_Ventas
			,ISNULL(Ingresos_Nomina,0 ) AS Ingresos_Nomina
			,ISNULL(Egresos_Nomina,0 ) AS Egresos_Nomina
			,Id_Campana
			,Cod_Calc_Cap_Pago
			,ISNULL(Id_Registro_Peticion_OCR,0) AS Id_Registro_Peticion_OCR
			,ISNULL(Id_Prospecto_OCR,0) AS Id_Prospecto_OCR
			,ISNULL(OCR_Ok ,'') AS OCR_Ok
			,ISNULL(ctz.Codigo_Origen_Cotizacion,'') AS Codigo_Origen
			,ISNULL(ctz.Id_Promocion,0) AS Id_Promocion
			,ctz.RequiereConsultaBuro
			,ctz.RequiereAutorizacionCB
	FROM [dbo].[Ctz_Cotizacion] AS ctz
		INNER JOIN TR_ECV_Ctz_Etapas ON TR_ECV_Ctz_Etapas.Cod_Etapa = ctz.Cod_Etapa
		INNER JOIN TR_ECV_Ctz_Estatus ON TR_ECV_Ctz_Estatus.Cod_ECV_Cotizacion = ctz.Cod_ECV_Cotizacion
		LEFT JOIN fn_Orgn_Usuarios_Jerarquia(@Id_Usuario) AS usrs ON ctz.ID_Usuario = usrs.ID_Usuario 
	WHERE [ID_Cotizacion] = @ID_Cotizacion 
	--and 
	--(usrs.id_usuario = @Id_Usuario or usrs.ID_Usuario_Padre = @Id_Usuario)
END