USE [Originacion]
GO
/****** Object:  StoredProcedure [dbo].[proc_Orgn_BC_Cotizacion_ParametrosInicio_Extrae]    Script Date: 30/03/2026 11:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[proc_Orgn_BC_Cotizacion_ParametrosInicio_Extrae]
AS
BEGIN

--Si no existen, por default en true para respetar el flujo actual

	SELECT
		CAST(ISNULL(MAX(CASE WHEN Nombre = 'RequiereConsultaBuro' THEN ValorEntero END),1) AS bit) AS RequiereConsultaBuro,
		CAST(ISNULL(MAX(CASE WHEN Nombre = 'CotizacionIngresosEgresos' THEN ValorEntero END),1) AS bit) AS CotizacionIngresosEgresos,
		CASE WHEN CAST(ISNULL(MAX(CASE WHEN Nombre = 'RequiereConsultaBuro' THEN ValorEntero END),1) AS bit) = 1 THEN 1 
		ELSE CAST(ISNULL(MAX(CASE WHEN Nombre = 'RequiereAutorizacionCB' THEN ValorEntero END),1) AS bit) END AS RequiereAutorizacionCB,
		CAST(ISNULL(MAX(CASE WHEN Nombre = 'HabilitarCelulaDigital' THEN ValorEntero END),1) AS bit) AS HabilitarCelulaDigital
	FROM [dbo].[Tr_Parametros_Generales]
	WHERE Nombre IN ('RequiereConsultaBuro', 'CotizacionIngresosEgresos','RequiereAutorizacionCB','HabilitarCelulaDigital');

END
