USE [Originacion]
GO
/****** Object:  StoredProcedure [dbo].[PROC_Busca_Persona]    Script Date: 08/04/2026 10:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Javier Narvaez
-- Create date: 20/07/2020
-- Description:	Búsqueda de personas por nombre o RFC
-- Cambio	  : 25-09-24 - Cambio para agregar búsqueda por CURP 
-- =============================================
ALTER PROCEDURE [dbo].[PROC_Busca_Persona]
	-- Add the parameters for the stored procedure here
	@Primer_Nombre VARCHAR(50),
	@Segundo_Nombre VARCHAR(50) NULL,
	@Primer_Apellido VARCHAR(50) NULL,
	@Segundo_Apellido VARCHAR(50) NULL,
	@Rfc VARCHAR(13) = '',
	@Curp VARCHAR(18) = '',
	@tipoBusqueda VARCHAR(6)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets FROM
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET @tipoBusqueda = LOWER(LTRIM(RTRIM(ISNULL(@tipoBusqueda , ''))))


	DECLARE @Cod_Etapa_Credito CHAR(2) = '08'
		, @Cod_Estatus_Credito_Activo CHAR(2) = '24'

	DECLARE @tabRes TABLE (
		[Id_Persona] [int] NOT NULL
		,[Cod_Tipo_Persona] [char](1) NOT NULL
		,[Primer_Nombre] [VARCHAR](50) NULL
		,[Segundo_Nombre] [VARCHAR](50) NULL
		,[Primer_Apellido] [VARCHAR](50) NULL
		,[Segundo_Apellido] [VARCHAR](50) NULL
		,[Fecha_Nacimiento] [date] NULL
		,[Lugar_Nacimiento] [VARCHAR](50) NULL
		,[Cod_Pais_Origen] [smallint] NULL
		,[Cod_Pais_Nacimiento] [smallint] NULL
		,[Cod_Nivel_Estudios] [char](1) NULL
		,[Curp] [VARCHAR](18) NULL
		,[Rfc] [VARCHAR](13) NULL
		,[Cod_Genero] [char](1) NULL
		,[Cod_Edo_Civil] [char](1) NULL
		,[Cod_Edo_Ocupacion] [char](1) NULL
		,[Cod_Sit_Economica] [char](1) NULL
		,[Dep_Economicos] [smallint] NULL
		,[Fecha_Defuncion] [date] NULL
		,[Id_Suc_Reqistro] [int] NULL
		,[Fecha_Alta] [datetime] NULL
		,[Fecha_Modificacion] [datetime] NULL
		,[Fecha_Residencia] [date] NULL
		,[Cod_Situacion_Domicilio] [char](1) NULL
		,[Alias] [nvarchar](50) NULL
		,[Cod_Tipo_Ident_Pref] [char](2) NULL
		,[Folio_Identificacion] [nvarchar](20) NULL
		--[Cod_ECV_Persona] [char](1) NULL,
		--[Id_Externo] [int] NULL,
		,[Id_Nacionalidad] [int] NULL
		,[Sdo_Insoluto] DECIMAL(10,2)
		,[Cuota_Amortizacion] DECIMAL(10,2)
		,[Cuota_Mensual_Amortizacion] DECIMAL(10,2)
		,cuenta_creditos_activos INT
		,ultimo_credito_activo INT
		,fecha_inicio_ultmo_credito VARCHAR(20)
		,[Rango] INT
	)

	PRINT '@tipoBusqueda'
	PRINT @tipoBusqueda 

    -- Insert statements for procedure here
	IF @tipoBusqueda = 'nombre' 
	BEGIN
		PRINT 'Búsqeuda por Nombre'
		INSERT INTO @tabRes
		SELECT [Pers_Persona].[Id_Persona]
			  ,[Cod_Tipo_Persona]
			  ,ISNULL([Primer_Nombre], '') Primer_Nombre
			  ,ISNULL([Segundo_Nombre], '') Segundo_Nombre
			  ,ISNULL([Primer_Apellido], '') Primer_Apellido
			  ,ISNULL([Segundo_Apellido], '') Segundo_Apellido
			  ,[Fecha_Nacimiento]
			  ,[Lugar_Nacimiento]
			  ,[cod_Pais_Origen]
			  ,[Cod_Pais_Nacimiento]
			  ,[Cod_Nivel_Estudios]
			  ,[Curp]
			  ,[Rfc]
			  ,[Cod_Genero]
			  ,[Cod_Edo_Civil]
			  ,[Cod_Edo_Ocupacion]
			  ,[Cod_Sit_Economica]
			  ,[Dep_Economicos]
			  ,[Fecha_Defuncion]
			  ,[Id_Suc_Reqistro]
			  ,[Fecha_Alta]
			  ,[Fecha_Modificacion]
			  ,[Fecha_Residencia]
			  ,[Cod_Situacion_Domicilio]
			  ,[Alias]
			  ,[Cod_Tipo_Ident_Pref]
			  ,Folio_Identificacion
			  ,Id_Nacionalidad
			  ,ISNULL(saldos.Sdo_Insoluto,0) AS Sdo_Insoluto
			  ,ISNULL(saldos.Cuota_Amortizacion,0) AS Cuota_Amortizacion
			  ,ISNULL(saldos.Cuota_Mensual_Amortizacion,0) AS Cuota_Mensual_Amortizacion
			  ,0 cuenta_creditos_activos
			  ,ISNULL(saldos.Ultimo_Credito_Activo,0) ultimo_credito_activo
			  ,ISNULL(
					cast(
						ISNULL(
							CONVERT(VARCHAR, saldos.fecha_inicio_credito_activo, 103),
							CONVERT(VARCHAR, inactivos.fecha_inicio_ultmo_credito_inactivo, 103)
							
						)   AS VARCHAR(20)
					),''
				) fecha_inicio_ultmo_credito
			  ,RANK() OVER   
				(PARTITION BY UPPER([Rfc]) ORDER  BY saldos.Sdo_Insoluto DESC) AS Rango 
		  FROM [dbo].[Pers_Persona]
			LEFT JOIN (
					
					--Codigo anterior con inconvenientes de tiempo de espera 20241220
					--	SELECT cr.ID_Persona
					--		,SUM(ISNULL(CONVERT(DECIMAL(18,2), cnd.[Total x Recuperar]),0)) AS Sdo_Insoluto
					--		,SUM(ISNULL(CND.[Monto Amortización],0)) AS Cuota_Amortizacion
					--		,Sum(ISNULL(Case When udm.Factor_Mensual < 0 
					--			Then Abs(udm.Factor_Mensual)
					--			Else 1 / udm.Factor_Mensual
					--			END,0) * ISNULL(cnd.[Monto Amortización], 0)) AS Cuota_Mensual_Amortizacion
					--		,count(cr.id_credito) AS cuenta_creditos_activos
					--		,max(cr.Fecha_Inicio) AS fecha_inicio_credito_activo
					--FROM CR_Credito cr 
					--	LEFT JOIN CR_Credito_Alta_Core crAc ON cr.ID_Credito = crAc.ID_Credito AND crac.ID_Prospecto != 0
					--	INNER JOIN Conciliacion_Diaria cnd ON ISNULL(CONVERT(FLOAT,crac.ID_Credito), CONVERT(FLOAT,cr.Pagare)) = CONVERT(FLOAT, cnd.Prestamo)
					--	INNER JOIN TR_Unidad_Medida udm ON cr.Cod_Frecuencia_Pago = udm.Cod_UDM
					--  WHERE --cr.ID_Persona = @Id_Persona and
					--	cr.Cod_Etapa = @Cod_Etapa_Credito
					--	AND cr.Cod_Estatus = @Cod_Estatus_Credito_Activo
					--	AND cnd.Situación = 'Activo'
					--GROUP BY cr.ID_Persona


					--Actualizacion nueva optimaizada, incluyendo un indice en tabla Conciliacion_Diaria 20241220 CASV

					SELECT
					CR.ID_Persona
					, SUM(ISNULL(CONVERT(DECIMAL(18,2), CND.[Total x Recuperar]), 0)) AS Sdo_Insoluto
					, SUM(ISNULL(CND.[Monto Amortización], 0)) AS Cuota_Amortizacion
					, SUM(ISNULL(CND.[Monto Amortización] * CR.Factor_Mensualizado, 0)) AS Cuota_Mensual_Amortizacion
					, MAX(CR.Id_Credito) AS Ultimo_Credito_Activo
					, COUNT(CR.Id_Credito) AS Cuenta_Creditos_Activos
					, MAX(CR.Fecha_Inicio) AS Fecha_Inicio_Credito_Activo
					FROM
						(
							SELECT
							CR.Id_Persona
							, CAST(CR.ID_Credito AS FLOAT) AS Id_Credito
							, CR.Cod_Frecuencia_Pago
							, CASE
								WHEN UDM.Factor_Mensual < 0 THEN ABS(UDM.Factor_Mensual)
								ELSE 1 / UDM.Factor_Mensual
							END AS Factor_Mensualizado
							, CR.Fecha_Inicio
							, ISNULL(CAST(CRAC.ID_Credito AS FLOAT), CAST(CR.Pagare AS FLOAT)) AS Prestamo
							FROM dbo.CR_Credito CR
							INNER JOIN dbo.TR_Unidad_Medida UDM ON CR.Cod_Frecuencia_Pago = UDM.Cod_UDM
							LEFT JOIN dbo.CR_Credito_Alta_Core CRAC ON CR.ID_Credito = CRAC.ID_Credito AND CRAC.ID_Prospecto != 0
							WHERE CR.Cod_Etapa = @Cod_Etapa_Credito
							AND CR.Cod_Estatus = @Cod_Estatus_Credito_Activo
							
						) CR
					INNER JOIN dbo.Conciliacion_Diaria CND ON CAST(CR.Prestamo AS FLOAT) = CAST(CND.Prestamo AS FLOAT) AND cast([Total x Recuperar] AS FLOAT)>0
					GROUP BY CR.ID_Persona

			) saldos ON saldos.ID_Persona =  [Pers_Persona].[Id_Persona]
			LEFT JOIN ( -- Inactivos
						SELECT cr.ID_Persona, max(cr.Fecha_Inicio) fecha_inicio_ultmo_credito_inactivo
					FROM CR_Credito cr 
						--LEFT JOIN CR_Credito_Alta_Core crAc ON cr.ID_Credito = crAc.ID_Credito AND crac.ID_Prospecto != 0
						--INNER JOIN Conciliacion_Diaria cnd ON ISNULL(CONVERT(FLOAT,crac.ID_Credito), CONVERT(FLOAT,cr.Pagare)) = CONVERT(FLOAT, cnd.Prestamo)
					  WHERE --cr.ID_Persona = @Id_Persona and
						cr.Cod_Etapa = @Cod_Etapa_Credito
						AND cr.Cod_Estatus <> @Cod_Estatus_Credito_Activo
						--AND cnd.Situación <> 'Activo'
					GROUP BY cr.ID_Persona
			) AS inactivos ON inactivos.ID_Persona =  [Pers_Persona].[Id_Persona]
		  WHERE ISNULL(Primer_Nombre,'') LIKE  RTRIM(LTRIM(UPPER(@Primer_Nombre))) + '%'
		  AND ISNULL(Segundo_Nombre,'') LIKE  RTRIM(LTRIM(UPPER(@Segundo_Nombre))) + '%'
		  AND ISNULL([Primer_Apellido],'') LIKE  RTRIM(LTRIM(UPPER(@Primer_Apellido))) + '%'
		  AND ISNULL(Segundo_Apellido,'')  LIKE  RTRIM(LTRIM(UPPER(@Segundo_Apellido))) + '%'

		  ORDER  BY [Primer_Nombre]
			  ,[Segundo_Nombre]
			  ,[Primer_Apellido]
			  ,[Segundo_Apellido]
			  ,[Rfc]
	END
		
		
	IF @tipoBusqueda = 'rfc' 
	BEGIN 
		PRINT 'Búsqeuda por RFC'
			INSERT INTO @tabRes
			SELECT [Pers_Persona].[Id_Persona]
			  ,[Cod_Tipo_Persona]
			  ,[Primer_Nombre]
			  ,[Segundo_Nombre]
			  ,[Primer_Apellido]
			  ,[Segundo_Apellido]
			  ,[Fecha_Nacimiento]
			  ,[Lugar_Nacimiento]
			  ,[cod_Pais_Origen]
			  ,[Cod_Pais_Nacimiento]
			  ,[Cod_Nivel_Estudios]
			  ,[Curp]
			  ,[Rfc]
			  ,[Cod_Genero]
			  ,[Cod_Edo_Civil]
			  ,[Cod_Edo_Ocupacion]
			  ,[Cod_Sit_Economica]
			  ,[Dep_Economicos]
			  ,[Fecha_Defuncion]
			  ,[Id_Suc_Reqistro]
			  ,[Fecha_Alta]
			  ,[Fecha_Modificacion]
			  ,[Fecha_Residencia]
			  ,[Cod_Situacion_Domicilio]
			  ,[Alias]
			  ,[Cod_Tipo_Ident_Pref]
			  ,Folio_Identificacion
			  ,Id_Nacionalidad
			  ,ISNULL(saldos.Sdo_Insoluto,0) AS Sdo_Insoluto
			  ,ISNULL(saldos.Cuota_Amortizacion,0) AS Cuota_Amortizacion
			  ,ISNULL(saldos.Cuota_Mensual_Amortizacion,0) AS Cuota_Mensual_Amortizacion
			  ,0 cuenta_creditos_activos
			  ,ISNULL(saldos.Ultimo_Credito_Activo,0) ultimo_credito_activo
			  ,ISNULL(
					cast(
						ISNULL(
							CONVERT(VARCHAR, saldos.fecha_inicio_credito_activo, 103),
							CONVERT(VARCHAR, inactivos.fecha_inicio_ultmo_credito_inactivo, 103)
							
						)   AS VARCHAR(20)
					),''
				) fecha_inicio_ultmo_credito
			  ,RANK() OVER   
				(PARTITION BY UPPER([Rfc]) ORDER  BY saldos.Sdo_Insoluto DESC) AS Rango 
		  FROM [dbo].[Pers_Persona]
			LEFT JOIN (
					
					--Codigo anterior con inconvenientes de tiempo de espera 20241220
					--	SELECT cr.ID_Persona
					--		,SUM(ISNULL(CONVERT(DECIMAL(18,2), cnd.[Total x Recuperar]),0)) AS Sdo_Insoluto
					--		,SUM(ISNULL(CND.[Monto Amortización],0)) AS Cuota_Amortizacion
					--		,Sum(ISNULL(Case When udm.Factor_Mensual < 0 
					--			Then Abs(udm.Factor_Mensual)
					--			Else 1 / udm.Factor_Mensual
					--			END,0) * ISNULL(cnd.[Monto Amortización], 0)) AS Cuota_Mensual_Amortizacion
					--		,count(cr.id_credito) AS cuenta_creditos_activos
					--		,max(cr.Fecha_Inicio) AS fecha_inicio_credito_activo
					--FROM CR_Credito cr 
					--	LEFT JOIN CR_Credito_Alta_Core crAc ON cr.ID_Credito = crAc.ID_Credito AND crac.ID_Prospecto != 0
					--	INNER JOIN Conciliacion_Diaria cnd ON ISNULL(CONVERT(FLOAT,crac.ID_Credito), CONVERT(FLOAT,cr.Pagare)) = CONVERT(FLOAT, cnd.Prestamo)
					--	INNER JOIN TR_Unidad_Medida udm ON cr.Cod_Frecuencia_Pago = udm.Cod_UDM
					--  WHERE --cr.ID_Persona = @Id_Persona and
					--	cr.Cod_Etapa = @Cod_Etapa_Credito
					--	AND cr.Cod_Estatus = @Cod_Estatus_Credito_Activo
					--	AND cnd.Situación = 'Activo'
					--GROUP BY cr.ID_Persona


					--Actualizacion nueva optimaizada, incluyendo un indice en tabla Conciliacion_Diaria 20241220 CASV

					SELECT
					CR.ID_Persona
					, SUM(ISNULL(CONVERT(DECIMAL (18,2), CND.[Total x Recuperar]), 0)) AS Sdo_Insoluto
					, SUM(ISNULL(CND.[Monto Amortización], 0)) AS Cuota_Amortizacion
					, SUM(ISNULL(CND.[Monto Amortización] * CR.Factor_Mensualizado, 0)) AS Cuota_Mensual_Amortizacion
					, MAX(CR.Id_Credito) AS Ultimo_Credito_Activo
					, COUNT(CR.Id_Credito) AS Cuenta_Creditos_Activos
					, MAX(CR.Fecha_Inicio) AS Fecha_Inicio_Credito_Activo
					FROM
						(
							SELECT
							CR.Id_Persona
							, CAST(CR.ID_Credito AS FLOAT) AS Id_Credito
							, CR.Cod_Frecuencia_Pago
							, CASE
								WHEN UDM.Factor_Mensual < 0 THEN ABS(UDM.Factor_Mensual)
								ELSE 1 / UDM.Factor_Mensual
							END AS Factor_Mensualizado
							, CR.Fecha_Inicio
							, ISNULL(CAST(CRAC.ID_Credito AS FLOAT), CAST(CR.Pagare AS FLOAT)) AS Prestamo
							FROM dbo.CR_Credito CR
							INNER JOIN dbo.TR_Unidad_Medida UDM ON CR.Cod_Frecuencia_Pago = UDM.Cod_UDM
							LEFT JOIN dbo.CR_Credito_Alta_Core CRAC ON CR.ID_Credito = CRAC.ID_Credito AND CRAC.ID_Prospecto != 0
							WHERE CR.Cod_Etapa = @Cod_Etapa_Credito
							AND CR.Cod_Estatus = @Cod_Estatus_Credito_Activo
						) CR
					INNER JOIN dbo.Conciliacion_Diaria CND ON CAST(CR.Prestamo AS FLOAT) = CAST(CND.Prestamo AS FLOAT)  AND cast([Total x Recuperar] AS FLOAT)>0
					GROUP BY CR.ID_Persona

			) AS saldos ON saldos.ID_Persona =  [Pers_Persona].[Id_Persona]
			LEFT JOIN ( -- Inactivos
						SELECT cr.ID_Persona, max(cr.Fecha_Inicio) fecha_inicio_ultmo_credito_inactivo
					FROM CR_Credito cr 
						--LEFT JOIN CR_Credito_Alta_Core crAc ON cr.ID_Credito = crAc.ID_Credito AND crac.ID_Prospecto != 0
						--INNER JOIN Conciliacion_Diaria cnd ON ISNULL(CONVERT(FLOAT,crac.ID_Credito), CONVERT(FLOAT,cr.Pagare)) = CONVERT(FLOAT, cnd.Prestamo)
					  WHERE --cr.ID_Persona = @Id_Persona and
						cr.Cod_Etapa = @Cod_Etapa_Credito
						AND cr.Cod_Estatus <> @Cod_Estatus_Credito_Activo
						--AND cnd.Situación <> 'Activo'
					GROUP BY cr.ID_Persona
			) AS inactivos ON inactivos.ID_Persona =  [Pers_Persona].[Id_Persona]
		  WHERE Rfc LIKE UPPER(@Rfc)
		  ORDER  BY [Primer_Nombre]
			  ,[Segundo_Nombre]
			  ,[Primer_Apellido]
			  ,[Segundo_Apellido]
	END

	IF @tipoBusqueda = 'curp' 
	BEGIN 
		PRINT 'Búsqeuda por CURP'
			INSERT INTO @tabRes
			SELECT [Pers_Persona].[Id_Persona]
			  ,[Cod_Tipo_Persona]
			  ,[Primer_Nombre]
			  ,[Segundo_Nombre]
			  ,[Primer_Apellido]
			  ,[Segundo_Apellido]
			  ,[Fecha_Nacimiento]
			  ,[Lugar_Nacimiento]
			  ,[cod_Pais_Origen]
			  ,[Cod_Pais_Nacimiento]
			  ,[Cod_Nivel_Estudios]
			  ,[Curp]
			  ,[Rfc]
			  ,[Cod_Genero]
			  ,[Cod_Edo_Civil]
			  ,[Cod_Edo_Ocupacion]
			  ,[Cod_Sit_Economica]
			  ,[Dep_Economicos]
			  ,[Fecha_Defuncion]
			  ,[Id_Suc_Reqistro]
			  ,[Fecha_Alta]
			  ,[Fecha_Modificacion]
			  ,[Fecha_Residencia]
			  ,[Cod_Situacion_Domicilio]
			  ,[Alias]
			  ,[Cod_Tipo_Ident_Pref]
			  ,Folio_Identificacion
			  ,Id_Nacionalidad
			  ,ISNULL(saldos.Sdo_Insoluto,0) AS Sdo_Insoluto
			  ,ISNULL(saldos.Cuota_Amortizacion,0) AS Cuota_Amortizacion
			  ,ISNULL(saldos.Cuota_Mensual_Amortizacion,0) AS Cuota_Mensual_Amortizacion
			  ,0 cuenta_creditos_activos
			  ,ISNULL(saldos.Ultimo_Credito_Activo,0) ultimo_credito_activo
			  ,ISNULL(
					cast(
						ISNULL(
							CONVERT(VARCHAR, saldos.fecha_inicio_credito_activo, 103),
							CONVERT(VARCHAR, inactivos.fecha_inicio_ultmo_credito_inactivo, 103)
							
						)   AS VARCHAR(20)
					),''
				) fecha_inicio_ultmo_credito
			  ,RANK() OVER   
				(PARTITION BY UPPER([Rfc]) ORDER  BY saldos.Sdo_Insoluto DESC) AS Rango 
		  FROM [dbo].[Pers_Persona]
			LEFT JOIN (
			
					--Codigo anterior con inconvenientes de tiempo de espera 20241220
					--	SELECT cr.ID_Persona
					--		,SUM(ISNULL(CONVERT(DECIMAL(18,2), cnd.[Total x Recuperar]),0)) AS Sdo_Insoluto
					--		,SUM(ISNULL(CND.[Monto Amortización],0)) AS Cuota_Amortizacion
					--		,Sum(ISNULL(Case When udm.Factor_Mensual < 0 
					--			Then Abs(udm.Factor_Mensual)
					--			Else 1 / udm.Factor_Mensual
					--			END,0) * ISNULL(cnd.[Monto Amortización], 0)) AS Cuota_Mensual_Amortizacion
					--		,count(cr.id_credito) AS cuenta_creditos_activos
					--		,max(cr.Fecha_Inicio) AS fecha_inicio_credito_activo
					--FROM CR_Credito cr 
					--	LEFT JOIN CR_Credito_Alta_Core crAc ON cr.ID_Credito = crAc.ID_Credito AND crac.ID_Prospecto != 0
					--	INNER JOIN Conciliacion_Diaria cnd ON ISNULL(CONVERT(FLOAT,crac.ID_Credito), CONVERT(FLOAT,cr.Pagare)) = CONVERT(FLOAT, cnd.Prestamo)
					--	INNER JOIN TR_Unidad_Medida udm ON cr.Cod_Frecuencia_Pago = udm.Cod_UDM
					--  WHERE --cr.ID_Persona = @Id_Persona and
					--	cr.Cod_Etapa = @Cod_Etapa_Credito
					--	AND cr.Cod_Estatus = @Cod_Estatus_Credito_Activo
					--	AND cnd.Situación = 'Activo'
					--GROUP BY cr.ID_Persona


					--Actualizacion nueva optimaizada, incluyendo un indice en tabla Conciliacion_Diaria 20241220 CASV

					SELECT
					CR.ID_Persona
					, SUM(ISNULL(CONVERT(DECIMAL (18,2), CND.[Total x Recuperar]), 0)) AS Sdo_Insoluto
					, SUM(ISNULL(CND.[Monto Amortización], 0)) AS Cuota_Amortizacion
					, SUM(ISNULL(CND.[Monto Amortización] * CR.Factor_Mensualizado, 0)) AS Cuota_Mensual_Amortizacion
					, MAX(CR.Id_Credito) AS Ultimo_Credito_Activo
					, COUNT(CR.Id_Credito) AS Cuenta_Creditos_Activos
					, MAX(CR.Fecha_Inicio) AS Fecha_Inicio_Credito_Activo
					FROM
						(
							SELECT
							CR.Id_Persona
							, CAST(CR.ID_Credito AS FLOAT) AS Id_Credito
							, CR.Cod_Frecuencia_Pago
							, CASE
								WHEN UDM.Factor_Mensual < 0 THEN ABS(UDM.Factor_Mensual)
								ELSE 1 / UDM.Factor_Mensual
							END AS Factor_Mensualizado
							, CR.Fecha_Inicio
							, ISNULL(CAST(CRAC.ID_Credito AS FLOAT), CAST(CR.Pagare AS FLOAT)) AS Prestamo
							FROM dbo.CR_Credito CR
							INNER JOIN dbo.TR_Unidad_Medida UDM ON CR.Cod_Frecuencia_Pago = UDM.Cod_UDM
							LEFT JOIN dbo.CR_Credito_Alta_Core CRAC ON CR.ID_Credito = CRAC.ID_Credito AND CRAC.ID_Prospecto != 0
							WHERE CR.Cod_Etapa = @Cod_Etapa_Credito
							AND CR.Cod_Estatus = @Cod_Estatus_Credito_Activo
						) CR
					INNER JOIN dbo.Conciliacion_Diaria CND ON CAST(CR.Prestamo AS FLOAT) = CAST(CND.Prestamo AS FLOAT)  AND cast([Total x Recuperar] AS FLOAT)>0
					GROUP BY CR.ID_Persona

			) AS saldos ON saldos.ID_Persona =  [Pers_Persona].[Id_Persona]
			LEFT JOIN ( -- Inactivos
						SELECT cr.ID_Persona, max(cr.Fecha_Inicio) fecha_inicio_ultmo_credito_inactivo
					FROM CR_Credito cr 
						--LEFT JOIN CR_Credito_Alta_Core crAc ON cr.ID_Credito = crAc.ID_Credito AND crac.ID_Prospecto != 0
						--INNER JOIN Conciliacion_Diaria cnd ON ISNULL(CONVERT(FLOAT,crac.ID_Credito), CONVERT(FLOAT,cr.Pagare)) = CONVERT(FLOAT, cnd.Prestamo)
					  WHERE --cr.ID_Persona = @Id_Persona and
						cr.Cod_Etapa = @Cod_Etapa_Credito
						AND cr.Cod_Estatus <> @Cod_Estatus_Credito_Activo
						--AND cnd.Situación <> 'Activo'
					GROUP BY cr.ID_Persona
			) AS inactivos ON inactivos.ID_Persona =  [Pers_Persona].[Id_Persona]
		  WHERE UPPER(Curp) = UPPER(@Curp)
		  ORDER  BY [Primer_Nombre]
			  ,[Segundo_Nombre]
			  ,[Primer_Apellido]
			  ,[Segundo_Apellido]
	END


	PRINT 'Ordenando información - Si hay dos personas con el mismo rfc que solo muestre la que trae el saldo'
	SELECT -- Si hay dos personas con el mismo rfc que solo muestre la que trae el saldo
		[Id_Persona] 
		,[Cod_Tipo_Persona] 
		,[Primer_Nombre] 
		,[Segundo_Nombre] 
		,[Primer_Apellido] 
		,[Segundo_Apellido] 
		,[Fecha_Nacimiento] 
		,[Lugar_Nacimiento] 
		,[Cod_Pais_Origen] 
		,[Cod_Pais_Nacimiento] 
		,[Cod_Nivel_Estudios] 
		,[Curp] 
		,[Rfc] 
		,[Cod_Genero] 
		,[Cod_Edo_Civil] 
		,[Cod_Edo_Ocupacion] 
		,[Cod_Sit_Economica] 
		,[Dep_Economicos] 
		,[Fecha_Defuncion]
		,[Id_Suc_Reqistro]
		,[Fecha_Alta] 
		,[Fecha_Modificacion] 
		,[Fecha_Residencia] 
		,[Cod_Situacion_Domicilio] 
		,[Alias] 
		,[Cod_Tipo_Ident_Pref] 
		,[Folio_Identificacion] 
		,[Id_Nacionalidad] 
		,[Sdo_Insoluto] 
		,[Cuota_Amortizacion] 
		,[Cuota_Mensual_Amortizacion] 
		,0 [cuenta_creditos_activos]
		,[ultimo_credito_activo]
		,[fecha_inicio_ultmo_credito] 
		,[Rango] 
	FROM @tabRes
	WHERE rango = 1 AND Cuota_Mensual_Amortizacion > 0
	UNION 
	SELECT -- cuando haya dos rfcs y ninguno traiga saldos, entonces que traiga los dos
		[Id_Persona] 
		,[Cod_Tipo_Persona] 
		,[Primer_Nombre] 
		,[Segundo_Nombre] 
		,[Primer_Apellido] 
		,[Segundo_Apellido] 
		,[Fecha_Nacimiento] 
		,[Lugar_Nacimiento] 
		,[Cod_Pais_Origen] 
		,[Cod_Pais_Nacimiento] 
		,[Cod_Nivel_Estudios] 
		,[Curp] 
		,res.[Rfc] 
		,[Cod_Genero] 
		,[Cod_Edo_Civil] 
		,[Cod_Edo_Ocupacion] 
		,[Cod_Sit_Economica] 
		,[Dep_Economicos] 
		,[Fecha_Defuncion]
		,[Id_Suc_Reqistro]
		,[Fecha_Alta] 
		,[Fecha_Modificacion] 
		,[Fecha_Residencia] 
		,[Cod_Situacion_Domicilio] 
		,[Alias] 
		,[Cod_Tipo_Ident_Pref] 
		,[Folio_Identificacion] 
		,[Id_Nacionalidad] 
		,[Sdo_Insoluto] 
		,[Cuota_Amortizacion] 
		,[Cuota_Mensual_Amortizacion] 
		,0 [cuenta_creditos_activos]
		,[ultimo_credito_activo]
		,[fecha_inicio_ultmo_credito] 
		,[Rango] 
	FROM @tabRes res
	INNER JOIN (
		SELECT rfc, SUM(Cuota_Mensual_Amortizacion) total_cuota_mensual_x_RFC
		FROM @tabRes 
		GROUP BY rfc
	) subres ON res.Rfc =subres.Rfc
	WHERE subres.total_cuota_mensual_x_RFC = 0

END