USE [Originacion]
GO
/****** Object:  StoredProcedure [dbo].[proc_Orgn_Solicitud_Cancela_Rechaza]    Script Date: 11/05/2026 17:35:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Procedure [dbo].[proc_Orgn_Solicitud_Cancela_Rechaza]
	@ID_Credito [int] NULL,
	@Cod_Tipo_Resultado [char](1) NULL,
	@Fecha [date] = null,
	@Comentarios [varchar](500) NULL,
	@ID_Usuario [int] NULL,
	@Cod_Motivo_Cancelacion_Rechazo char(2),
	@Requiere_Cambio_WorkFlow bit = 1,
	@Id_Tipo_Rechazo int = NULL
AS
BEGIN
	SET NOCOUNT ON;

	if @Fecha = null
		set @Fecha = getdate()

	declare @ID_SecuenciaCancelacionRechazo int = 30
	declare @ID_Cancelacion_Rechazo [int] = 0

	Exec proc_Orgn_Numero_Secuencia_Extrae @ID_SecuenciaCancelacionRechazo,'S',1,@Num_Secuencia = @ID_Cancelacion_Rechazo Output

	INSERT INTO [dbo].[CR_Cancelacion_Rechazo]
		(
		[ID_Cancelacion_Rechazo]
		,[ID_Credito]
		,[Cod_Tipo_Resultado]
		,[Fecha]
		,[Comentarios]
		,[ID_Usuario]
		,[Cod_Motivo_Cancelacion_Rechazo]
		,[Id_Tipo_Rechazo]
		)
	VALUES
		(
		@ID_Cancelacion_Rechazo
		,@ID_Credito
		,@Cod_Tipo_Resultado
		,@Fecha
		,@Comentarios
		,@ID_Usuario
		,@Cod_Motivo_Cancelacion_Rechazo
		,@Id_Tipo_Rechazo
		)

	if @Requiere_Cambio_WorkFlow = 0
	begin
		return
	end

	DECLARE @RC int
	DECLARE @Cod_Producto_Comercial char(4)
	DECLARE @Cod_Etapa char(2)
	DECLARE @Cod_Estatus char(2)
	DECLARE @Cod_Accion char(2)
	DECLARE @Cod_Tipo_Tramite varchar(2)
	DECLARE @Id_Referencia int
	Declare @RegresaResultados bit
	declare @Resultado varchar(max)

	set @RegresaResultados = 0

	Select @Cod_Producto_Comercial = Cod_Producto,
		@Cod_Etapa = cod_etapa,
		@Cod_Estatus = Cod_Estatus
	from cr_credito
		Where id_credito = @ID_Credito

	set @Cod_Tipo_Tramite = '01'
	set @Id_Referencia = @ID_Credito

	print '@Cod_Producto_Comercial'
	print @Cod_Producto_Comercial
	print '@Cod_Etapa'
	print @Cod_Etapa
	print '@Cod_Estatus'
    print @Cod_Estatus
	print '@Cod_Accion'
	print @Cod_Accion
	print '@Id_Usuario'
	print @Id_Usuario
	print '@Cod_Tipo_Tramite'
	print @Cod_Tipo_Tramite
	print '@Id_Referencia'
	print @Id_Referencia

	-- Cuando es una rechazo
	if @Cod_Tipo_Resultado = '2'
	begin
		set @Cod_Accion = '38'
		EXECUTE @RC = [dbo].[proc_Orgn_Flujo_Orquestación] 
		   @Cod_Producto_Comercial
		  ,@Cod_Etapa
		  ,@Cod_Estatus
		  ,@Cod_Accion
		  ,@Id_Usuario
		  ,@Cod_Tipo_Tramite
		  ,@Id_Referencia
		  ,@RegresaResultados
		  ,@Resultado output
	end

	-- Cuando es una cancelación
	if @Cod_Tipo_Resultado = '3'
	begin
		set @Cod_Accion = '37'
		EXECUTE @RC = [dbo].[proc_Orgn_Flujo_Orquestación] 
		   @Cod_Producto_Comercial
		  ,@Cod_Etapa
		  ,@Cod_Estatus
		  ,@Cod_Accion
		  ,@Id_Usuario
		  ,@Cod_Tipo_Tramite
		  ,@Id_Referencia
		  ,@RegresaResultados
		  ,@Resultado output
		-- Valida si el crédito quedo cancelado
	end

	if @Resultado = ''
	begin
		select 
		[ID_Cancelacion_Rechazo]
		,[ID_Credito]
		,[Cod_Tipo_Resultado]
		,[Fecha]
		,[Comentarios]
		,[ID_Usuario]
		,Cod_Motivo_Cancelacion_Rechazo
		from [CR_Cancelacion_Rechazo]
		where [ID_Credito] = @ID_Credito
		and [ID_Cancelacion_Rechazo] = @ID_Cancelacion_Rechazo
	end
	else
	begin
		select
			0 as ID_Cancelacion_Rechazo
			,@ID_Credito as ID_Credito
			,@Cod_Tipo_Resultado as Cod_Tipo_Resultado
			,getdate() as Fecha
			,@Comentarios as Comentarios
			,@ID_Usuario as ID_Usuario
			,@Cod_Motivo_Cancelacion_Rechazo as Cod_Motivo_Cancelacion_Rechazo
	 end
END


