USE [Originacion]
GO
/****** Object:  StoredProcedure [dbo].[proc_Orgn_Expediente_Solicitud_Add_Update]    Script Date: 28/04/2026 13:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Proc [dbo].[proc_Orgn_Expediente_Solicitud_Add_Update] 
	@Id_Expediente int
	,@Cod_Tipo_Tramite char(2)
	,@ID_Referencia int
	,@Cod_Requisito char(2)
	,@Cod_Tipo_Comprobante char(2)
	,@Fecha_Emision date
	,@Fecha_Valido_Hasta date
	,@Cod_ECV_Requisito char(2) = ''
	,@URL varchar(200)
	,@Fecha_Registro datetime
	,@Id_Documento varchar(24)
	,@Id_Usuario int = 0 -- nuevo campo 13-05-2025
as
Begin
	begin try
		declare @_id as smallint = 0 
		declare @_msg as varchar(2048) = ''
		if ltrim(trim(@Cod_ECV_Requisito)) = ''
			set @Cod_ECV_Requisito = '01'

		declare @registros int

		select @registros = count(*) from 
		[dbo].[Exp_Expediente]
		Where Cod_Tipo_Tramite = @Cod_Tipo_Tramite and 
		ID_Referencia = @ID_Referencia and
		Cod_Requisito = @Cod_Requisito 

		print '@registros'
		print @registros

		if @registros > 0 and @Cod_ECV_Requisito = '02' -- baja de documento
		begin
			print '@Cod_ECV_Requisito = 02'

			if ltrim(rtrim(@Cod_Tipo_Tramite)) <> ''
				and ltrim(rtrim(@ID_Referencia)) <> 0
				and ltrim(rtrim(@Cod_Requisito)) <> ''
				and @Id_Expediente <> 0 
			begin
				print 'Se cumple condición para eliminar'
				insert into Exp_Expediente_Bitacora 
					Select 
						[Id_Expediente],
						[Cod_Tipo_Tramite],
						[ID_Referencia],
						[Cod_Requisito],
						[Cod_Tipo_Comprobante],
						[Fecha_Emision] [date] ,
						[Fecha_Valido_Hasta] [date] ,
						'02',
						[URL], 
						[Fecha_Registro], 
						[Id_Documento], 
						[Id_Usuario], 
						@Id_Usuario,  
						getdate() 
					from [dbo].[Exp_Expediente]
					Where Cod_Tipo_Tramite = @Cod_Tipo_Tramite and 
						ID_Referencia = @ID_Referencia and
						Cod_Requisito = @Cod_Requisito and
						Id_Expediente = @Id_Expediente

				print 'Se cumple condición para eliminar'

				delete from [dbo].[Exp_Expediente]
				Where Cod_Tipo_Tramite = @Cod_Tipo_Tramite and 
					ID_Referencia = @ID_Referencia and
					Cod_Requisito = @Cod_Requisito and
					Id_Expediente = @Id_Expediente
			end 
		end
		else if @registros > 0
		begin

			-- manda el registro original a bitácora
			insert into Exp_Expediente_Bitacora 
				Select 
					[Id_Expediente],
					[Cod_Tipo_Tramite],
					[ID_Referencia],
					[Cod_Requisito],
					[Cod_Tipo_Comprobante],
					[Fecha_Emision] [date] ,
					[Fecha_Valido_Hasta] [date] ,
					[Cod_ECV_Requisito],
					[URL], 
					[Fecha_Registro], 
					[Id_Documento], 
					[Id_Usuario], 
					@Id_Usuario,  
					getdate() 
				from [dbo].[Exp_Expediente]
				Where Cod_Tipo_Tramite = @Cod_Tipo_Tramite and 
					ID_Referencia = @ID_Referencia and
					Cod_Requisito = @Cod_Requisito and
					Id_Expediente = @Id_Expediente


			UPDATE [dbo].[Exp_Expediente]
			   SET 
				  [Cod_Tipo_Tramite] =		@Cod_Tipo_Tramite
				  ,[ID_Referencia] =		@ID_Referencia
				  ,[Cod_Requisito] =		@Cod_Requisito
				  ,[Cod_Tipo_Comprobante] = @Cod_Tipo_Comprobante
				  ,[Fecha_Emision] =		@Fecha_Emision
				  ,[Fecha_Valido_Hasta] =	@Fecha_Valido_Hasta
				  ,[Cod_ECV_Requisito] =	@Cod_ECV_Requisito
				  ,[URL] =					@URL
				  ,[Fecha_Registro] =		@Fecha_Registro
				  ,[Id_Documento] =			@Id_Documento
				  ,[Id_Usuario]		=		@Id_Usuario
			 WHERE Cod_Tipo_Tramite = @Cod_Tipo_Tramite and 
				ID_Referencia = @ID_Referencia and
				Cod_Requisito = @Cod_Requisito 
		end
		else if @registros = 0
		Begin
			Declare @ID_Secuencia Int = 10  --Secuencia Registro de Expediente
			Exec proc_Orgn_Numero_Secuencia_Extrae @ID_Secuencia,'S',1,@Num_Secuencia = @Id_Expediente Output
			INSERT INTO [dbo].[Exp_Expediente]
					   ([Id_Expediente]
					   ,[Cod_Tipo_Tramite]
					   ,[ID_Referencia]
					   ,[Cod_Requisito]
					   ,[Cod_Tipo_Comprobante]
					   ,[Fecha_Emision]
					   ,[Fecha_Valido_Hasta]
					   ,[Cod_ECV_Requisito]
					   ,[URL]
					   ,[Fecha_Registro]
					   ,[Id_Documento]
					   ,[Id_Usuario])
				 VALUES
					   (
						@Id_Expediente 
						,@Cod_Tipo_Tramite 
						,@ID_Referencia 
						,@Cod_Requisito 
						,@Cod_Tipo_Comprobante 
						,@Fecha_Emision 
						,@Fecha_Valido_Hasta 
						,@Cod_ECV_Requisito 
						,@URL 
						,@Fecha_Registro
						,@Id_Documento
						,@Id_Usuario
				)
		End
	
		select @Id_Expediente as Id_Expediente
	end try
	begin catch
		insert into	dbo.ErrorLog (suser_sname, error_number, error_state, error_severity, error_line, error_procedure, error_message, usuario_id)
		values (suser_sname(), error_number(), error_state(), error_severity(), error_line(), error_procedure(), error_message(), @ID_Usuario);
		if (xact_state()) = -1
			rollback transaction
		if (xact_state()) = 1
			commit transaction
		declare @severity int = error_severity(), @state int = error_state()
		set @_id = 0 
		set @_msg = N'Se a presentado un error: ' + (select convert(nvarchar(1024), error_number()) + ' - ' + error_message())
		raiserror(@_msg, @severity, @state)
	end catch;
	set nocount off
end
