USE [Originacion]
GO
/****** Object:  StoredProcedure [dbo].[proc_Orgn_Solicitud_Migra_Cotizacion_Personas]    Script Date: 10/04/2026 13:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[proc_Orgn_Solicitud_Migra_Cotizacion_Personas]
    @ID_Usuario int
	,@Id_Cotizacion int 
	,@ID_Credito int 
	,@Id_Persona_Solicitante int = 0 output
	,@Id_Externo_Solicitante int = 0 output
	,@_id as smallint = 0 output
	,@_msg as varchar(2048) = '' output
as
begin
	begin try
		declare @countPersonas int = 0
		declare @Id_Cotizacion_Persona int
		declare @Cod_Rol_Pers_Credito char(2) 
		declare @Id_Persona int
		declare @id_externo int = 0
		Declare @ID_SecuenciaPersona Int = 6  --Secuencia Personas
		declare @Id_Credito_Persona int
		Declare @ID_SecuenciaCreditoPersona int = 23  --Secuencia Solicitud Ingresos / Egresos

		declare @Domi_Ind_Catalogado bit 
		declare @Domi_Id_Colonia int 
		declare @Domi_Id_Delegacion int 
		declare @Domi_Id_Municipio int 
		declare @Domi_Id_Edo_Region smallint 
		declare @Domi_Cod_Pais_ISO smallint 
		declare @Domi_Cod_Tipo_Domicilio char(2) 
		declare @Domi_Cod_Situacion_Domicilio char(2) 
		declare @Domi_Calle nvarchar(50) 
		declare @Domi_Numero_Ext nvarchar(10) 
		declare @Domi_Numero_Int nvarchar(10) 
		declare @Domi_Unidad_Habitacional nvarchar(30) 
		declare @Domi_Edificio nvarchar(20) 
		declare @Domi_Piso nvarchar(10) 
		declare @Domi_Departamento nvarchar(10) 
		declare @Domi_Casa nvarchar(10) 
		declare @Domi_Lote nvarchar(10) 
		declare @Domi_Manzana nvarchar(10) 
		declare @Domi_Codigo_Postal int 
		declare @Domi_Colonia nvarchar(30) 
		declare @Domi_Localidad nvarchar(30) 
		declare @Domi_Delegacion nvarchar(30) 
		declare @Domi_Municipio nvarchar(30) 
		declare @Domi_Edo_Region nvarchar(30) 
		declare @Domi_Pais nvarchar(4) 
		declare @Domi_EntreCalles nvarchar(50) 
		declare @Domi_Cod_Ecv_Direccion char(1) 
		declare @Domi_Fecha_Ult_Accion date 
		declare @Domi_Cod_Ult_Accion char(2) 
		declare @Domi_Id_Persona int  
		declare @Domi_Fecha_Inicio_Residencia date 
		declare @Domi_Fecha_Fin_Residencia date 
		declare @Domi_Fecha_Registro datetime 
		declare @Domi_Fecha_Valido_Desde date 
		declare @Domi_Fecha_Valido_Hasta date 
		declare @Domi_Fecha_Ult_Cambio datetime 
		declare @Domi_Version smallint 
		declare @Domi_Prioridad char(1) 
		declare @Domi_Latitud varchar(20) 
		declare @Domi_Longitud varchar(20) 
		declare @Domi_Id_Cotizacion_Persona int 
		declare @Domi_Id_Direccion_en_Domicilios int 

		declare @migra_Personas table (
			[Id_Cotizacion_Persona] [int] NOT NULL,
			[ID_Cotizacion] [int] NOT NULL,
			[Id_Persona] [int] NULL,
			[Primer_Nombre] [varchar](30) NULL,
			[Segundo_Nombre] [varchar](30) NULL,
			[Primer_Apellido] [varchar](30) NULL,
			[Segundo_Apellido] [varchar](30) NULL,
			[Correo] [nvarchar](50) NULL,
			[Telefono] [nvarchar](20) NULL,
			[CURP] [nvarchar](20) NULL,
			[RFC] [nvarchar](20) NULL,
			[Cod_Genero] [char](1),
			[Fecha_Nacimiento] [date] NULL,
			[Ingresos] [decimal](10, 2) NULL,
			[Egresos] [decimal](10, 2) NULL,
			[Porc_Max_Endeudamiento] [decimal](5, 2) NULL,
			[Porc_Max_Descuento] [decimal](5, 2) NULL,
			[Nomi_Neto] [decimal](18, 2) NULL,
			[Nomi_Total_Ingresos] [decimal](18, 2) NULL,
			[Nomi_Total_Egresos] [decimal](18, 2) NULL,
			[Nomi_Monto_Disponible] [decimal](18, 2) NULL,
			[Nomi_Porc_Descuento] [decimal](5, 2) NULL,
			[Total_Neto] [decimal](18, 2) NULL,
			[Total_Ingresos] [decimal](18, 2) NULL,
			[Total_Egresos] [decimal](18, 2) NULL,
			[Total_Monto_Disponible] [decimal](18, 2) NULL,
			[Total_Porc_Descuento] [decimal](5, 2) NULL,
			[Buro_Credito_Total_Cuentas] [decimal](18, 2) NULL,
			[Buro_Credito_Control_Consulta] [varchar](20) NULL,
			[Cod_Rol_Pers_Credito] [char](2) NULL,
			[Ingresos_Nomina] [decimal](18,2),
			[Egresos_Nomina] [decimal](18,2),
			[Otros_Ingresos] [decimal](18,2),
			[Otros_Egresos] [decimal](18,2),
			[Id_Externo] [int],
			[Id_Registro_Consulta_Lista_Nominal] [int],
			[Lista_Nominal_estatus] varchar(20),
			[Lista_Nominal_Resultado_Servicio] bit
		)

		-- crea las personas para el crédito
		Insert into @migra_Personas
			SELECT [Id_Cotizacion_Persona]
				  ,[ID_Cotizacion]
				  ,[Id_Persona]
				  ,[Primer_Nombre]
				  ,[Segundo_Nombre]
				  ,[Primer_Apellido]
				  ,[Segundo_Apellido]
				  ,[Correo]
				  ,[Telefono]
				  ,[CURP]
				  ,[RFC]
				  ,[Cod_Genero]
				  ,[Fecha_Nacimiento]
				  ,[Ingresos]
				  ,[Egresos]
				  ,[Porc_Max_Endeudamiento]
				  ,[Porc_Max_Descuento]
				  ,[Nomi_Neto]
				  ,[Nomi_Total_Ingresos]
				  ,[Nomi_Total_Egresos]
				  ,[Nomi_Monto_Disponible]
				  ,[Nomi_Porc_Descuento]
				  ,[Total_Neto]
				  ,[Total_Ingresos]
				  ,[Total_Egresos]
				  ,[Total_Monto_Disponible]
				  ,[Total_Porc_Descuento]
				  ,[Buro_Credito_Total_Cuentas]
				  ,[Buro_Credito_Control_Consulta]
				  ,[Cod_Rol_Pers_Credito]
				  ,[Ingresos_Nomina]
				  ,[Egresos_Nomina]
				  ,[Otros_Ingresos]
				  ,[Otros_Egresos]
				  ,[Id_Externo]
				  ,[Id_Registro_Consulta_Lista_Nominal]
				  ,[Lista_Nominal_estatus]
				  ,[Lista_Nominal_Resultado_Servicio]
			  FROM [dbo].[ctz_Personas]
			  where ID_Cotizacion = @Id_Cotizacion
		--select * from ctz_Personas where ID_Cotizacion = @Id_Cotizacion

		set @countPersonas = 0 
		select @countPersonas = COUNT(*) from @migra_Personas where ID_Cotizacion = @Id_Cotizacion

		declare @tmpCURP varchar(18)
		declare @tmpCod_Genero char(1)
		declare @tmpRFC varchar(13)
		declare @tmpFechaNac date

		while @countPersonas > 0
		begin
			select top 1 @Id_Cotizacion_Persona = Id_Cotizacion_Persona,
			@Cod_Rol_Pers_Credito = [Cod_Rol_Pers_Credito],
			@Id_Persona = [Id_Persona],
			@id_externo = [Id_Externo],
			@tmpCURP = [Curp],
			@tmpCod_Genero = [Cod_Genero]
			From @migra_Personas

			

			if @id_persona  = 0 or @id_persona is null
			begin
			-- Carga personas

				Exec proc_Orgn_Numero_Secuencia_Extrae @ID_SecuenciaPersona,'S',1,@Num_Secuencia = @id_persona Output

				update @migra_Personas set [Id_Persona] = @Id_Persona where 
				Id_Cotizacion_Persona = @Id_Cotizacion_Persona  and
				[Cod_Rol_Pers_Credito] = @Cod_Rol_Pers_Credito
				--@Id_Persona = [Id_Persona],
				--[Id_Externo]@id_externo = 

				insert into [dbo].[Pers_Persona]
				([Id_Persona]
					,[Cod_Tipo_Persona]
					,[Primer_Nombre]
					,[Segundo_Nombre]
					,[Primer_Apellido]
					,[Segundo_Apellido]
					,[Fecha_Nacimiento]
					,[Curp]
					,[Rfc]
					,[Cod_Genero]
					,[Fecha_Alta]
					,[Fecha_Modificacion]
					,[Id_Externo])
				select @id_persona
					,'F'
					,[Primer_Nombre]
					,[Segundo_Nombre]
					,[Primer_Apellido]
					,[Segundo_Apellido]
					,[Fecha_Nacimiento]
					,@tmpCURP
					,[RFC]
					,@tmpCod_Genero
					,GETDATE()
					,GETDATE()
					,@id_externo
				FROM [dbo].[Ctz_Cotizacion]
				where ID_Cotizacion = @Id_Cotizacion

				-- Actualiza la tabla de cotizaciones con el Id_Persona
				-- CORREGIR

				Update ctz_Personas set id_persona = @id_persona 
				where Id_Cotizacion_Persona = @Id_Cotizacion_Persona 
					and [Cod_Rol_Pers_Credito] = @Cod_Rol_Pers_Credito 
					and [Id_Persona] = 0
			end
			else 
			begin
				set @tmpRFC = ''
				set @tmpFechaNac = null
				 
				select @tmpRFC = rfc, @tmpFechaNac = Fecha_Nacimiento 
				from ctz_Personas where ID_Cotizacion = @Id_Cotizacion
				and Id_Cotizacion_Persona = @Id_Cotizacion_Persona 
				and [Cod_Rol_Pers_Credito] = @Cod_Rol_Pers_Credito 

				update [Pers_Persona] set rfc = @tmpRFC, Fecha_Nacimiento  = @tmpFechaNac , Fecha_Modificacion =GETDATE()
				where Id_Persona = @id_persona
			end 


			if @Cod_Rol_Pers_Credito = '01'
			begin 
				set @Id_Persona_Solicitante = @id_persona
				set @Id_Externo_Solicitante = @id_externo
			end 

			-- Migra ctz_personas a cr_personas
			Exec proc_Orgn_Numero_Secuencia_Extrae @ID_SecuenciaCreditoPersona,'S',1,@Num_Secuencia = @Id_Credito_Persona  Output
			insert into cr_personas
			Select 
				@Id_Credito_Persona
				,@ID_Credito 
				,[Id_Persona] 
				,[Primer_Nombre] 
				,[Segundo_Nombre] 
				,[Primer_Apellido] 
				,[Segundo_Apellido] 
				,[Correo] 
				,[Telefono] 
				,[RFC] 
				,[Fecha_Nacimiento] 
				,[Ingresos] 
				,[Egresos] 
				,[Porc_Max_Endeudamiento] 
				,[Porc_Max_Descuento] 
				,[Nomi_Neto] 
				,[Nomi_Total_Ingresos] 
				,[Nomi_Total_Egresos] 
				,[Nomi_Monto_Disponible] 
				,[Nomi_Porc_Descuento] 
				,[Total_Neto] 
				,[Total_Ingresos] 
				,[Total_Egresos] 
				,[Total_Monto_Disponible] 
				,[Total_Porc_Descuento] 
				,[Buro_Credito_Total_Cuentas] 
				,[Buro_Credito_Control_Consulta] 
				,[Cod_Rol_Pers_Credito] 
				,[Ingresos_Nomina] 
				,[Egresos_Nomina] 
				,[Otros_Ingresos] 
				,[Otros_Egresos] 
				,[Id_Externo]
				,[Id_Registro_Consulta_Lista_Nominal]
				,[Lista_Nominal_estatus]
				,[Lista_Nominal_Resultado_Servicio]
				,0 [Id_Registro_Valida_CURP] 
				,'' [Valida_CURP_estatus] 
				,0 [Valida_CURP_Resultado_Servicio] 
			From @migra_Personas
			Where Id_Cotizacion_Persona = @Id_Cotizacion_Persona

			-- Almacena el domicilio de la persona
			SELECT 
					@Domi_Ind_Catalogado                = [Ind_Catalogado]
					,@Domi_Id_Colonia                    = [Id_Colonia]
					,@Domi_Id_Delegacion                 = [Id_Delegacion]
					,@Domi_Id_Municipio                  = [Id_Municipio]
					,@Domi_Id_Edo_Region                 = [Id_Edo_Region]
					,@Domi_Cod_Pais_ISO                  = [Cod_Pais_ISO]
					,@Domi_Cod_Tipo_Domicilio            = [Cod_Tipo_Domicilio]
					,@Domi_Cod_Situacion_Domicilio       = [Cod_Situacion_Domicilio]
					,@Domi_Calle                         = [Calle]
					,@Domi_Numero_Ext                    = [Numero_Ext]
					,@Domi_Numero_Int                    = [Numero_Int]
					,@Domi_Unidad_Habitacional           = [Unidad_Habitacional]
					,@Domi_Edificio                      = [Edificio]
					,@Domi_Piso                          = [Piso]
					,@Domi_Departamento                  = [Departamento]
					,@Domi_Casa                          = [Casa]
					,@Domi_Lote                          = [Lote]
					,@Domi_Manzana                       = [Manzana]
					,@Domi_Codigo_Postal                 = [Codigo_Postal]
					,@Domi_Colonia                       = [Colonia]
					,@Domi_Localidad                     = [Localidad]
					,@Domi_Delegacion                    = [Delegacion]
					,@Domi_Municipio                     = [Municipio]
					,@Domi_Edo_Region                    = [Edo_Region]
					,@Domi_Pais                          = [Pais]
					,@Domi_EntreCalles                   = [EntreCalles]
					,@Domi_Cod_Ecv_Direccion             = [Cod_Ecv_Direccion]
					,@Domi_Fecha_Ult_Accion              = [Fecha_Ult_Accion]
					,@Domi_Cod_Ult_Accion                = [Cod_Ult_Accion]
					,@Domi_Id_Persona                    = [Id_Persona]
					,@Domi_Fecha_Inicio_Residencia       = [Fecha_Inicio_Residencia]
					,@Domi_Fecha_Fin_Residencia          = [Fecha_Fin_Residencia]
					,@Domi_Fecha_Registro                = [Fecha_Registro]
					,@Domi_Fecha_Valido_Desde            = [Fecha_Valido_Desde]
					,@Domi_Fecha_Valido_Hasta            = [Fecha_Valido_Hasta]
					,@Domi_Fecha_Ult_Cambio              = [Fecha_Ult_Cambio]
					,@Domi_Version                       = [Version]
					,@Domi_Prioridad                     = [Prioridad]
					,@Domi_Latitud                       = [Latitud]
					,@Domi_Longitud                      = [Longitud]
					,@Domi_Id_Cotizacion_Persona         = [Id_Cotizacion_Persona]
					,@Domi_Id_Direccion_en_Domicilios    = [Id_Direccion_en_Domicilios]
			FROM [dbo].[Ctz_Domicilios]
			Where Id_Cotizacion = @Id_Cotizacion
			and [Cod_Rol_Pers_Credito] = @Cod_Rol_Pers_Credito

			-- Verifica si el domicilio existe
			set @Domi_Id_Direccion_en_Domicilios = 0 

			select @Domi_Id_Direccion_en_Domicilios = isnull(Id_Direccion,0)
			from DR_Domicilios 
			Where
				Id_Persona = @Id_Persona
				and Id_Colonia = @Domi_Id_Colonia 
				and Id_Edo_Region = @Domi_Id_Edo_Region
				and Id_Municipio = @Domi_Id_Municipio
				and rtrim(ltrim(Codigo_Postal)) = @Domi_Codigo_Postal
				and rtrim(ltrim(upper(calle))) = rtrim(ltrim(upper(@Domi_Calle)))
				and rtrim(ltrim(upper(Numero_Ext))) = rtrim(ltrim(upper(@Domi_Numero_Ext)))


			Exec [dbo].[proc_Orgn_Solicitud_Domicilio_Add_Update] 
				@Domi_Id_Direccion_en_Domicilios
				,@Domi_Ind_Catalogado
				,@Domi_Id_Colonia
				,@Domi_Id_Delegacion
				,@Domi_Id_Municipio
				,@Domi_Id_Edo_Region
				,@Domi_Cod_Pais_ISO
				,@Domi_Cod_Tipo_Domicilio
				,@Domi_Cod_Situacion_Domicilio
				,@Domi_Calle
				,@Domi_Numero_Ext
				,@Domi_Numero_Int
				,@Domi_Unidad_Habitacional
				,@Domi_Edificio
				,@Domi_Piso
				,@Domi_Departamento
				,@Domi_Casa
				,@Domi_Lote
				,@Domi_Manzana
				,@Domi_Codigo_Postal
				,@Domi_Colonia
				,@Domi_Localidad
				,@Domi_Delegacion
				,@Domi_Municipio
				,@Domi_Edo_Region
				,@Domi_Pais
				,@Domi_EntreCalles
				,@Domi_Cod_Ecv_Direccion
				,@Domi_Fecha_Ult_Accion
				,@Domi_Cod_Ult_Accion
				,@Id_Persona
				,@Domi_Fecha_Inicio_Residencia
				,@Domi_Fecha_Fin_Residencia
				,@Domi_Fecha_Registro
				,@Domi_Fecha_Valido_Desde
				,@Domi_Fecha_Valido_Hasta
				,@Domi_Fecha_Ult_Cambio
				,@Domi_Version
				,@Domi_Prioridad
				,@Domi_Latitud
				,@Domi_Longitud
				,0

			delete from @migra_Personas where Id_Cotizacion_Persona = @Id_Cotizacion_Persona
			select @countPersonas = COUNT(*) from @migra_Personas where ID_Cotizacion = @Id_Cotizacion
		end 
		set @_id = 1 
	end try
	begin catch
		insert into	dbo.ErrorLog (suser_sname, error_number, error_state, error_severity, error_line, error_procedure, error_message, usuario_id)
		values (suser_sname(), error_number(), error_state(), error_severity(), error_line(), error_procedure(), error_message(), @ID_Usuario);
		if (xact_state()) = -1
			rollback transaction
		if (xact_state()) = 1
			commit transaction
		declare @severity int = error_severity(), @state int = error_state()
		set @_id = 0 
		set @_msg = N'Se a presentado un error: ' + (select convert(nvarchar(1024), error_number()) + ' - ' + error_message())
		raiserror(@_msg, @severity, @state)
	end catch;
	set nocount off
end




