USE [Originacion_Training]
GO
/****** Object:  StoredProcedure [dbo].[proc_Orgn_Flujo_020506_Requisitos_Completos]    Script Date: 11/05/2026 12:24:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Proc [dbo].[proc_Orgn_Flujo_020506_Requisitos_Completos]																														
	@Id_Referencia int 
	,@Id_Usuario int 
	,@Estatus_Validacion char(4) output
	,@Mensaje_Error varchar(1000)  output
	,@Etapa char(2) output 
	,@Estatus char(4) output
AS
Begin

	--declare @Id_Referencia int = 3000456 
	--declare @Id_Usuario int = 28 
	--declare @Estatus_Validacion char(4) = ''
	--declare @Mensaje_Error varchar(1000) = ''
	--declare @Etapa char(2) = ''
	--declare @Estatus char(4) = ''

Declare @importeCredito decimal(10,2)
Declare @importeTotalCompraDeuda decimal(10,2)
declare @countComprasDeuda int

declare @result int
declare @result2 int
declare @result3 int
declare @resultCompraDeuda int
declare @errorTotalcompras varchar(max)
declare @telefonofijo varchar(18)
declare @Celular varchar(18)
declare @correo varchar(100)
declare @validacionDatosFirma int
declare @validacionesDatosdispersion int
declare @vTelfijo int
declare @vcel int
declare @vmail int
declare @MensajesValidacionFirma varchar(max)
declare @datosDispersion int
declare @Mensaje_ErrorDispersion varchar(max)
declare @Mensaje_ErrorDatosPersonales varchar(max)
declare @Mensaje_Errortotal varchar(max)
declare @Mensaje_Domicilio varchar(max)
declare @Mensaje_Compra_Deuda varchar(max)

declare @banderaCompraDeuda int


declare @validacion_Lista_Nominal int = 0
declare @validacion_CURP int = 0

---bandera 1 si existen compra de deuda 0 sino existen , por lo cual no deberia validar los datos de ocmpra de deuda
declare @banderaPLD int ---bandera 1 si existe PLd sino entonces avisar dado que si es forzoso tener registro de pld pra los creditos
declare @Mensaje_ErrorPLD varchar(200)

DECLARE @RFC VARCHAR(50)
DECLARE @CURP VARCHAR(50)
DECLARE @FechaNacimiento VARCHAR(50)
DECLARE @Sexo VARCHAR(50)
DECLARE @Nacionalidad VARCHAR(50)
DECLARE @PaisN VARCHAR(50)
DECLARE @LugarNacimiento VARCHAR(50)
DECLARE @TipoIdentificacion VARCHAR(50)
DECLARE @claveIdentificacion VARCHAR(50)
DECLARE @Estadocivil VARCHAR(50)
DECLARE @NivelEstudios VARCHAR(50)
DECLARE @Ocupacion VARCHAR(50)
DECLARE @SituacionEconomica VARCHAR(50)
DECLARE @DependientesEconomicos VARCHAR(50)
DECLARE @Domicilio int
DECLARE @Documentos VARCHAR(50)
DECLARE @Referencias VARCHAR(50)
DECLARE @Empleo VARCHAR(50)
DECLARE @Dependencia VARCHAR(50)
DECLARE @Tipoempleado VARCHAR(50)
DECLARE @Subtipo VARCHAR(50)
DECLARE @Area VARCHAR(50)
DECLARE @Puesto VARCHAR(50)
DECLARE @claveempleado VARCHAR(50)
DECLARE @Sueldo VARCHAR(50)
DECLARE @Telefonoempleado VARCHAR(50)
DECLARE @FechaIngreso VARCHAR(50)
DECLARE @Direccion VARCHAR(50)
DECLARE @domiciliacion VARCHAR(50)
DECLARE @ID_Credito VARCHAR(50)
DECLARE @Id_Persona VARCHAR(50)
DECLARE @Id_convenio VARCHAR(50)
DECLARE @producto_comercial VARCHAR(5)
declare @mensaje_Documentos varchar(max);
declare @num_Documentos int;
declare @producto_credito varchar(5)
declare @Renovacion_MontoInterno decimal(10,2)
declare @Importe_Dispersion decimal(10,2)

/****** Script for SelectTopNRows command from SSMS  ******/
set @Mensaje_Errortotal='';
set @num_Documentos=0;
set @mensaje_Documentos='';
SELECT top 1
       @ID_Credito=isnull([CR_Credito].[ID_Credito],0)     
      ,@Id_Persona=isnull([CR_Credito].[ID_Persona],0)     
      ,@Id_convenio=isnull([ID_Convenio],0)
      ,@FechaNacimiento=persona.[Fecha_Nacimiento]
      ,@LugarNacimiento=isnull(persona.[Lugar_Nacimiento],'')
      ,@PaisN=isnull(persona.[Cod_Pais_Nacimiento],0)
      ,@CURP=isnull(persona.[Curp],'')
      ,@RFC=isnull(persona.[Rfc],'')
      ,@Sexo=isnull(persona.[Cod_Genero],0)
      ,@Estadocivil=isnull(persona.[Cod_Edo_Civil],0)
      ,@Ocupacion =isnull(persona.[Cod_Edo_Ocupacion],0)
     ,@Nacionalidad =isnull([Id_Nacionalidad],0)
	  ,@SituacionEconomica =isnull([Cod_Sit_Economica],0)
      ,@DependientesEconomicos =isnull([Dep_Economicos],0)
     ,@domiciliacion =isnull([Id_Dato_Bancario],0) --verifica si hay datos bancarios guardados
	 ,@Renovacion_MontoInterno = isnull(Importe_Renovacion, 0) + isnull(Importe_Movto_Interno, 0)
	 ,@Importe_Dispersion = Importe_Dispersion
	 --,@Domicilio=(count([DR_Domicilios].[Id_Persona]))
  FROM [dbo].[CR_Credito]
  left join CR_Personas cr_Persona on [CR_Credito].[ID_Credito]=cr_Persona.Id_Credito
  left join Pers_Persona persona on [CR_Credito].ID_Persona= persona.Id_Persona
  left join [CR_Datos_Domiciliacion] on  [CR_Credito].[ID_Credito]=[CR_Datos_Domiciliacion].[ID_Credito]
  --left join [DR_Domicilios] on  [CR_Credito].[ID_Persona]=[DR_Domicilios].[Id_Persona]
    where   [CR_Credito].[ID_Credito]=@Id_Referencia order by [Id_Dato_Bancario] desc

	

	


	print 'consulta correcta'
	--EXEC [proc_Orgn_CierreCompradeDeudaAutomatico] @Id_Referencia
	if(@ID_Credito is not null and @Id_Persona is not null and @Id_convenio is not null and @FechaNacimiento is not null and @LugarNacimiento is not null and @PaisN is not null and @CURP is not null and @RFC is not null and @Sexo is not null and @Estadocivil is not null )

	begin
	print @ID_Credito +','+@Id_Persona+','+@Id_convenio+','+@FechaNacimiento+','+@LugarNacimiento+','+@PaisN+','+@CURP+','+@RFC+','+ @Sexo+','+ @Estadocivil;
	set @Mensaje_ErrorDatosPersonales = '';
	end
	else
	begin
	print 'entrando a error'
		print @ID_Credito +','+@Id_Persona+','+@Id_convenio+','+@FechaNacimiento+','+@LugarNacimiento+','+@PaisN+','+@CURP+','+@RFC+','+ @Sexo+','+ @Estadocivil;

			set @Mensaje_ErrorDatosPersonales =('{"errormensaje":"Falta Datos personales"},');
			--set @Mensaje_ErrorDispersion =@Mensaje_ErrorDispersion+(' { errormensaje: ''Falta Datos personales '' },');
			--				set @Mensaje_Error = @Mensaje_Error + ' { errormensaje: ''Falta datos'' },';

			--if( (select @ID_Credito) = Null)
			--begin
			--			set @Mensaje_ErrorDispersion =(@Mensaje_Error+(' { errormensaje: ''Falta Datos personales '' },'));
			--end
			--if ((select @FechaNacimiento)=Null)
			--begin
			--			set @Mensaje_ErrorDispersion =(@Mensaje_Error+(' { errormensaje: ''Falta Datos fecha de nacimiento '' },'));
			--end
			if (@LugarNacimiento='')
			begin
						set @Mensaje_ErrorDatosPersonales =(@Mensaje_ErrorDatosPersonales+('{"errormensaje":"Falta datos lugar de nacimiento"},'));
						--select @LugarNacimiento
			end
			if ((select @PaisN)=0)
			begin
						set @Mensaje_ErrorDatosPersonales =@Mensaje_ErrorDatosPersonales+('{"errormensaje":"Falta pais de nacimiento"},');
			end
			if ((select @CURP)='')
			begin
						set @Mensaje_ErrorDatosPersonales =@Mensaje_ErrorDatosPersonales+('{"errormensaje":"Falta CURP"},');
			end
			if ((select @RFC)='')
			begin
						set @Mensaje_ErrorDatosPersonales =@Mensaje_ErrorDatosPersonales+('{"errormensaje":"Falta RFC"},');
			end
			if ((select @Sexo)=0)
			begin
						set @Mensaje_ErrorDatosPersonales =@Mensaje_ErrorDatosPersonales+('{"errormensaje":"Falta Genero"},');
			end
			if ((select @Estadocivil)=0)
			begin
						set @Mensaje_ErrorDatosPersonales =@Mensaje_ErrorDatosPersonales+('{"errormensaje":"Falta Estado civil"},');
			end
			--select @Mensaje_ErrorDatosPersonales as mensaje
	end

	print 'obtiene información de validaciones de lista nominal y CURP'
	select 
		@validacion_Lista_Nominal = case ltrim(rtrim(isnull(Lista_Nominal_estatus,'')))
			when 'OK' then 1
			else 0
		end 
		--,@validacion_CURP = case ltrim(rtrim(isnull(Valida_CURP_Estatus,'')))
		--	when 'OK' then 1
		--	else 0
		--end 
	from CR_Personas 
	where --isnull(Id_Registro_Consulta_Lista_Nominal,0) <> 0 and
		Cod_Rol_Pers_Credito = '01'
		and CR_Personas.[ID_Credito]=@Id_Referencia
	
	--if @validacion_Lista_Nominal = 0
	--begin
	--	set @Mensaje_ErrorDatosPersonales =@Mensaje_ErrorDatosPersonales + ('{"errormensaje":"El resultado de la validación en listas nominales no es positivo"},');
	--end

	
	--if @validacion_CURP = 0
	--begin
	--	set @Mensaje_ErrorDatosPersonales =@Mensaje_ErrorDatosPersonales + ('{"errormensaje":"El resultado de la validación de CURP no es positivo"},');
	--end
	
	print 'obtiene información de validaciones de lista nominal y CURP'

	--validacion de domicilio
	set @Domicilio=(isnull((select count(*) as domicilio from [dbo].[CR_Credito] CR left join DR_Domicilios Dir on CR.ID_Persona = Dir.Id_Persona AND Dir.Prioridad = 1 where CR.ID_Credito = @Id_Referencia),0));
	set @producto_comercial=(select Cod_Producto_Comercial from [PR_Producto_Comercial] where nombre like'%liquidez%');
	set @validacionDatosFirma=0
	Set @importeCredito=(select Importe from CR_Credito where ID_Credito=@Id_Referencia)
	set @banderaPLD=(SELECT count([ID_Solicitud]) FROM [dbo].[PLD_Declarativas] where [ID_Solicitud]=@Id_Referencia)
	set @datosDispersion=(isnull((select [ID_Credito] from [CR_Datos_Dispersion] where [ID_Credito]=@Id_Referencia),0))
	--set @telefonofijo=(isnull(
	--	(select telfijo.[Txt_Direccion] from CR_Credito credito
	--	inner join Pers_Persona per on per.Id_Persona = credito.ID_Persona
	--	left join DR_Dir_Electronicas telfijo on telfijo.ID_Persona = per.Id_Persona  and telfijo.Cod_Dir_Electronica = '02' and telfijo.Valido_Hasta is null --and telfijo
	--	where credito.ID_Credito=@Id_Referencia),''))
		
	set @Celular=(isnull(
		(select top 1 telmovil.[Txt_Direccion] from CR_Credito credito
		inner join Pers_Persona per on per.Id_Persona = credito.ID_Persona
		left join DR_Dir_Electronicas telmovil on telmovil.ID_Persona = per.Id_Persona  and telmovil.Cod_Dir_Electronica = '03' and telmovil.Valido_Hasta is null --and telmovil.Prioridad = 1
		where credito.ID_Credito=@Id_Referencia
		order by [Fecha_Ult_Cambio] desc),''))
	set @correo=(isnull(
		(select top 1 mail.[Txt_Direccion] from CR_Credito credito
		inner join Pers_Persona per on per.Id_Persona = credito.ID_Persona
		left join DR_Dir_Electronicas mail on mail.ID_Persona = per.Id_Persona  and mail.Cod_Dir_Electronica = '01' and mail.Valido_Hasta is null ---and mail.Prioridad = 1
		where credito.ID_Credito=@Id_Referencia),''))
	--validaicon de archivos
			print (@producto_comercial)
		print (@num_Documentos)
				print (@Id_Referencia)
 set @producto_credito=(select Cod_Producto from CR_Credito where ID_Credito=@Id_Referencia);
	set @num_Documentos=(select count(*)	
	--from 
	-- [TR_Requisito_Tipo_Tramite] as RTT
	--left join  TR_Tipo_Persona as TP on TP.Cod_Tipo_Persona = RTT.Cod_Tipo_Persona and TP.Cod_Tipo_Persona = 'F'
	--left join [TR_Tipo_Tramite]  as TT on TT.Cod_Tipo_Tramite = RTT.Cod_Tipo_Tramite --and TT.Cod_Tipo_Tramite = '01'
	--left join TR_Requisito as TR on RTT.Cod_Requisito = TR.Cod_Requisito--- and RTT.Cod_Producto_Comercial = 'V003'
	--left join [dbo].[Exp_Expediente] as expediente on  RTT.Cod_Requisito=expediente.Cod_Requisito and expediente.ID_Referencia=@Id_Referencia--'3000284'---@Id_Solicitud----and expediente.Cod_Tipo_Tramite='01' 
	--left join TR_Tiempo_Validez_Requisito as tiempo on RTT.Id_TiempoValidez=tiempo.Id_Tiempo_Validez --and -- RTT.Cod_Producto_Comercial = 'V003' --tiempo.
	--left join TR_Tipo_Archivo as tipoArch on RTT.Cod_Tipo_Archivo=tipoArch.Cod_Archivo
	--where 
	--TP.Cod_Tipo_Persona = 'F'
	--and TT.Cod_Tipo_Tramite = '01'
	--and RTT.Cod_Producto_Comercial = @producto_comercial---'V001'---@Cod_Producto_Comercial--
	--and expediente.[Id_Expediente] is null);
	from 
	 [TR_Requisito_Tipo_Tramite] as RTT
	left join  TR_Tipo_Persona as TP on TP.Cod_Tipo_Persona = RTT.Cod_Tipo_Persona and TP.Cod_Tipo_Persona = 'F'
	left join [TR_Tipo_Tramite]  as TT on TT.Cod_Tipo_Tramite = RTT.Cod_Tipo_Tramite --and TT.Cod_Tipo_Tramite = '01'
	left join TR_Requisito as TR on RTT.Cod_Requisito = TR.Cod_Requisito--- and RTT.Cod_Producto_Comercial = 'V003'
	left join [dbo].[Exp_Expediente] as expediente on  RTT.Cod_Requisito=expediente.Cod_Requisito and expediente.ID_Referencia=@Id_Referencia--'3000237'--and expediente.Cod_Tipo_Tramite='01' 

	left join TR_Tiempo_Validez_Requisito as tiempo on RTT.Id_TiempoValidez=tiempo.Id_Tiempo_Validez --and -- RTT.Cod_Producto_Comercial = 'V003' --tiempo.
		left join TR_Tipo_Archivo as tipoArch on RTT.Cod_Tipo_Archivo=tipoArch.Cod_Archivo

	where 
	TP.Cod_Tipo_Persona = 'F'
	and TT.Cod_Tipo_Tramite = '01'
	and RTT.Cod_Producto_Comercial =  @producto_credito
	AND RTT.Ind_Obligatorio=1
		and expediente.[Id_Expediente] is null);
		print('hhhhhhhhhhhhhhhhhhhhhhh')
		print (@producto_credito)
				print (@num_Documentos)

	if(@num_Documentos!=0)
	begin
	print(@num_Documentos)
	print('entrando')
	if(@num_Documentos!=0)
		set @mensaje_Documentos = '{"errormensaje":"Faltan documentos de requisitos a adjuntar "},';

	end
	else
	begin
		print('entrando al else')

			set @mensaje_Documentos = '';
	end
	print @producto_comercial
		print'cccccccccccccccccccccccccc'
		print @Domicilio
	if(@Domicilio='0')
	begin
			set @Mensaje_Domicilio = '{"errormensaje":"Falta domicilio de la persona"},';
			print @Mensaje_Domicilio;
	end
	else
			set @Mensaje_Domicilio = '';
	if(@banderaPLD!=2)
	begin
			set @Mensaje_ErrorPLD = @Mensaje_Error +  '{"errormensaje":"Falta Datos de PLD"},';

	end
	else
			set @Mensaje_ErrorPLD = '';
	if(@datosDispersion=0)
	begin
			set @Mensaje_ErrorDispersion = @Mensaje_Error +  '{"errormensaje":"Falta Datos de dispersion"},';

	end
	else
			set @Mensaje_ErrorDispersion = '';
	--if(@telefonofijo!='' and @Celular!='' and @correo!='')--validare datos de firmapor igual
	if(@Celular!='' and @correo!='')--validare datos de firmapor igual
		begin
		set @validacionDatosFirma=1
		set @MensajesValidacionFirma='';

		end
	else
		begin
			set @MensajesValidacionFirma='';
			--if(@telefonofijo='')     -- 05/06/2023 se quita la obligatoriedad por solicitud de comercial/juridico
			--	begin
			--		set @MensajesValidacionFirma = @MensajesValidacionFirma + '{"errormensaje":"Falta Telefono Fijo"},';
			--	end
			if(@Celular='') 
				begin
					set @MensajesValidacionFirma = @MensajesValidacionFirma + '{"errormensaje":"Falta Telefono celular"},';
				end
			if(@correo='') 
				begin
					set @MensajesValidacionFirma = @MensajesValidacionFirma + '{"errormensaje":"Falta correo electronico"},';
				end
		end


	-- Inicia validación de compra de deuda
	Set @importeTotalCompraDeuda=(isnull((select sum(Importe_Deuda) from CR_Compra_Deuda  where id_Credito=@Id_Referencia and Cod_ECV_Compra_Deuda = '01'),0))
	set @countComprasDeuda=(isnull((select count(id_compra_deuda) from CR_Compra_Deuda where  id_Credito=@Id_Referencia and Cod_ECV_Compra_Deuda = '01'),0))
	set @banderaCompraDeuda=(isnull((SELECT COUNT([ID_Credito]) as Credito FROM [CR_Credito]  
		inner join [PR_Producto_Comercial] producto on 
			producto.[Cod_Producto_Comercial]=[CR_Credito].[Cod_Producto] 
			where CR_Credito.Id_Credito=@Id_Referencia 
				and producto.[Cod_Producto_Comercial]=@producto_comercial),0)) -- es un producto de liquez

	--primero se debe preguntar si el credito es liquidez para tomar cuenta la validacion de compras de deuda
	Set @result = 0 
	Set @result2 = 0
	Set @result3 = 0
	set @resultCompraDeuda = 0
	set @Mensaje_Compra_Deuda = ''

	if(@banderaCompraDeuda!=0 and @countComprasDeuda>0)
	begin
		print 'Es compra de deuda' 
		--print @importeCredito
		--print @importeTotalCompraDeuda

		Set @result= (isnull((select count(id_compra_deuda) 
			from CR_Compra_Deuda 
			where Cod_Forma_Dispersion='01'  
			and Importe_Deuda<=0 and Id_Concepto<>-99),0))

		if @result <> 0
		begin
			set @Mensaje_Compra_Deuda = @Mensaje_Compra_Deuda + '{"errormensaje":"Falta importe en ventanilla en '+Convert(varchar,@result)+' registro(s)"},';
		end 

		set @result2= (isnull((select count(id_compra_deuda) 
			from CR_Compra_Deuda 
			where Cod_Forma_Dispersion='03'  
			and id_Credito=@Id_Referencia  
			and ( Importe_Deuda <=0 or (titular_cuenta=null or ltrim(rtrim(titular_cuenta))='') 
				or (id_banco = null or id_banco < 0 ) 
				or (clabe_Acreedor=null or ltrim(clabe_Acreedor)=''))
			and Id_Concepto<>-99),0))

		if @result2 <> 0
		begin
			set @Mensaje_Compra_Deuda = @Mensaje_Compra_Deuda + '{"errormensaje":"Faltan datos en transferencia'+Convert(varchar,@result2)+'registro(s)"},';
		end

		print '@importeCredito'
		print @importeCredito
		print '@importeTotalCompraDeuda'
		print @importeTotalCompraDeuda




		if(@importeCredito<>@Importe_Dispersion + @importeTotalCompraDeuda + @Renovacion_MontoInterno)--se pregunta si los importes son iguales para poder cambiar etapa
		begin
			set @Mensaje_Compra_Deuda = @Mensaje_Compra_Deuda + '{"errormensaje":"Faltan compras de deuda el monto total de compras deuda es menos que el monto del credito"},';
			set @resultCompraDeuda = 1 
		end

		Set @result3= (isnull((select count(id_compra_deuda) 
			from CR_Compra_Deuda 
			where Cod_Forma_Dispersion='06' 
				and id_Credito=@Id_Referencia 
				and ( Importe_Deuda<=0 
					or (Referencia_Deuda=null 
					or ltrim(rtrim(Referencia_Deuda)) = '') 
					or (fecha_Vigencia_Saldo ='1990-01-01' 
					or fecha_Vigencia_Saldo=null))),0));

		if @result3 <> 0
		begin
			set @Mensaje_Compra_Deuda = @Mensaje_Compra_Deuda + '{"errormensaje":"Faltan datos para realizar pago Interno '+Convert(varchar,@result3)+'registro(s)"},';
		end

		set @resultCompraDeuda = @resultCompraDeuda + @result + @result2 + @result3
		
		print '@resultCompraDeuda'
		print @resultCompraDeuda
	end

	declare @infoContrato int = 0
	Select @infoContrato = COUNT(id) from Usr_Usuario_Convenio where ID_Convenio = @Id_convenio and ID_Usuario = @Id_Usuario

	if @infoContrato = 0 or @infoContrato > 1
	begin
		set @validacionDatosFirma = 0
		set @MensajesValidacionFirma = @MensajesValidacionFirma + '{"errormensaje":"Problema con la información de representante legal y lugar de firma, favor de enviar ticket a TI para su atención"},';
	end

	if(@validacionDatosFirma!=0 and @datosDispersion!=0 and @banderaPLD=2 and @Mensaje_ErrorDatosPersonales='' and @Mensaje_Domicilio='' and @mensaje_Documentos='' and @resultCompraDeuda = 0)
	begin
		print 'No hay errores'

		--set @Mensaje_Error='Exito los datos de las compras de deuda estan completas '+ 
		--select @importeTotalCompraDeuda
		select @Estatus_Validacion = '01'
		,@Mensaje_Error = ''
		,@Etapa = '10'
		,@Estatus = '30'
	end
	else
	begin
		set @Mensaje_Errortotal = '['
		set @Mensaje_Errortotal = @Mensaje_Errortotal + @Mensaje_Compra_Deuda;
		set @Mensaje_Errortotal = @Mensaje_Errortotal + @MensajesValidacionFirma;
		set @Mensaje_Errortotal = @Mensaje_Errortotal + @Mensaje_ErrorDispersion;
		set @Mensaje_Errortotal = @Mensaje_Errortotal + @Mensaje_ErrorPLD;
		set @Mensaje_Errortotal = @Mensaje_Errortotal + @Mensaje_Domicilio;
		set @Mensaje_Errortotal = @Mensaje_Errortotal + @Mensaje_ErrorDatosPersonales;
		set @Mensaje_Errortotal = @Mensaje_Errortotal + @mensaje_Documentos;
		--set @Mensaje_Error = @Mensaje_Error + convert(varchar,@MensajesValidacionFirma);
		--select @MensajesValidacionFirma,@validacionDatosFirma
		--select @Mensaje_ErrorDatosPersonales
		if RIGHT(@Mensaje_Errortotal,1) = ','
			set @Mensaje_Errortotal = substring(@Mensaje_Errortotal, 1, len(@Mensaje_Errortotal) - 1)

		set @Mensaje_Errortotal = @Mensaje_Errortotal + ']';
		print 'Probando mensajes'
		print @Mensaje_Errortotal
		--select @Mensaje_Error
		select @Estatus_Validacion = '00'
		,@Mensaje_Error=  @Mensaje_Errortotal
		,@Etapa = '0'
		,@Estatus = '0'		
	end
End

