USE [Originacion]
GO
/****** Object:  StoredProcedure [dbo].[proc_Orgn_Cotizacion_Add_Upate]    Script DATE: 30/03/2026 11:27:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[proc_Orgn_Cotizacion_Add_Upate](
	 @Id_Persona INT
	, @Id_Credito_Ant INT
	, @Id_Convenio INT
	, @Cod_Producto_Comercial CHAR(4)
	, @Cod_Forma_Pago CHAR(2)
	, @Cod_Frecuencia_Pago CHAR(1)
	, @Plazo INT
	, @Cod_UDM_Plazo CHAR(2)
	, @Cod_Tarifa CHAR(3)
	, @Dias_Gracia INT
	, @Ind_Amorz_Prim_Liq CHAR(1)
	, @Cod_Tipo_Cuota CHAR(2)
	, @Cod_Base_Calculo CHAR(2)
	, @Cod_Comp_Dias CHAR(2)
	, @Cod_Forma_Liquidacion CHAR(2)
	, @Cod_Frec_Liquidacion CHAR(2)
	, @Cod_Mod_Liquidacion CHAR(2)
	, @Tasa_Int_Ord DECIMAL(6,2)
	, @Cod_Base_Int_Ord CHAR(2)
	, @Tasa_Int_Mora DECIMAL(6,2)
	, @Porc_Iva DECIMAL(6,2)
	, @Cod_ECV_Cotizacion CHAR(2)
	, @Importe DECIMAL(10,2)
	, @Primer_Nombre VARCHAR(30)
	, @Segundo_Nombre VARCHAR(30)
	, @Primer_APellido VARCHAR(30)
	, @Segundo_Apellido VARCHAR(30)
	, @Correo NVARCHAR(255)
	, @Telefono NVARCHAR(20)
	, @RFC NVARCHAR(20)
	, @Cat DECIMAL(10,2)
	, @Fecha_Operacion DATE
	, @Fecha_Registro DATETIME
	, @ID_Usuario INT
	, @Cod_Tipo_Empleado CHAR(2)
	, @Fecha_Nacimiento DATE
	, @Cod_Finalidad_Credito CHAR(2)
	, @Ingresos DECIMAL(10,2)
	, @Egresos DECIMAL(10,2)
	, @ID_Cotizacion INT output 
	 ,@Porc_Max_Endeudamiento DECIMAL(5, 2) 
	 ,@Porc_Max_Descuento DECIMAL(5, 2) 
	 ,@Nomi_Neto DECIMAL(18, 2) 
     ,@Nomi_Total_Ingresos DECIMAL(18, 2) 
     ,@Nomi_Total_Egresos DECIMAL(18, 2) 
     ,@Nomi_Monto_Disponible DECIMAL(18, 2) 
     ,@Nomi_Porc_Descuento DECIMAL(5, 2) 
	 ,@Total_Neto DECIMAL(18, 2) 
	 ,@Total_Ingresos DECIMAL(18, 2) 
	 ,@Total_Egresos DECIMAL(18, 2) 
	 ,@Total_Monto_Disponible DECIMAL(18, 2) 
	 ,@Total_Porc_Descuento DECIMAL(5, 2) 	
	 ,@Fecha_Inicio DATE 
	 ,@Fecha_Prim_Liq DATE 
	 ,@Fecha_Ingreso DATE = NULL
	 ,@Cod_Etapa CHAR(2)
	 ,@Buro_Credito_Total_Cuentas DECIMAL(18, 2) 
	 ,@Buro_Credito_Control_Consulta VARCHAR(20) = ''
	 ,@ID_Tarifa_Convenio INT
     ,@Enganche DECIMAL(18,2) = NULL
     ,@Aportacion_Adicional DECIMAL(18,2) = NULL
     ,@Importe_Inmueble_Hipotecario DECIMAL(18,2) = NULL
     ,@Porcentaje_Enganche_Hipotecario DECIMAL(5,2) = NULL
     ,@Descripcion_Lote_Hipotecario VARCHAR(1000) = NULL
	 ,@Ingresos_Nomina DECIMAL(18,2)
	 ,@Egresos_Nomina DECIMAL(18,2)
	 ,@Otros_Ingresos DECIMAL(18,2)
	 ,@Otros_Egresos  DECIMAL(18,2)
	 ,@ID_Ejecutivo_Ventas  INT = 0
	 ,@Regresa_Select BIT = 1
	 ,@Id_Campana SMALLINT = 0
	 ,@Cod_Calc_Cap_Pago CHAR(2) = ''
	 ,@Id_Registro_Peticion_OCR INT = 0
	 ,@Id_Prospecto_OCR INT = 0
	 ,@OCR_Ok CHAR(1) = ''
	 ,@Codigo_Origen_Cotizacion CHAR(2) = '01'
	 ,@Id_Promocion INT = 0
	 ,@RequiereConsultaBuro BIT
	 ,@RequiereAutorizacionCB BIT
	 --,@Cuota_Mensual_Amort_Aprecia DECIMAL(18,2) = 0
)
AS
BEGIN
	DECLARE @ID_Secuencia INT = 1  --Secuencia
	
	IF @ID_Cotizacion = 0
	BEGIN
		SELECT @Fecha_Operacion = GetDate()	    
		SELECT @Fecha_Registro = @Fecha_Operacion

	  EXEC proc_Orgn_Numero_Secuencia_Extrae @ID_Secuencia,'S',1,@Num_Secuencia = @ID_Cotizacion OUTPUT
	  INSERT INTO Ctz_Cotizacion
           (ID_Cotizacion
           ,Id_Persona
           ,Id_Credito_Ant
           ,Id_Convenio
           ,Cod_Producto_Comercial
           ,Cod_Forma_Pago
           ,Cod_Frecuencia_Pago
           ,Plazo
           ,Cod_UDM_Plazo
           ,Cod_Tarifa
           ,Dias_Gracia
           ,Ind_Amorz_Prim_Liq
           ,Cod_Tipo_Cuota
           ,Cod_Base_Calculo
           ,Cod_Comp_Dias
           ,Cod_Forma_Liquidacion
           ,Cod_Frec_Liquidacion
           ,Cod_Mod_Liquidacion
           ,Tasa_Int_Ord
           ,Cod_Base_Int_Ord
           ,Tasa_Int_Mora
           ,Porc_Iva
           ,Cod_ECV_Cotizacion
           ,Importe
           ,Primer_Nombre
           ,Segundo_Nombre
           ,Primer_Apellido
           ,Segundo_Apellido
           ,Correo
           ,Telefono
           ,RFC
           ,Cat
           ,Fecha_Operacion
           ,Fecha_Registro
           ,ID_Usuario
		   , Cod_Tipo_Empleado 
			,Fecha_Nacimiento
			,Cod_Finalidad_Credito 
			,Ingresos 
			,Egresos 
			,Porc_Max_Endeudamiento 
			,Porc_Max_Descuento 
			,Nomi_Neto 
			,Nomi_Total_Ingresos
			,Nomi_Total_Egresos 
			,Nomi_Monto_Disponible 
			,Nomi_Porc_Descuento 
			,Total_Neto 
			,Total_Ingresos 
			,Total_Egresos 
			,Total_Monto_Disponible 
			,Total_Porc_Descuento 	
			,Fecha_Inicio 
			,Fecha_Prim_Liq 
			,Fecha_Ingreso
			,Cod_Etapa
			,Buro_Credito_Total_Cuentas
			,Buro_Credito_Control_Consulta
			,ID_Tarifa_Convenio
			,Enganche
			,Aportacion_Adicional
			,Importe_Inmueble_Hipotecario
			,Porcentaje_Enganche_Hipotecario
			,Descripcion_Lote_Hipotecario
			,Ingresos_Nomina
			,Egresos_Nomina 
			,Otros_Ingresos 
			,Otros_Egresos  
			,ID_Ejecutivo_Ventas
			,Id_Campana
			,Cod_Calc_Cap_Pago
			,Codigo_Origen_Cotizacion
			,Id_Registro_Peticion_OCR 
			,Id_Prospecto_OCR 
			,OCR_Ok 
			,Id_Promocion
			,RequiereConsultaBuro
			,RequiereAutorizacionCB
			)
     VALUES
           (@ID_Cotizacion
           ,@Id_Persona
           ,@Id_Credito_Ant
           ,@Id_Convenio
           ,@Cod_Producto_Comercial
           ,@Cod_Forma_Pago
           ,@Cod_Frecuencia_Pago
           ,@Plazo
           ,@Cod_UDM_Plazo -- falta
           ,@Cod_Tarifa
           ,@Dias_Gracia -- Falta
           ,@Ind_Amorz_Prim_Liq
           ,@Cod_Tipo_Cuota
           ,@Cod_Base_Calculo
           ,@Cod_Comp_Dias
           ,@Cod_Forma_Liquidacion
           ,@Cod_Frec_Liquidacion
           ,@Cod_Mod_Liquidacion
           ,@Tasa_Int_Ord
           ,@Cod_Base_Int_Ord
           ,@Tasa_Int_Mora
           ,@Porc_Iva
           ,@Cod_ECV_Cotizacion
           ,@Importe
           ,@Primer_Nombre
           ,@Segundo_Nombre
           ,@Primer_Apellido
           ,@Segundo_Apellido
           ,@Correo
           ,@Telefono
           ,@RFC
           ,@Cat
           ,@Fecha_Operacion
           ,@Fecha_Registro
           ,@ID_Usuario
		   ,@Cod_Tipo_Empleado 
		   ,@Fecha_Nacimiento
		   ,@Cod_Finalidad_Credito 
		   	,@Ingresos 
			,@Egresos 
			,@Porc_Max_Endeudamiento 
			,@Porc_Max_Descuento 
			,@Nomi_Neto 
			,@Nomi_Total_Ingresos
			,@Nomi_Total_Egresos 
			,@Nomi_Monto_Disponible 
			,@Nomi_Porc_Descuento 
			,@Total_Neto 
			,@Total_Ingresos 
			,@Total_Egresos 
			,@Total_Monto_Disponible 
			,@Total_Porc_Descuento 	
			,@Fecha_Inicio 
			,@Fecha_Prim_Liq 
			,@Fecha_Ingreso
			,@Cod_Etapa
			,@Buro_Credito_Total_Cuentas 
			,@Buro_Credito_Control_Consulta 
			,@ID_Tarifa_Convenio
		    ,@Enganche 
		    ,@Aportacion_Adicional 
		    ,@Importe_Inmueble_Hipotecario 
		    ,@Porcentaje_Enganche_Hipotecario 
		    ,@Descripcion_Lote_Hipotecario 
			,@Ingresos_Nomina
			,@Egresos_Nomina 
			,@Otros_Ingresos 
			,@Otros_Egresos  
			,@ID_Ejecutivo_Ventas
			,@Id_Campana
			,@Cod_Calc_Cap_Pago
			,@Codigo_Origen_Cotizacion
			,@Id_Registro_Peticion_OCR 
			,@Id_Prospecto_OCR 
			,@OCR_Ok 
			,@Id_Promocion
			,@RequiereConsultaBuro
			,@RequiereAutorizacionCB
		   )

	END
	ELSE  -- Update
	BEGIN
		UPDATE Ctz_Cotizacion
			SET Id_Persona		= @Id_Persona
			   , Id_Credito_Ant = @Id_Credito_Ant
			   , Id_Convenio	= @Id_Convenio
			   , Cod_Producto_Comercial = @Cod_Producto_Comercial
			   , Cod_Forma_Pago	= @Cod_Forma_Pago
			   , Cod_Frecuencia_Pago = @Cod_Frecuencia_Pago
			   , Plazo = @Plazo
			   , Cod_UDM_Plazo = @Cod_UDM_Plazo
			   , Cod_Tarifa = @Cod_Tarifa
			   , Dias_Gracia = @Dias_Gracia
			   , Ind_Amorz_Prim_Liq = @Ind_Amorz_Prim_Liq
			   , Cod_Tipo_Cuota = @Cod_Tipo_Cuota
			   , Cod_Base_Calculo = @Cod_Base_Calculo
			   , Cod_Comp_Dias = @Cod_Comp_Dias
			   , Cod_Forma_Liquidacion = @Cod_Forma_Liquidacion
			   , Cod_Frec_Liquidacion = @Cod_Frec_Liquidacion
			   , Cod_Mod_Liquidacion = @Cod_Mod_Liquidacion
			   , Tasa_Int_Ord = @Tasa_Int_Ord
			   , Cod_Base_Int_Ord = @Cod_Base_Int_Ord
			   , Tasa_Int_Mora = @Tasa_Int_Mora
			   , Porc_Iva = @Porc_Iva
			   , Cod_ECV_Cotizacion = @Cod_ECV_Cotizacion
			   , Importe = @Importe
			   , Primer_Nombre = @Primer_Nombre
			   , Segundo_Nombre = @Segundo_Nombre
			   , Primer_Apellido = @Primer_APellido
			   , Segundo_Apellido = @Segundo_Apellido
			   , Correo = @Correo
			   , Telefono = @Telefono
			   , RFC = @RFC
			   , Cat = @Cat
				, Cod_Tipo_Empleado  = @Cod_Tipo_Empleado 
			, Fecha_Nacimiento  = @Fecha_Nacimiento 
			,Cod_Finalidad_Credito = @Cod_Finalidad_Credito 
			, Ingresos = @Ingresos 
			, Egresos = @Egresos 
			,Porc_Max_Endeudamiento = @Porc_Max_Endeudamiento 
			,Porc_Max_Descuento     = @Porc_Max_Descuento 
			,Nomi_Neto              = @Nomi_Neto 
			,Nomi_Total_Ingresos    = @Nomi_Total_Ingresos
			,Nomi_Total_Egresos     = @Nomi_Total_Egresos 
			,Nomi_Monto_Disponible  = @Nomi_Monto_Disponible 
			,Nomi_Porc_Descuento    = @Nomi_Porc_Descuento 
			,Total_Neto             = @Total_Neto 
			,Total_Ingresos         = @Total_Ingresos 
			,Total_Egresos          = @Total_Egresos 
			,Total_Monto_Disponible = @Total_Monto_Disponible
			,Total_Porc_Descuento 	 = @Total_Porc_Descuento 
			,Fecha_Inicio   = @Fecha_Inicio 
			,Fecha_Prim_Liq = @Fecha_Prim_Liq 
			,Fecha_Ingreso = @Fecha_Ingreso
			,Cod_Etapa = @Cod_Etapa
			,Buro_Credito_Total_Cuentas = @Buro_Credito_Total_Cuentas 
			,Buro_Credito_Control_Consulta = @Buro_Credito_Control_Consulta 
			,ID_Tarifa_Convenio = @ID_Tarifa_Convenio
		    ,Enganche = @Enganche 
		    ,Aportacion_Adicional = @Aportacion_Adicional 
		    ,Importe_Inmueble_Hipotecario = @Importe_Inmueble_Hipotecario 
		    ,Porcentaje_Enganche_Hipotecario = @Porcentaje_Enganche_Hipotecario 
		    ,Descripcion_Lote_Hipotecario = @Descripcion_Lote_Hipotecario 
			,Ingresos_Nomina = @Ingresos_Nomina
			,Egresos_Nomina  = @Egresos_Nomina 
			,Otros_Ingresos  = @Otros_Ingresos 
			,Otros_Egresos   = @Otros_Egresos  
			,ID_Ejecutivo_Ventas = @ID_Ejecutivo_Ventas
			,Id_Campana = @Id_Campana
			,Cod_Calc_Cap_Pago = @Cod_Calc_Cap_Pago
			,Id_Registro_Peticion_OCR = @Id_Registro_Peticion_OCR 
			,Id_Prospecto_OCR 		  = @Id_Prospecto_OCR 
			,OCR_Ok = @OCR_Ok 
			,Id_Promocion = @Id_Promocion
			,RequiereConsultaBuro = @RequiereConsultaBuro
			,RequiereAutorizacionCB = @RequiereAutorizacionCB
		WHERE ID_Cotizacion = @ID_Cotizacion
 	END  
  
 	IF @Regresa_Select = 1  
 	BEGIN  
		SELECT @ID_Cotizacion AS ID_Cotizacion,
		         ISNULL(cnv.Creditos_Fecha_Limite, '2030-12-31') AS Fecha_Limite_CuentaCorriente
		FROM Cnv_Convenio cnv 
		WHERE Id_Convenio = @ID_Convenio
 	END  
  
END

