USE [Cobranza]
GO
/****** Object:  StoredProcedure [dbo].[ReporteGestPromesas]    Script Date: 02/09/2025 13:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROC [dbo].[Proc_EndososConsulta]
--DECLARE
		 @idU INT --= 86
		,@Cod_Estatus CHAR(2) --= ''

AS

	SELECT 
		   gest.[Ges_Prestamo] AS Pagare
		  ,RC.[Nombre] AS  Nombre
		  ,endoso.Tipo_Endoso AS TipoEndoso
		  ,CONVERT(VARCHAR,endoso.Fecha_Registro,103) AS FechaRegistro
		  ,CONVERT(VARCHAR,endoso.Fecha_Aceptacion,103) AS FechaAceptacion
		  ,CONVERT(VARCHAR,endoso.Fecha_Termino,103) AS FechaTermino
		  ,CASE WHEN endoso.Fecha_Aceptacion IS NULL THEN NULL 
			ELSE
				CONCAT(CONVERT(VARCHAR,endoso.Fecha_Aceptacion,103),' a ',ISNULL(CONVERT(VARCHAR,endoso.Fecha_Termino,103),'indefinido'))
			END AS Periodo
		  ,coordinador.Coordinador AS NombreCoordinador
		  ,gestor.Nombre_Gestor AS NombreEjecutivo
		  ,autoriza.Gestor_Autoriza AS GestorAutoriza
		  ,endoso.Estatus_Autorizacion AS EstatusAutorizacion
		  ,endoso.Nombre_Abogado AS NombreAbogado
		  ,endoso.Id_Endoso AS IdEndoso
		  ,endoso.Id_Lote_Endoso AS IdLoteEndoso
		  ,gest.pk_Cob_Gestiones AS IdGestion
		  ,catg.pk_idcoordinador AS IdCoordinador
		  ,endoso.Cod_ECV_Endoso AS EstatusEndoso
	FROM [CatGestorCoordinador] AS catg

	INNER JOIN (
			SELECT
				[id_usuario]
				,[Tip_user]
				,user_name AS Coordinador
			FROM [usr_usuarios] 
		) AS coordinador ON coordinador.id_usuario = catg.pk_idCoordinador

	INNER JOIN (
		SELECT gst.* 
		FROM Gestiones AS gst
	    INNER JOIN (
			SELECT Ges_Prestamo,MAX(pk_Cob_Gestiones) AS pk_Cob_Gestiones
			FROM [dbo].[Gestiones] gest
			GROUP BY Ges_Prestamo
			) AS ultGest ON gst.pk_Cob_Gestiones=ultGest.pk_Cob_Gestiones
		) AS gest ON gest.ges_usuarioagencia=catg.[pk_idGestor]

	INNER JOIN
		(SELECT
				[Prestamo]
				,[Nombre]
			FROM [Reporte_cartera] 
			GROUP BY prestamo,nombre
		)RC ON RC.Prestamo = gest.[Ges_Prestamo] 

	INNER JOIN dbo.RptActSdosDiaria AS sldo ON gest.[Ges_Prestamo]=sldo.Prestamo AND sldo.Clasificacion NOT IN ('ORDINARIA')

	LEFT JOIN (
		SELECT
			[id_usuario]
			,[Tip_user]
			,user_name AS Nombre_Gestor
		FROM [usr_usuarios] 
	) AS gestor ON Gestor.id_usuario=catg.[pk_idGestor]

	LEFT JOIN dbo.Cob_Prestamos_Proceso_Judicial AS proj ON gest.[Ges_Prestamo]=proj.Prestamo 

	LEFT JOIN (
			SELECT 
				 endo.Id_Endoso,endo.Credito,endo.Pagare,tpEn.Nombre AS Tipo_Endoso,endo.Fecha_Registro,endo.Fecha_Aceptacion,endo.Fecha_Termino
				,endo.Id_Lote_Endoso,ecvEn.Descripcion AS Estatus_Autorizacion
				,CASE WHEN despacho.Nombre=abogado.Nombre THEN abogado.Nombre ELSE CONCAT(despacho.Nombre,'|',abogado.Nombre) END AS Nombre_Abogado
				,endo.Id_Abogado,endo.Id_Gestor_Autoriza,endo.Cod_ECV_Endoso
				,NULL AS Id_Gestor
			FROM dbo.Endoso AS endo
			INNER JOIN dbo.Cat_Abogado AS abogado ON endo.Id_Abogado=abogado.Id_Abogado
			INNER JOIN dbo.Cat_Despacho AS despacho ON abogado.Id_Despacho=despacho.Id_Despacho
			INNER JOIN dbo.TR_Tipo_Endoso AS tpEn ON endo.Cod_Tipo_Endoso=tpEn.Cod_Tipo_Endoso
			INNER JOIN dbo.TR_ECV_Endoso AS ecvEn ON endo.Cod_ECV_Endoso=ecvEn.Cod_ECV_Endoso 
			UNION ALL
			SELECT 
				 0 AS Id_Endoso,endo.Credito,endo.Pagare,tpEn.Nombre AS Tipo_Endoso,endo.Fecha_Registro,endo.Fecha_Aceptacion,endo.Fecha_Termino
				,NULL AS Id_Lote_Endoso,ecvEn.Descripcion AS Estatus_Autorizacion
				,abogado.Nombre AS Nombre_Abogado,endo.Id_Abogado,endo.Id_Gestor_Autoriza,endo.Cod_ECV_Endoso
				,endo.Id_Gestor
			FROM dbo.Temp_Endoso AS endo
			INNER JOIN dbo.Cat_Abogado AS abogado ON endo.Id_Abogado=abogado.Id_Abogado
			INNER JOIN dbo.TR_Tipo_Endoso AS tpEn ON endo.Cod_Tipo_Endoso=tpEn.Cod_Tipo_Endoso
			INNER JOIN dbo.TR_ECV_Endoso AS ecvEn ON endo.Cod_ECV_Endoso=ecvEn.Cod_ECV_Endoso 
		) AS endoso ON gest.[Ges_Prestamo]=endoso.Credito

	LEFT JOIN (
			SELECT
				[id_usuario]
				,[Tip_user]
				,user_name AS Gestor_Autoriza
			FROM [usr_usuarios] 
		) AS autoriza ON Autoriza.id_usuario = endoso.Id_Gestor_Autoriza

	WHERE 
		catg.pk_idcoordinador=@idU
		AND (ISNULL(@Cod_Estatus,'')='' OR endoso.Cod_ECV_Endoso=@Cod_Estatus)
		AND proj.Prestamo IS NULL
		AND endoso.Credito IS NOT NULL
	ORDER BY gest.[Ges_Prestamo]


