USE [Cobranza]
GO
/****** Object:  StoredProcedure [dbo].[Proc_DespachosConsulta_All]    Script Date: 27/05/2026 10:47:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROC [dbo].[Proc_DespachosConsulta_All]    
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
          Id_Despacho
        , Id_Zona      AS IdZona
        , Nombre
        , Tipo_Persona AS TipoPersona
        , Fecha_Registro
        , Id_Usuario_Registra
        , Cod_ECV_Despacho
        , Fecha_Modificacion
        , Id_Usuario_Modificacion
    FROM [dbo].[Cat_Despacho]
    WHERE Cod_ECV_Despacho = '01';
END;
