USE [PortalCliente]
GO
/****** Object:  StoredProcedure [dbo].[sp_api_key_add]    Script Date: 02/04/2026 10:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
 Author:	Guerrero Gomez, Hernando Irving
 Create date:   02/04/2026
 Description:	Se guarda el registro del intento de envio de SMS.
*****************************************************************************************************/
CREATE PROCEDURE [dbo].[sp_MedioSMS_Add]
	@id_Solicitud_Autorizacion_BC BIGINT,
	@id_MedioSMS INT,
	@estatus_Envio VARCHAR(50)
AS
DECLARE
	@p_id SMALLINT = 0,
	@p_msg VARCHAR(50) = '',
	@id_Solicitud_Autorizacion_BC_Intentos BIGINT,
	@fechaActual DATETIME = GETDATE()
BEGIN
BEGIN TRANSACTION
BEGIN TRY
	SET @p_id = 1;
	SET @p_msg = 'OK';

	INSERT INTO dbo.Solicitud_Autorizacion_BC_Intentos (Id_Solicitud_Autorizacion_BC,ID_MedioSMS,Estatus_Envio)
	VALUES(@id_Solicitud_Autorizacion_BC,@id_MedioSMS,@estatus_Envio)

	SET @id_Solicitud_Autorizacion_BC_Intentos = SCOPE_IDENTITY()

	SELECT 
		  @p_id AS p_id
		  ,@p_msg AS p_msg
		  ,Id_Solicitud_Autorizacion_BC_Intentos
		  ,Estatus_Envio
	FROM dbo.Solicitud_Autorizacion_BC_Intentos
	WHERE Id_Solicitud_Autorizacion_BC_Intentos = @id_Solicitud_Autorizacion_BC_Intentos;

	COMMIT TRANSACTION

 END TRY
  BEGIN CATCH
		ROLLBACK TRANSACTION

        INSERT INTO ErrorLog (
            suser_sname, error_number, error_state, error_severity,
            error_line, error_procedure, error_message, usuario_id
        )
        VALUES (
            current_user, ERROR_NUMBER(), ERROR_STATE(), ERROR_SEVERITY(), ERROR_LINE(), 'sp_MedioSMS_Add', ERROR_MESSAGE(), @p_id -- Suponiendo que p_id se utiliza como usuario_id
        );

     -- Establecer salidas de error
        SET @p_id = 0
        SET @p_msg = 'Se ha presentado un error: ' + ERROR_STATE() + ' - ' + ERROR_MESSAGE()

		SELECT 
            @p_id AS p_id
			,@p_msg AS p_msg

        -- Levantar la excepción nuevamente
        RAISERROR (@p_msg, -1, -1, 'sp_MedioSMS_Add')
  END CATCH

END  
