USE [PortalCliente]
GO
/****** Object:  StoredProcedure [dbo].[sp_consulta_api_key]    Script Date: 02/04/2026 10:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
 Author:	Guerrero Gomez, Hernando Irving
 Create date:   02/04/2026
 Description:	Consulta el listado de servicios que se utilizan para enviar SMS
*****************************************************************************************************/
CREATE PROCEDURE [dbo].[sp_MedioSMS_Consulta]
AS
BEGIN
DECLARE

	@p_id SMALLINT = 0,
	@p_msg VARCHAR(100) = '',
	@p_vigente INT

BEGIN TRY

	SET @p_id = 1;
	SET @p_msg = 'OK';

	SELECT 
		 @p_id AS p_id
		,@p_msg AS p_msg
		,medio.Id_MedioSMS
		,medio.Servicio_SMS
		,medio.URL_Endpoint
		,medio.Usuario
		,medio.Contrasena
		,medio.Servicio
		,medio.Orden_Preferencia
	FROM TR_MedioSMS AS medio
	ORDER BY medio.Orden_Preferencia

	PRINT 'Termina consulta';

 END TRY
  BEGIN CATCH
        INSERT INTO ErrorLog (
            suser_sname, error_number, error_state, error_severity,
            error_line, error_procedure, error_message, usuario_id
        )
        VALUES (
            current_user, ERROR_NUMBER(), ERROR_STATE(), ERROR_SEVERITY(), ERROR_LINE(), 'sp_MedioSMS_Consulta', ERROR_MESSAGE(), @p_id -- Suponiendo que p_id se utiliza como usuario_id
        );

     -- Establecer salidas de error
        SET @p_id = 0
        SET @p_msg = 'Se ha presentado un error: ' + ERROR_STATE() + ' - ' + ERROR_MESSAGE()

		SELECT 
            @p_id AS p_id
			,@p_msg AS p_msg

        -- Levantar la excepción nuevamente
        RAISERROR (@p_msg, -1, -1, 'sp_MedioSMS_Consulta')
  END CATCH

END       