USE [Cobranza]
GO
/****** Object:  UserDefinedFunction [dbo].[STRING_SPLIT]    Script Date: 10/12/2025 10:23:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[STRING_SPLIT](
    @string nvarchar(max), 
    @separator varchar(10))
RETURNS @returnList TABLE
(
	[value] [nvarchar](500)
)
AS
BEGIN
    DECLARE @name nvarchar(max);
    DECLARE @pos int;

    WHILE CHARINDEX(@separator, @string) > 0
    BEGIN
        SELECT @pos = CHARINDEX(@separator, @string);
        SELECT @name = SUBSTRING(@string, 1, @pos - 1);
        INSERT INTO @returnList
            SELECT @name;
        SELECT @string = SUBSTRING(@string, @pos + 1, LEN(@string) - @pos);
    END;

    INSERT INTO @returnList
        SELECT @string;

    RETURN;
END;