USE [LogaltyFirmaDigital_Copia]
GO
/****** Object:  StoredProcedure [dbo].[firma_Documento_Descarga]    Script Date: 02/12/2025 16:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		HIGG
-- Create date: 2025-12-02
-- Description:	Recupera los datos del archivo del certificado y documentos firmados mediante el número de págare 
-- =============================================
CREATE PROCEDURE [dbo].[firma_Documento_Descarga_x_Pagare]
	-- Add the parameters for the stored procedure here
	@pagare varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	WITH ConvertBase64 AS (
	SELECT 
	   Documento
	   , Pagare + '.pdf' AS NombreArchivo
	   , guid
	FROM dbo.DocumentosDescargaLogalty
	WHERE Pagare = @pagare
	)

	SELECT
	guid
	, NombreArchivo AS Nombre_Archivo
	, Documento AS Contenido_Base64
	, CAST('' AS XML).value('xs:base64Binary(sql:column("Documento"))', 'VARBINARY(MAX)') AS Contenido_Binario
	FROM ConvertBase64;

END
