USE [LogaltyFirmaDigital_Copia]
GO
/****** Object:  StoredProcedure [dbo].[GuardarEnvioFirma]    Script Date: 20/01/2026 11:28:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GuardarEnvioFirma] 
	-- Add the parameters for the stored procedure here
	
			@PrimerNombre VARCHAR(100)
           ,@SegundoNombre VARCHAR(100)
           ,@ApellidoPaterno VARCHAR(100)
           ,@ApellidoMaterno VARCHAR(100)
           ,@CURP NVARCHAR(18)
           ,@NumControl VARCHAR(100)
           ,@TelefonoCasa VARCHAR(100)
           ,@TelefonoCelular VARCHAR(100)
           ,@FechaEnvio DATE
           ,@EstatusProceso INT
           ,@Email VARCHAR(100)
		   ,@State VARCHAR(50)
           ,@GUID VARCHAR(50)
		   ,@monto VARCHAR(50)
		   ,@tipo VARCHAR(100)
		   ,@metodoenvio VARCHAR(50)
		   ,@guidTransaccion VARCHAR(50) = ''
AS
BEGIN
	SET @PrimerNombre = LTRIM(RTRIM(@PrimerNombre))
	SET @SegundoNombre = LTRIM(RTRIM(@SegundoNombre))
	SET @ApellidoPaterno = LTRIM(RTRIM(@ApellidoPaterno))
	SET @ApellidoMaterno = LTRIM(RTRIM(@ApellidoMaterno))
	SET @CURP = LTRIM(RTRIM(@CURP))
	SET @NumControl = LTRIM(RTRIM(@NumControl))
	SET @TelefonoCasa = LTRIM(RTRIM(@TelefonoCasa))
	SET @TelefonoCelular = LTRIM(RTRIM(@TelefonoCelular))
	SET @FechaEnvio = LTRIM(RTRIM(@FechaEnvio))
	SET @Email = LTRIM(RTRIM(@Email))
	SET @State = LTRIM(RTRIM(@State))
	SET @GUID = LTRIM(RTRIM(@GUID))
	SET @monto = LTRIM(RTRIM(@monto))
	SET @tipo = LTRIM(RTRIM(@tipo))
	SET @metodoenvio = LTRIM(RTRIM(@metodoenvio))
	SET @guidTransaccion = LTRIM(RTRIM(@guidTransaccion))

	BEGIN		
		INSERT INTO [dbo].[ProcesoEnvioFirma]
				(
				[PrimerNombre]
				,[SegundoNombre]
				,[ApellidoPaterno]
				,[ApellidoMaterno]
				,[CURP]
				,[NumControl]
				,[TelefonoCasa]
				,[TelefonoCelular]
				,[FechaEnvio]
				,[HoraEnvio]
				,[EstatusFirma]
				,[Email]
				,[guid]
				,[monto]
				,[tipoc]
				,[MetodoEnvio]
				,[Tipo_Transaccion])
			VALUES
				(
				@PrimerNombre
				,@SegundoNombre
				,@ApellidoPaterno
				,@ApellidoMaterno
				,@CURP 
				,@NumControl 
				,@TelefonoCasa
				,@TelefonoCelular
				,@FechaEnvio
				,CONVERT(TIME, SYSDATETIME()) 
				,0
				,@Email
				,@GUID
				,@monto
				,@tipo
				,@metodoenvio
				,@guidTransaccion);
		INSERT INTO [dbo].[dataResponse]
				([State]
				,[GUID])
			VALUES
				(@State
				,@GUID)


	END
	
	SELECT @State AS STATE, @GUID AS GUID 
	
END