USE [LogaltyFirmaDigital_Copia]
GO
/****** Object:  StoredProcedure [dbo].[GuardarDocumentoFirmado]    Script Date: 18/02/2026 17:04:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Proc_GuardarAutorizarFirma]
	@Guid VARCHAR(50),
	@ExternalId VARCHAR(20),
	@LegalId VARCHAR(100),
	@RuleId INT,
	@Operacion VARCHAR(50),
	@XmlRequest VARCHAR(MAX)

AS
BEGIN
	SET NOCOUNT ON;

	DECLARE
		@Id_Proceso_Autorizacion_Firma INT
		,@CodigoRespuesta INT
		,@DescRespuesta VARCHAR(50)

	SET @CodigoRespuesta = 0;
	SET @DescRespuesta = 'Sin error';

	BEGIN TRY
		INSERT INTO dbo.Proceso_Autorizacion_Firma
			(Guid,ExternalId,LegalId,RuleId,Operacion,Xml_Request)
			VALUES(@Guid,@ExternalId,@LegalId,@RuleId,@Operacion,@XmlRequest)
		SET @Id_Proceso_Autorizacion_Firma = SCOPE_IDENTITY()
	END TRY

	BEGIN CATCH
		SET @CodigoRespuesta = 1;
		SET @DescRespuesta = 'Error al guardar. No registrado'
	END CATCH

	SELECT @CodigoRespuesta AS Codigo, @DescRespuesta AS Descripcion, @Id_Proceso_Autorizacion_Firma AS IdProceso
END
