USE [LogaltyFirmaDigital_Copia]
GO
/****** Object:  StoredProcedure [dbo].[GuardarDocumentoFirmado]    Script Date: 18/02/2026 17:04:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Proc_ActualizarAutorizarFirma]
	@Id_Proceso_Autorizacion_Firma INT,
	@SignResult VARCHAR(20),
	@DateSigned VARCHAR(50),
	@ResultCode INT,
	@XmlResponse VARCHAR(MAX)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE
		@CodigoRespuesta INT
		,@DescRespuesta VARCHAR(50)

	SET @CodigoRespuesta = 0;
	SET @DescRespuesta = 'Sin error';

	BEGIN TRY
		UPDATE dbo.Proceso_Autorizacion_Firma
			SET SignResult=@SignResult,DateSigned=@DateSigned,ResultCode=@ResultCode,Xml_Response=@XmlResponse
		WHERE Id_Proceso_Autorizacion_Firma = @Id_Proceso_Autorizacion_Firma
	END TRY

	BEGIN CATCH
		SET @CodigoRespuesta = 1;
		SET @DescRespuesta = 'Error al guardar. No registrado'
	END CATCH

	SELECT @CodigoRespuesta AS Codigo, @DescRespuesta AS Descripcion, @Id_Proceso_Autorizacion_Firma AS IdProceso
END
